{% extends "layout.html" %}
{% block page_title %}
SSCS form download - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="01-benefit-type" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      You need to download an appeal form 
    </h1>
    <p>Download and fill out a [form name] form to appeal a [benefit type] benefit decision. 
    </p>
    <form>
      <a class="button" href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?original_id=3038">Continue to form download</a>
    </form>
  </div>
</div>
</main>
{% endblock %}