{% extends "layout.html" %}
{% block page_title %}
Your details (Appointee) - Appeal a benefit decision - GOV.UK

{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="../prototype-beta-18/submit-your-appeal/004-appointee" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Enter your details
    </h1>
    <p>We’ll use these to send you information about the appeal.</p>
    <form>
      <fieldset>
        <div class="form-group">
          <!-- Firstname, surname -->
          <label class="form-label" for="first-name">
            First name(s)
          </label>
          <input class="form-control form-control-3-4" id="form-control-3-4" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="Last name">
            Last name(s) 
          </label>
          <input class="form-control form-control-3-4" id="form-control-3-4" type="text">
        </div>
        
        <!-- Address line 1--> 
        <div class="form-group">
          <label class="form-label" for="addressLine1">
            Address line 1
          </label>
         <!-- <textarea class="form-control form-control-3-4" id="textarea-a" cols="90" rows="4"></textarea>
       </div> -->
       <input class="form-control form-control-3-4" id="form-control-3-4" type="text">
     </div>
     <!-- Address line 2--> 
     <div class="form-group">
      <label class="form-label" for="addressLine2">
        Address line 2 (optional)
      </label>
      <input class="form-control form-control-3-4" id="form-control-3-4" type="text">
    </div>
    <!-- Town --> 
    <div class="form-group">
      <label class="form-label" for="town">
        Town/City
      </label>
      <input class="form-control form-control-3-4" id="form-control-3-4" type="text">
    </div>
    <!-- Postcode --> 
    <div class="form-group">
      <label class="form-label" for="postcode">
        Postcode
      </label>
      <input class="form-control form-control-1-4" id="form-control-1-4" type="text">
    </div> 
    <!-- Phone number --> 
    <div class="form-group">
      <label class="form-label" for="phone-number">
        Phone number (optional)
         <span class="form-hint">We may use this to contact you about your appeal</span>
      </label>

      
      <input class="form-control form-control-2-4" id="form-control-2-4" type="text"> 
    </div>
    <div class="form-group">
      <label class="form-label" for="form-control-1-4">
        Email address (optional)
        <span class="form-hint">We’ll use this to email you updates about your appeal</span></label>
        <input class="form-control form-control-3-4" id="form-control-3-4" type="text"> 
      </div> 
    </fieldset>
    <a class="button" href="../prototype-beta-18/submit-your-appeal/005-sms-sign-up">Continue</a>
  </form>
</div>
</div>
</main>
{% endblock %}