{% extends "layout.html" %}
{% block page_title %}
SMS reminders (Appointee) - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="004-their-details-appointee" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
     Do you want to receive text message reminders?
   </h1>
   <p>You’ll only get them when you need to do something important, like send evidence or go to the hearing.</p>
   <a class="button" href="006-sms-mobile-number-provided-appointee">Sign up</a>
   <br/>  <br/>
   <p><a href="008-representative-appointee">No thanks</a></p>
 </div>
</div>
</main>
{% endblock %}