{% extends "layout.html" %}
{% block page_title %}
Your supporters details details - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
       <a href="#" class="link-back">Back</a> 
 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      PROTOTYPE UNDER DEVELOPMENT
    </h1>
    <p><a href="../prototype-beta-18/submit-your-appeal/010-update-anyone-else">Go back</a></p>
    
  </div>
</div>
</main>
{% endblock %}