{% extends "layout.html" %}
{% block page_title %}
Sending evidence - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
       <a href="011-why-are-you-appealing" class="link-back">Back</a> 
  
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Sending evidence to support the appeal 
            </h1>
<p>If you have any evidence, it should be sent to us as early as possible to avoid delaying the appeal. </p>

<p>Evidence is anything which shows how the person’s condition affects their life. Such as a doctor’s report or letter. Or a written statement by someone who knows them. 

<p>You can send this to us after you’ve submitted the appeal. We’ll send you details of how to do this by post and email, if you’ve provided an email address. 
</p>

<form>

  <a class="button" href="013-your-hearing-appointee">Continue</a>

</form>
            
        </div>

    </div>
    


</main>

{% endblock %}