{% extends "layout.html" %}
{% block page_title %}
Sending evidence - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="011-why-are-you-appealing" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Sending evidence to support your appeal 
    </h1>
    <p>Evidence includes anything which shows how your condition affects your life, such as a letter from your doctor or healthcare professional. </p>
    <p>You or someone who knows you could also write a statement. It all helps the tribunal understand your appeal.</p>  
    <p>Send in any evidence as soon as possible after you’ve submitted your appeal. This is so there’s time to read it before your hearing. </p>
    <p>You’ll get a letter [and an email] telling you the address to post your evidence a few days after submitting your appeal. 
    </p>
    <form>
      <a class="button" href="013-your-hearing">Continue</a>
    </form>
  </div>
</div>
</main>
{% endblock %}