{% extends "layout.html" %}
{% block page_title %}
Sending evidence - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
       <a href="011-why-are-you-appealing" class="link-back">Back</a> 
  
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Sending evidence to support the appeal 
            </h1>
<p>Evidence includes anything which shows how the claimant’s condition affects their life, such as a letter from their doctor or healthcare professional. </p>

<p>You or someone who knows them could also write a statement. It all helps the tribunal understand the appeal.</p> 

<p>Please send in any evidence as soon as possible after you’ve submitted the appeal. This is so there’s time to read it before the hearing. You’ll get an email and a letter telling you the address to post it after you’ve submitted the appeal.  
</p>

<form>

  <a class="button" href="013-your-hearing-appointee">Continue</a>

</form>
            
        </div>

    </div>
    


</main>

{% endblock %}