{% extends "layout.html" %}
{% block page_title %}
Check benefit appeal answers (appointee) - Appeal a benefit decision - GOV.UK 
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        Check your appeal
      </h1>
      <!-- Benefit type -->
      <h2 class="heading-medium">Benefit</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Name of benefit
          </dt>
          <dd class="cya-answer">
            Personal Independence Payment (PIP)
          </dd>
          <dd class="cya-change">
            <a href="001-benefit-type">
              Change<span class="visually-hidden"> name of benefit</span>
            </a>
          </dd>
        </div>
      </dl>
      <!-- Mandatory Reconsideration Notice (MRN) -->
      <h2 class="heading-medium">Mandatory Reconsideration Notice (MRN)</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Date sent
          </dt>
          <dd class="cya-answer">
            2 September 2017
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> date MRN Sent</span>
            </a>
          </dd>
        </div>
      </dl>
      <!-- Appointee -->
      <h2 class="heading-medium">Appointee</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Are you an appointee?
          </dt>
          <dd class="cya-answer">
            Yes
          </dd>
          <dd class="cya-change">
            <a href="004-appointee">
              Change<span class="visually-hidden"> appointee</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            Appointee name
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> appointee name</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Date of birth
          </dt>
          <dd class="cya-answer">
            12.03.1971
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> appointee date of birth</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            National Insurance number
          </dt>
          <dd class="cya-answer">
            NP 27 28 67
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> appointee National Insurance number</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Address
          </dt>
          <dd class="cya-answer">
           <p>122 Breach Street<br/>
            Newcastle<br/>
            NE1 2HB<br/></p>
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> appointee address</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Email
          </dt>
          <dd class="cya-answer">
            appointee.name@gmail.com
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> appointee email</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Phone number
          </dt>
          <dd class="cya-answer">
            0797 243 8179
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> appointee phone number</span>
            </a>
          </dd>
        </div>
      </dl>




      <!-- Claimant -->
      <h2 class="heading-medium">Claimant</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        
        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            Claimant name
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> claimant name</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Date of birth
          </dt>
          <dd class="cya-answer">
            12.03.1971
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> claimant date of birth</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            National Insurance number
          </dt>
          <dd class="cya-answer">
            NP 27 28 67
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> claimant National Insurance number</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Address
          </dt>
          <dd class="cya-answer">
           <p>122 Breach Street<br/>
            Newcastle<br/>
            NE1 2HB<br/></p>
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> claimant address</span>
            </a>
          </dd>
        </div>

      </dl>


      <!-- Text reminders -->
      <h2 class="heading-medium">Text reminders</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        
        <div>
          <dt class="cya-question">
            Receive text message reminders
          </dt>
          <dd class="cya-answer">
            Yes
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> text reminders</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Mobile number
          </dt>
          <dd class="cya-answer">
            0797 243 8179
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> mobile number for text reminders</span>
            </a>
          </dd>
        </div>
      </dl>

      <!-- Representative -->
      <h2 class="heading-medium">Representative</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Register a representative
          </dt>
          <dd class="cya-answer">
            Yes
          </dd>
          <dd class="cya-change">
            <a href="004-appointee">
              Change<span class="visually-hidden">register a representative</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            Representative name
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden">representative name</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Organisation
          </dt>
          <dd class="cya-answer">
            Citizens Advice Buerau
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> representatives organisation</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
           Address
            
          </dt>
          <dd class="cya-answer">
            <p>Ground Floor<br/>
            Gazette Buildings<br/>
            168 Corporation Street<br/>
            Newcastle<br/>
            NE2 6TF</p>
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> representatives address</span>
            </a>
          </dd>
        </div>
        
        <div>
          <dt class="cya-question">
            Email
          </dt>
          <dd class="cya-answer">
            peter.smith@cab.org.uk
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> representatives email</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Phone number
          </dt>
          <dd class="cya-answer">
            03444 77 1010
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> representatives phone number</span>
            </a>
          </dd>
        </div>
      </dl>


 <!-- Reasons for appealing -->
      <h2 class="heading-medium">Reasons for appealing</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        
        <div>
          <dt class="cya-question">
            What you disagree with<br/>
            Why you disagree with it
          </dt>
          <dd class="cya-answer">
            I can't use a computer for long periods of time<br/>
            Since my stroke I have had trouble focussing. Using a computer gives me headaches and i need to take regular breaks and my consultant told me i should not use one. I cannot do a job which needs me to use a computer. 
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> 1st reason for appealing</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            What you disagree with<br/>
            Why you disagree with it
          </dt>
          <dd class="cya-answer">
            I have trouble remembering people’s names. I get very anxious before social situations. I try to avoid them because i don't want to offend people by forgetting their name. 
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> 2nd reason for appealing</span>
            </a>
          </dd>
        </div>
                <div>
          <dt class="cya-question">
            Anything else you want to tell the tribunal<br/>
        
          </dt>
          <dd class="cya-answer">
            I told the assessor about my condition but he did not listen to me.  
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> anything else you want to tell the tribunal</span>
            </a>
          </dd>
        </div>
      </dl>


      <!-- The hearing -->
      <h2 class="heading-medium">The hearing</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        
        <div>
          <dt class="cya-question">
            Attending the hearing
          </dt>
          <dd class="cya-answer">
            Yes
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> attending the hearing</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Dates you're not availabile to attend
          </dt>
          <dd class="cya-answer">
            12 December 2017 to 13 December 2017
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> Dates you're not availabile to attend</span>
            </a>
          </dd>
        </div>
      </dl>


 <!-- The hearing arrangements -->
      <h2 class="heading-medium">Hearing arrangements</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        
        <div>
          <dt class="cya-question">
            Attending the hearing
          </dt>
          <dd class="cya-answer">
            Yes
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> attending the hearing</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Dates you're not availabile to attend
          </dt>
          <dd class="cya-answer">
            12 December 2017 to 13 December 2017
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> Dates you're not availabile to attend</span>
            </a>
          </dd>
        </div>
      </dl>

      <br/>
      <h2 class="heading-medium">Sign and submit </h2>
      <p>The information I have provided in this appeal is accurate, to the best of my knowledge. </p>
      <p>[if chosen rep] I give permission for the tribunal to correspond with my named representative about my appeal.</p>
      <div class="form-group">
        <h3 class="heading-small">
          Enter your name
          <span class="form-hint">This should be the name of the appointee</span></h3>
          <input class="form-control form-control-2-4" id="form-control-3-4" type="text"> 
        </div>
        <div class="form-group">
          <a class="button" href="018-confirmation-appointee">Submit your appeal</a>
        </div>
      </div>
    </main>
    {% endblock %}