{% extends "layout.html" %}
{% block page_title %}
Check benefit appeal answers (appointee) - Appeal a benefit decision - GOV.UK 
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        Check your appeal
      </h1>
      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="heading-medium">Benefit</h2>
      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `cya-questions-short` for short questions -->
      <!--   * `cya-questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <!-- Benefit name -->
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Name of benefit
          </dt>
          <dd class="cya-answer">
            Personal Independence Payment (PIP)
          </dd>
          <dd class="cya-change">
            <a href="001-benefit-type">
              Change<span class="visually-hidden"> name of benefit</span>
            </a>
          </dd>
        </div>
      </dl>
      <!-- Mandatory Reconsideration Notice (MRN) -->
      <h2 class="heading-medium">Mandatory Reconsideration Notice (MRN)</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Date sent
          </dt>
          <dd class="cya-answer">
            2 September 2017
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> date MRN Sent</span>
            </a>
          </dd>
        </div>
      </dl>
      <!-- Appointee -->
      <h2 class="heading-medium">Appointee</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Are you an appointee?
          </dt>
          <dd class="cya-answer">
            Yes
          </dd>
          <dd class="cya-change">
            <a href="004-appointee">
              Change<span class="visually-hidden"> appointee</span>
            </a>
          </dd>
        </div>
      </dl>


      <!-- Your details -->
      <h2 class="heading-medium">Your details</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div class="lineheight">
          <dt class="cya-question">
            <p class="pbold">Name </p>
            <p class="pbold">Address<br/><br/><br/></p>
            <p class="pbold">Email</p>
            <p class="pbold">Phone number</p>
          </dt>
          <dd class="cya-answer">
           <p> Your name</p>
           <p> 122 Breach Street<br/>
            Newcastle<br/>
            NE1 2HB<br/></p>
           <p> your.name@gmail.com</p>
           <p> 0191 460 2033</p>
          </dd>
          <dd class="cya-change">
            <p><a href="004-your-details-appointee">
              Change<span class="visually-hidden"> your details</span>
            </a></p>            
           <p> <a href="004-your-details-appointee">
              Change<span class="visually-hidden"> your details</span>
            </a></p>
          </dd>

        </div>
      </dl>

      <!-- Their details -->
      <h2 class="heading-medium">Their details</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div class="lineheight">
          <dt class="cya-question">
            <p class="pbold">Name </p>
            <p class="pbold">Date of birth </p>
            <p class="pbold">National Insurance number</p>
            <p class="pbold">Address<br/><br/><br/></p>
            
          </dt>
          <dd class="cya-answer">
           <p>Their name</p>
           <p>30.09.1971
           <p>QQ 12 34 56 </p>
           <p>122 Breach Street<br/>
            Newcastle<br/>
            NE1 2HB<br/></p>
           
          </dd>
          <dd class="cya-change">
           <p> <a href="004-their-details-appointee">
              Change<span class="visually-hidden"> their details</span>
            </a></p>
              <p> <a href="004-their-details-appointee">
              Change<span class="visually-hidden"> their details</span>
            </a></p>

                     <p> <a href="004-their-details-appointee">
              Change<span class="visually-hidden"> their details</span>
            </a></p>

                       <p> <a href="004-their-details-appointee">
              Change<span class="visually-hidden"> their details</span>
            </a></p>
          </dd>
        </div>
      </dl>
      <!-- Text message reminders -->
      <h2 class="heading-medium">Text message reminders</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Receive text message reminders
          </dt>
          <dd class="cya-answer">
            Yes
          </dd>
          <dd class="cya-change">
            <a href="005-sms-sign-up">
              Change<span class="visually-hidden"> name of benefit</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Your mobile phone number
          </dt>
          <dd class="cya-answer">
            07979 23 5234
          </dd>
          <dd class="cya-change">
            <a href="006-enter-mobile-number">
              Change<span class="visually-hidden"> Your mobile phone number</span>
            </a>
          </dd>
        </div>
      </dl>
      <!-- Your representative -->
      <h2 class="heading-medium">Your representative</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div class="lineheight">
          <dt class="cya-question">
            <p class="pbold">Register a representative</p>
            <p class="pbold">Name</p>
            <p class="pbold">Organisation</p>
            <p class="pbold">Address<br/><br/><br/><br/><br/></p>
            <p class="pbold">Email</p>
            <p class="pbold">Phone number</p>
          </dt>
          <dd class="cya-answer">
            <p>Yes</p>
            <p>Peter Smith</p>
            <p>Citizens Advice Buerau</p>
            <p>Ground Floor<br/>
            Gazette Buildings<br/>
            168 Corporation Street<br/>
            Newcastle<br/>
            NE2 6TF</p>
            <p>peter.smith@cab.co.uk</p>
            <p>03444 77 1010</p>
          </dd>
          <dd class="cya-change">
           <p> <a href="008-representative">
              Change<span class="visually-hidden"> representatives details</span>
            </a></p>
            <p> <a href="008-representative">
              Change<span class="visually-hidden"> representatives details</span>
            </a></p>
          </dd>

        </div>
      </dl>
      <!-- Reasons for appealing -->
      <h2 class="heading-medium">Reasons for appealing</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            What you disagree with on the MRN
          </dt>
          <dd class="cya-answer">
            <p>I can't use a computer for long periods of time</p>
            <p>That i am able to cope with social situations</p>
          </dd>
          <dd class="cya-change">
            <a href="011-why-are-you-appealing">
              Change<span class="visually-hidden"> what you disagree with</span>
            </a>
          </dd>
        </div>
      </dl>
      <!-- Your hearing -->
      <h2 class="heading-medium">Your hearing</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Attending your hearing
          </dt>
          <dd class="cya-answer">
            Yes
          </dd>
          <dd class="cya-change">
            <a href="013-your-hearing">
              Change<span class="visually-hidden"> attend hearing</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Dates not availabile to attend
          </dt>
          <dd class="cya-answer">
            12 October 2017 to 13 October 2017
          </dd>
          <dd class="cya-change">
            <a href="http://xr0nsn.axshare.com/hearing_availability.html">
              Change<span class="visually-hidden"> dates not availabile to attend</span>
            </a>
          </dd>
        </div>
      </dl>
      <h2 class="heading-medium">Your hearing arrangements</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div class="lineheight">
          <dt class="cya-question">
            <p class="pbold">Language interpreter</p>
            <p class="pbold">Sign interpreter</p>
            <p class="pbold">Hearing loop</p>
            <p class="pbold">Disabled access</p>
            <p class="pbold">Anything else we need to know</p>
          </dt>
          <dd class="cya-answer">
            <p>Not required</p>
            <p>Not required</p>
            <p>Not required</p>
           <p> Not required</p>
            <p>Not required
          </dd>
          <dd class="cya-change">
            <a href="015-hearing-arrangements">
              Change<span class="visually-hidden"> hearing arrangements</span>
            </a>
          </dd>
        </div>
      </dl>
      <br/>
      <h2 class="heading-medium">Sign and submit </h2>
      <p>The information I have provided in this appeal is accurate, to the best of my knowledge. </p>
      <p>[if chosen rep] I give permission for the tribunal to correspond with my named representative about my appeal.</p>
      <div class="form-group">
        <h3 class="heading-small">
          Enter your name
          <span class="form-hint">This should be the name of the appointee</span></h3>
          <input class="form-control form-control-2-4" id="form-control-3-4" type="text"> 
        </div>
        <div class="form-group">
          <a class="button" href="018-confirmation">Submit your appeal</a>
        </div>
    </div>
  </main>
  {% endblock %}