{% extends "layout.html" %}
{% block page_title %}
Check benefit appeal answers (appointee) - Appeal a benefit decision - GOV.UK 
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        Check your appeal
      </h1>
      <!-- Benefit type -->
      <h2 class="heading-medium">Benefit</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Name of benefit
          </dt>
          <dd class="cya-answer">
            Personal Independence Payment (PIP)
          </dd>
          <dd class="cya-change">
            <a href="001-benefit-type">
              Change<span class="visually-hidden"> name of benefit</span>
            </a>
          </dd>
        </div>
      </dl>
      <!-- Mandatory Reconsideration Notice (MRN) -->
      <h2 class="heading-medium">Mandatory Reconsideration Notice (MRN)</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Date sent
          </dt>
          <dd class="cya-answer">
            2 September 2017
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> date MRN Sent</span>
            </a>
          </dd>
        </div>
      </dl>
      <!-- Claiment details -->
      <h2 class="heading-medium">Your details</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Are you an appointee?
          </dt>
          <dd class="cya-answer">
            No
          </dd>
          <dd class="cya-change">
            <a href="004-appointee">
              Change<span class="visually-hidden"> appointee</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            <p class="pbold">First name(s)</p>
            <p class="pbold">Last name(s)</p>
          </dt>
          <dd class="cya-answer">
            <p>Your first name(s)</p>
            <p>Your last name(s)</p>
          </dd>
          <dd class="cya-change">
            <a href="004-your-name">
              Change<span class="visually-hidden"> your name</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Date of birth
          </dt>
          <dd class="cya-answer">
            12.03.1971
          </dd>
          <dd class="cya-change">
            <a href="004-your-dob">
              Change<span class="visually-hidden"> your date of birth</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            National Insurance number
          </dt>
          <dd class="cya-answer">
            NP 27 28 67
          </dd>
          <dd class="cya-change">
            <a href="004-your-nino">
              Change<span class="visually-hidden"> your National Insurance number</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            <p class="pbold">Address<br/><br/><br/></p>
            <p class="pbold">Email<br/></p>
            <p class="pbold">Phone number</p>
          </dt>
          <dd class="cya-answer">
           <p>122 Breach Street<br/>
            Newcastle<br/>
            NE1 2HB<br/></p>
            <p>your.name@gmail.com</p>
            <p>0797 243 8179</p>
          </p>
        </dd>
        <dd class="cya-change">
          <a href="004-your-contact-details">
            Change<span class="visually-hidden"> appointee address</span>
          </a>
        </dd>
      </div>
    </dl>
    <!-- Text reminders -->
    <h2 class="heading-medium">Text reminders</h2>
    <dl class="govuk-check-your-answers cya-questions-short">
      <div>
        <dt class="cya-question">
          Receive text message reminders
        </dt>
        <dd class="cya-answer">
          Yes
        </dd>
        <dd class="cya-change">
          <a href="005-sms-sign-up-appointee">
            Change<span class="visually-hidden"> receive text reminders</span>
          </a>
        </dd>
      </div>
      <div>
        <dt class="cya-question">
          Mobile number
        </dt>
        <dd class="cya-answer">
          0797 243 8179
        </dd>
        <dd class="cya-change">
          <a href="006-sms-mobile-number">
            Change<span class="visually-hidden"> mobile number for text reminders</span>
          </a>
        </dd>
      </div>
    </dl>
    
  </dl>
  <!-- Representative -->
  <h2 class="heading-medium">Representative</h2>
  <dl class="govuk-check-your-answers cya-questions-short">
    <div>
      <dt class="cya-question">
        Register a representative
      </dt>
      <dd class="cya-answer">
        Yes
      </dd>
      <dd class="cya-change">
        <a href="008-representative">
          Change<span class="visually-hidden">register a representative</span>
        </a>
      </dd>
    </div>
    <div>
      <dt class="cya-question">
        <p class="pbold">First name(s)</p>
        <p class="pbold">Last name(s)</p>
        <p class="pbold">Organisation</p>
        <p class="pbold">Address<br/><br/><br/></p>
        <p class="pbold">Email</p>
        <p class="pbold">Phone number</p>
      </dt>
      <dd class="cya-answer">
        <p>Representative first name(s)</p>
        <p>Representative last name(s)</p>
        <p>Ground Floor<br/>
          Gazette Buildings<br/>
          168 Corporation Street<br/>
          Newcastle<br/>
        NE2 6TF</p>
        <p>peter.smith@cab.org.uk</p>
        <p>03444 77 1010</p>
      </dd>
      <dd class="cya-change">
        <a href="009-reps-details">
          Change<span class="visually-hidden">representative name</span>
        </a>
      </dd>
    </div>
  </dl>
  <!-- Reasons for appealing -->
  <h2 class="heading-medium">Reasons for appealing</h2>
  <dl class="govuk-check-your-answers cya-questions-short">
    <div>
      <dt class="cya-question">
        <p class="pbold"> What you disagree with</p>
        <p class="pbold"> Why you disagree with it</p>
      </dt>
      <dd class="cya-answer">
        <p>I can't use a computer for long periods of time</p>
        <p>Since my stroke I have had trouble focussing. Using a computer gives me headaches and i need to take regular breaks and my consultant told me i should not use one. I cannot do a job which needs me to use a computer. </p>
      </dd>
      <dd class="cya-change">
        <a href="http://fngwu7.axshare.com/#c=2"> <!-- onPageLoad open the relevant accordion panel -->
          Change<span class="visually-hidden"> 1st reason for appealing</span>
        </a>
      </dd>
    </div>
    <div>
      <dt class="cya-question">
       <p class="pbold"> What you disagree with</p>
        <p class="pbold">Why you disagree with it</p>
      </dt>
      <dd class="cya-answer">
        <p>That i am able to cope with social situations</p>
          <p>I have trouble remembering people’s names. I get very anxious before social situations. I try to avoid them because i don't want to offend people by forgetting their name. </p>
      </dd>
      <dd class="cya-change">
        <a href="http://fngwu7.axshare.com/#c=2"> <!-- onPageLoad open the relevant accordion panel -->
          Change<span class="visually-hidden"> 2nd reason for appealing</span>
        </a>
      </dd>
    </div>
    <div>
      <dt class="cya-question">
        Anything else you want to tell the tribunal<br/>
      </dt>
      <dd class="cya-answer">
        I told the assessor about my condition but he did not listen to me.  
      </dd>
      <dd class="cya-change">
        <a href="011-additional-reasons">
          Change<span class="visually-hidden"> anything else you want to tell the tribunal</span>
        </a>
      </dd>
    </div>
  </dl>
  <!-- The hearing -->
  <h2 class="heading-medium">The hearing</h2>
  <dl class="govuk-check-your-answers cya-questions-short">
    <div>
      <dt class="cya-question">
        Attending the hearing
      </dt>
      <dd class="cya-answer">
        Yes
      </dd>
      <dd class="cya-change">
        <a href="013-your-hearing">
          Change<span class="visually-hidden"> attending the hearing</span>
        </a>
      </dd>
    </div>
    <div>
      <dt class="cya-question">
        Dates you're not availabile to attend
      </dt>
      <dd class="cya-answer">
        12 December 2017 to 13 December 2017
      </dd>
      <dd class="cya-change">
        <a href="016-hearing-dates-nonjs">
          Change<span class="visually-hidden"> dates you're not availabile to attend</span>
        </a>
      </dd>
    </div>
  </dl>
  <!-- The hearing arrangements -->
  <h2 class="heading-medium">Hearing arrangements</h2>
  <dl class="govuk-check-your-answers cya-questions-short">
    <div>
      <dt class="cya-question">
        <p class="pbold">Language interpreter</p>
        <p class="pbold">Sign interpreter</p>
        <p class="pbold">Hearing loop</p>
        <p class="pbold">Disabled access</p>
        <p class="pbold">Anything else we need to know</p>
      </dt>
      <dd class="cya-answer">
        <p>Not required</p>
        <p>Not required</p>
        <p>Not required</p>
        <p>Required</p>
        <p>Not required</p>
      </dd>
      <dd class="cya-change">
        <a href="015-hearing-arrangements">
          Change<span class="visually-hidden"> language interpreter required</span>
        </a>
      </dd>
    </div>
  </dl>
  <br/>
  <h2 class="heading-medium">Sign and submit </h2>
  <p>The information I have provided in this appeal is accurate, to the best of my knowledge. </p>
  <p>[if chosen rep] I give permission for the tribunal to correspond with my named representative about my appeal.</p>
  <div class="form-group">
    <h3 class="heading-small">
      Enter your name
      </h3>
      <input class="form-control form-control-2-4" id="form-control-3-4" type="text"> 
    </div>
    <div class="form-group">
      <a class="button" href="018-confirmation-appointee">Submit your appeal</a>
    </div>
  </div>
</main>
{% endblock %}