{% extends "layout.html" %}
{% block page_title %}
Benefit appeal submitted - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-box-highlight">
     <h1 class="bold-large">
      Your appeal has been submitted
    </h1>
  </div>
  <div class="progress-container">
   <img src="/public/images/bs11/progress-bar-appeal-received.svg" width=100%>
 </div>
 <div class="description">
            <h4 class="heading-small">What happens next</h4>

            <p>We’ll notify DWP of your appeal. They have until 17 November 2017 to respond. We’ll contact you and explain the next steps when they reply. </p>

            <!-- <h4 class="heading-small">Look out for letters and emails from the tribunal</h4> -->

            <p>The tribunal may need to contact you and ask you some additional questions. It’s important that you reply as soon as you can if they do.</p>
</div>

 <p>You’ll get an email and text message from us within 3 working days. This will have a link so you can track your appeal online. 
</p>

 <p><a href="/public/images/pdf/J-Smith-PIP-Benefit-Appeal.pdf">Download, view or print a copy of your appeal submission</a></p>
</div>
</div>
</main>
{% endblock %}