<!-- CSS -->
<link rel="stylesheet" href="/public/font-awesome/css/font-awesome.min.css">

<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/sscs.js"></script>
<script src="/public/javascripts/dropzone.js"></script>
<script src="/public/javascripts/file-upload.js"></script>
<script src="/public/javascripts/date-picker/bootstrap-datepicker1.8.0.min.js"></script>
<script src="/public/javascripts/lodash-4.17.0.js"></script>
<script src="/public/javascripts/moment.min.js"></script>
<script src="/public/javascripts/date-picker/date-picker.js"></script>
<script src="/public/javascripts/auto-complete/autocomplete.js"></script>
<script src="/public/javascripts/auto-complete/init-auto-complete.js"></script>

<script type="text/javascript">
    window.__8x8Chat = {
        uuid: "script_2564970475c5c433ab52c08.45062085",
        tenant: "aG1jdHNzdGFnaW5nMDE",
        channel: "SSCS_Demo",
        domain: "https://vcc-eu4.8x8.com",
        path: "/.",
        buttonContainerId: "chat-button-container",
        align: "right",
		stylesheetURL: "https://cdn.jsdelivr.net/gh/hmcts/ctsc-web-chat/hmcts-webchat.css",
		linkText: 'Web chat (opens in a new window)',
        additionalText: '(Monday to Friday, 9am to 5pm)',
		onInit: function(bus) {
            window.bus=bus;

           
            // Replace the 8x8 image with a text link (thanks Luca)

                const chatContainer = document.querySelector(`#${window.__8x8Chat.buttonContainerId}`);

                const replaceChatLink = () => {

                const chatImg = document.querySelector(`#${window.__8x8Chat.buttonContainerId} img`);

                if (chatImg) {

                    const chatLink = document.querySelector(`#${window.__8x8Chat.buttonContainerId} a`);

                    const br = document.createElement('br');

                    const additionalText = document.createTextNode(window.__8x8Chat.additionalText);

                    chatLink.innerHTML = null;

                    chatLink.innerText = window.__8x8Chat.linkText;

                    chatContainer.appendChild(br);

                    chatContainer.appendChild(additionalText);

                }

            };

            if (chatContainer) {

                replaceChatLink();

                const mutationObserver = new MutationObserver(replaceChatLink);

                mutationObserver.observe(chatContainer, {

                    childList: true,

                });

            }

        }

    };

 

    (() => {

        const se = document.createElement("script");

        se.type = "text/javascript";

        se.async = true;

        se.src = `${window.__8x8Chat.domain}${window.__8x8Chat.path}/CHAT/common/js/chat.js`;

 

        const os = document.getElementsByTagName("script")[0];

        os.parentNode.insertBefore(se, os);

    })();
   

</SCRIPT>
