{% extends "layout.html" %}
{% block page_title %}
Page not found - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 {% include "includes/breadcrumbs.html" %}
 <div class="grid-row">
  <div >
    <h1 class="heading-large">
      Sorry, we’re experiencing technical difficulties
    </h1>
    <p>Please try again in a few minutes.</p>
    <p>If you want help with your appeal you can call 0300 123 1142.</p>
  </div>
  <div class="column-third">
  </div>
</div>
</main>
{% endblock %}