{% extends "layout.html" %}
{% block page_title %}
Page not found - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
   {% include "includes/phase_banner_beta.html" %} 
   {% include "includes/breadcrumbs.html" %}
   <div class="grid-row">
    <div >
        <h1 class="heading-large">
            Sorry, you'll have to start again
        </h1>
        <p>Your session automatically ends if you don't use this service for 30 minutes.</p>
        <p>Your details have been deleted. We do this for your security. </p>
    </div>
<a class="button" href="../guidance/start-an-appeal">Start again</a>
</div>
</main>
{% endblock %}