{% extends "layout.html" %}
{% block page_title %}
Stop recieving email updates - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                You’ll stop receiving email updates and reminders about your <span style="">ESA benefit</span>  appeal. 
            </h1>
            

<br/>
   
  <a class="button" href="feedback">Confirm</a>
  <br/>
   <br/>
  <a href="manage-email-notifications-unsubscribe">Cancel</a>

            <div class="prototype-nav">
            <p><a href="../index">Index</a></p>
            </div>


</main>

{% endblock %}