{% extends "layout.html" %}
{% block page_title %}
Are you an appointee? - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
    {% include "includes/phase_banner_beta.html" %}
       {% include "includes/back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Are you an 'appointee'?
            </h1>


            <p>This is someone who’s been appointed by DWP to act on behalf of someone who is unable to deal with their benefit claim. For example, a parent who is claiming on behalf of a child.</p>
            
            <form  action="/prototype-14/appointee" method="post">

                <div class="form-group">

                    <fieldset>

                        <legend class="visually-hidden">Are you an appointee?</legend>

                        <label class="block-label selection-button-radio" for="radio-1">
                            <input id="radio-1" type="radio" name="radioGroup" value="appointee">
                            Yes
                        </label>

                        <label class="block-label selection-button-radio" for="radio-2">
                            <input id="radio-2" type="radio" name="radioGroup" value="nonAppointee">
                            No
                        </label>

                    </fieldset>

                </div>

                <input type="submit" class="button" value="Continue">

            </form>

        </div>

    </div>

    


</main>

{% endblock %}