{% extends "layout.html" %}
{% block page_title %}
Your representatives details - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
        {% include "includes/back.html" %}

 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Enter their details
    </h1>
    <p>If your representative is from a national organisation, provide contact details of the local office dealing with your appeal. You can find these details on any letter you’ve received from them, or their website. </p>
    <form>
  
        <fieldset>
    <div class="form-group">
          <!-- Firstname, Lastname -->
          <label class="form-label" for="first-name">
            First name
          </label>
          <input class="form-control form-control-3-4" id="form-control-3-4" type="text">
          </div>

    <div class="form-group">
          <label class="form-label" for="lastname">
            Last name(s) 
          </label>
          <input class="form-control form-control-3-4" id="form-control-3-4" type="text">
          </div>

          <!-- Name of the organisation --> 
     <div class="form-group">
          <label class="form-label" for="organisation">
            Name of the organisation (if relevant)
          </label>
          <input class="form-control form-control-3-4" id="form-control-3-4" type="text">  
</div>

          <!-- Address --> 
               <div class="form-group">

          <label class="form-label" for="address">
            Address
          </label>
          <textarea class="form-control form-control-3-4" id="textarea-a" cols="90" rows="4"></textarea>
          </div>

          <!-- Postcode --> 
               <div class="form-group">

          <label class="form-label" for="postcode">
            Postcode
          </label>
          <input class="form-control form-control-1-4" id="form-control-3-4" type="text">
          </div> 
          <!-- Phone number --> 
               <div class="form-group">

          <label class="form-label" for="phone-number">
            Phone number
          </label>
          <input class="form-control form-control-2-4" id="form-control-3-4" type="text"> 
          </div>
          <!-- Email address --> 
               <div class="form-group">

          <label class="form-label" for="form-control-1-4">
            Email address
          </label>
          <input class="form-control form-control-3-4" id="form-control-3-4" type="text"> 
          </div>


        </fieldset>
      <a class="button" href="../prototype-beta-14/submit-your-appeal/010-update-anyone-else">Continue</a>
    </form>
  </div>
</div>

</main>
{% endblock %}