{% extends "layout.html" %}
{% block page_title %}
Your representatives details - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      PROTOTYPE UNDER DEVELOPMENT
    </h1>
    <p><a href="../prototype-beta-10/submit-your-appeal/010-update-anyone-else">Go back</a></p>
    
  </div>
</div>
            <div class="prototype-nav">
            <p><a href="index">Index</a></p>

            </div>
</main>
{% endblock %}