{% extends "layout.html" %}

{% block page_title %}
  Track your appeal - HMCTS
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">

  {% include "includes/sscs-alpha.html" %}
  {% include "includes/sscs-breadcrumbs.html" %}

  <form action="/prototype-8/validatemulti" method="get" class="form">

    <h1 class="form-title heading-xlarge">
      Track your benefit appeal
    </h1>

    <div class="form-group">
      <label class="form-label">Enter your appeal reference number</label>
      <p class="form-hint">You can find this on any letter you’ve received about your benefit appeal. For example SC242/16/03435</p>
      <span>SC </span>
      <input style="width: 67px;" type="text" class="form-control" name="caseref1" value="" maxlength="3">
      <span>/</span>
      <input style="width: 55px;" type="text" class="form-control" name="caseref2" value="" maxlength="2">
      <span>/</span>
      <input style="width: 90px;" type="text" class="form-control" name="caseref3" value="" maxlength="5">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Find appeal">
    </div>

  </form>

</main>
{% endblock %}
