{% extends "layout.html" %}
{% block page_title %}
Help with your appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 {% include "includes/breadcrumbs.html" %}
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Appeal a benefit decision</h1>
    <div id="nav-links">
      <ol class="nav-list">
        <li><a href="overview">Overview</a></li>
        <li><a href="before-you-appeal">Before you appeal</a></li>
        <li>Help with your appeal</li>
        <li><a href="start-an-appeal">Start an appeal</a></li>
        <li><a href="after-you-appeal">What happens after you’ve appealed</a></li>
      </ol>
    </div>
    <hr>
    <h1 class="heading-large">3. Help with your appeal</h1>
    <p>There’s various help and support you can get for your appeal, from representatives who can advise you to telephone support from the tribunal. </p>
    <h2 class="heading-medium">Representatives</h2> 
    <p>If you think you’ll be unable to manage your appeal on your own you may want the help of a representative. They can help you with some or all of the following: </p>
    <ul class="list list-bullet">
      <li>Advise you on the law in relation to your appeal</li> 
      <li>Help you prepare evidence to support your appeal</li> 
      <li>Help you prepare a written statement for the tribunal</li> 
      <li>Talk to us about your appeal on your behalf  </li>
      <li>Help you explain your appeal at the hearing </li>
      <li>Advise you on what to do after the tribunal has made their decision </li>
    </ul>
    <p>You can assign anyone to be your representative, including friends and family.</p>  
    <p>Anyone who is registered as a representative will be sent confidential information about you, such as medical evidence. They can also make decisions on your appeal but should only do this with your permission. </p>
    <h2 class="heading-medium">Telephone support </h2>
    <p>If you have a question about the appeal process, you can contact the HMCTS Contact Centre. They can’t provide you with legal advice.</p>
    <h3 class="heading-small">England and Wales </h2>
      <p>Telephone: 0300 123 1142<br/> 
        Monday to Friday, 8:30am to 5pm <br/>
        <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
        <h3 class="heading-small">Scotland</h2>
          <p>Telephone: 0141 354 8400<br/>
            Monday to Friday, 8:30am to 5pm<br/>
            <a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
            <h2 class="heading-medium">Financial support </h2>
            <p>The appeal can take several months. If you think you’ll struggle for money you should contact <a href="#">DWP</a>, <a href="https://www.gov.uk/contact-jobcentre-plus/existing-benefit-claims">Jobcentre</a>  or your <a href="">local council</a> to see whether they can help.</p>
          </div>
          <div class="column-third">
            <aside class="govuk-related-items" role="complementary">
              <h2 class="heading-medium" id="subsection-title">Related links</h2>
              <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="font-xsmall">
                  <li><a href="overview">Appeal a benefit decision</a></li>
                  <li><a href="#">Link two</a></li>
                  <li><a href="#">Link three</a></li>       
                </ul>
              </nav>
            </aside>
          </div>
        </div>
      </main>
      {% endblock %}