{% extends "layout.html" %}
{% block page_title %}
Overview - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

<h1 class="heading-xlarge">Appeal a benefit decision</h1>

<div id="nav-links">
<ol class="nav-list">
	<li>Overview</li>
	<li><a href="before-you-appeal">Before you appeal</a></li>
	<li><a href="start-an-appeal">Start an appeal</a></li>
  <li><a href="after-you-appeal">What happens after you’ve appealed</a></li>
	<li><a href="hearing">What happens at the hearing</a></li>
</ol>
</div>

<hr>

<h1 class="heading-large">Overview</h1>

<p>You can appeal if you disagree with a decision that was made about your entitlement to benefits. For example Employment Support Allowance (ESA), Personal Independence Payment (PIP) or Universal Credit (UC).</p>

<p>Your appeal will be decided by an independent tribunal. They will make an impartial decision on your entitlement to benefits.<p>

<h2 class="heading-medium">The benefit decisions you can appeal </h2>

    <ul class="list list-bullet">

<li>Attendance Allowance </li>
<li>Bereavement Benefit </li> 
<li>Carer’s Allowance</li>
<li>Child Benefit </li>
<li>Disability Living Allowance (DLA)</li>
<li>Employment Support Allowance (ESA)</li>
<li>Home Responsibilities Protection</li> 
<li>Housing Benefit</li>
<li>Incapacity Benefit</li> 
<li>Income Support </li>
<li>Industrial Injuries Disablement</li> 
<li>Jobseeker’s Allowance (JSA)</li>
<li>Maternity Allowance </li>
<li>Personal Independence Payment (PIP)</li>
<li>Severe Disablement Allowance </li>
<li>Social Fund </li>
<li>Universal Credit (UC)</li>
</ul>

<p>If you can’t see your benefit on the list it may be because the name has changed. Check the last letter you received about the benefit.</p>


<div class="panel panel-border-wide">
<p>You should appeal within a month after going through mandatory reconsideration.  You might still be able to  appeal after a month, but you’ll need to explain why it’s late.</p>
</div>

 </div>

            <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Related links</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">

                    <li><a href="overview">Appeal a benefit decision</a></li>
                    <li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>       
              
                </ul>

            </nav>
        </aside>
    </div>
</div>
        


</main>

{% endblock %}