{% extends "layout.html" %}
{% block page_title %}
Independent tribunal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 
 <div class="grid-row">
  <div class="column-full">
    <div class="banner-blue">
     <h1 class="bold-xlarge">You’re appealing to an independent tribunal</h1>
    </div>

<p class="lede">Your appeal will be reviewed by an independent panel of people, known as a tribunal. They will consider everything you tell them and make a decision on your entitlement to the benefit.</p>
<p class="lede">The tribunal are separate to DWP.</p>
<form>
  <a class="button" href="002-dwp-office">Continue</a>
</form>
</div>
</div>
</main>
{% endblock %}