{% extends "layout.html" %}
{% block page_title %}
Representative confirm - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="#" class="link-back">Back</a> 
 <div class="grid-row">
   <div class="column-two-thirds">
    <h1 class="heading-large">
      Do you have a representative? 
    </h1>
    <div>     
      <p>Your representative can be anyone who’s helping you with your appeal and you think should be kept updated, such as a welfare rights adviser, family member or carer. </p>
      <p>Registering them means they can: </p> 
      <ul class="list list-bullet">
        <li>receive information about your appeal</li> 
        <li>submit evidence (and see any that’s submitted)</li>
        <li>act on your behalf during your appeal</li>
      </ul>   
    </div>
    <br/>
    <form  action="/prototype-23/representative" method="post">
      <div class="form-group">
        <fieldset>
          <legend class="visually-hidden">Do you have someone who you’d like to be the representative on your appeal?</legend>
          <div class="multiple-choice">
            <input id="radio-1" type="radio" name="radioGroup" value="rep">
            <label for="radio-1">
              Yes, I have a representative 
            </label>
          </div>
          <div class="multiple-choice">
            <input id="radio-2" type="radio" name="radioGroup" value="noRep">
            <label  for="radio-2">
              No, I don’t have a representative
            </label>
          </div>
        </fieldset>
      </div>
      <p>If you don’t have their contact details to hand, you can register them after you have submitted your appeal. </p>
      
      <input type="submit" class="button" value="Continue">
    </form>
  </div>
</div>
</main>
{% endblock %}