{% extends "layout.html" %}
{% block page_title %}
 MRN dated - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
<a href="001-benefit-type" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      When is your Mandatory Reconsideration Notice (MRN) dated?
    </h1>
   <!-- <p>This is the letter you received from DWP when you asked them to reconsider their decision about the PIP benefit.</p> -->
   <img src="/public/images/mrn/mrn-date-001.png" width="100%" alt="Example MRN with the date it was sent highlighted in the top right of the letter"> 
    <br/><br/>
    <form  action="/prototype-190130/mrnDate" method="post">
      <div class="form-group">
        <fieldset>
          <legend>
            <span class="form-label-bold">
              Enter the date from the top right of your MRN letter
            </span>
            <span class="form-hint" id="dob-hint">For example, 27 3 2016</span>
          </legend>
          <div class="form-date">
            <div class="form-group form-group-day">
              <label class="form-label" for="dob-day">Day</label>
              <input class="form-control" id="dob-day" name="day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
            </div>
            <div class="form-group form-group-month">
              <label class="form-label" for="dob-month">Month</label>
              <input class="form-control" id="dob-month" name="month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>
            <div class="form-group form-group-year">
              <label class="form-label" for="dob-year">Year</label>
              <input class="form-control" id="dob-year" name="year" type="number" >
            </div>
          </div>
        </fieldset>
      </div>   
      <input type="submit" class="button" value="Continue">
    </form>

  
         <p class="timeout-note">If you do not do anything for 20 minutes then this service will time out.</p>
        <!--  <p> <a href="#">Save and come back later</a></p>-->

        

    </div>
</div>
</main>
{% endblock %}