{% extends "layout.html" %}
{% block page_title %}
Reason for no MRN - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="003-mrn-date" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Explain why you don’t have a Mandatory Reconsideration Notice (MRN) 
    </h1>

    <p>Provide the date when you contacted DWP about their decision, if you can remember. Your reason will be reviewed before your appeal is lodged.</p>
    <form>
      <div class="form-group">
        <fieldset>
          <label class="form-label" for="textarea">
          </label>
          <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
        </fieldset>
       
    </div>  <a class="button" href="../prototype-beta-190130/submit-your-appeal/003-continue-appeal">Continue</a>
  </form>
<br/>
         <p class="timeout-note">This page will time out in 20 minutes if there is no activity. This is to protect your personal information.</p>
         <!--  <p> <a href="#">Save and come back later</a></p>-->

        

    </div>
</div>
</main>
{% endblock %}