{% extends "layout.html" %}
{% block page_title %}
Create an account - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="004-appointee" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
You need to create an account to save your benefit appeal  
    </h1>
    
<p>Creating an account means you can save, track and manage your appeal online. 
</p>
<a class="button" href="idam-create-account">Create account </a> <a style="padding-left:45px; vertical-align: centre;" href="005-sms-sign-up">Continue without saving </a>


<br/><br/>
         <p class="timeout-note">If you do not do anything for 20 minutes then this service will time out.</p>
    </div>
  </div>
</main>
{% endblock %}


