{% extends "layout.html" %}
{% block page_title %}
Mobile phone number for text notifications - GOV.UK
{% endblock %}
{% block proposition_header %}
  {% include "includes/idam_signout_propositional_navigation_190117.html" %}
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="#" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <form>
      <div class="form-group">
        <fieldset>
          <legend class="visually-hidden">Enter your mobile phone number</legend>
          <label>
            <h1 class="heading-large">
              Enter your mobile phone number
            </h1>
            <p>This is the number where the text messages will be sent. </p>  
          </label>
          <input class="form-control form-control-2-4" id="form-control-2-4" type="text">
        </fieldset>
      </div>



    <div class="grid-row">
      <div class="column-one-quarter">
        <a class="button" href="../prototype-beta-190130/submit-your-appeal/007-sms-confirmation-new-number">Save and continue</a>
      </div>
      <div class="column-two-thirds save-for-later">
        <a href="saved-signed-out">Save and come back later</a></p>  
      </div>
    </div>


    </form>

         <p class="timeout-note">If you do not do anything for 20 minutes then this service will time out.</p> 
       
         {% include "includes/help-contact.html" %}
<!--<p> <a href="#">Save and come back later</a></p>-->
        

    </div>
</div>
</main>
{% endblock %}