{% extends "layout.html" %}
{% block page_title %}
Not attending hearing - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
  {% include "includes/idam_signout_propositional_navigation_190117.html" %}
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
	{% include "includes/phase_banner_beta.html" %} 
	<a href="../prototype-beta-190130/submit-your-appeal/013-your-hearing" class="link-back">Back</a> 
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				You have chosen not to attend the hearing
			</h1>
			<p>You can still send in evidence to support your appeal. You’ll be sent an address where you can post it. You’ll receive this by [email / post] after you’ve submitted your appeal.</p> 

<p>If you change your mind about attending the hearing, you can write to or phone the tribunal. The contact details will be on the first email or letter you receive after submitting your appeal.</p> 

<div class="panel panel-border-wide"><p>Please note that you will not receive any email or SMS updates about your appeal because you are not attending a hearing. </p> </div>
<br/>
 			<a class="button" href="../prototype-beta-190130/submit-your-appeal/017-check-your-answers">Save and continue</a>
 			 <a style="padding-left:45px;" href="004-create-account">Save and come back later</a>

<!--<p> <a href="#">Save and come back later</a></p>-->
  <br/><br/>
         <p class="timeout-note">If you do not do anything for 20 minutes then this service will time out.</p>      

    </div>
</div>
</main>
{% endblock %}
