{% extends "layout.html" %}
{% block page_title %}
The hearing - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
  {% include "includes/idam_signout_propositional_navigation_190117.html" %}
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="012-evidence-reminder" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      The hearing for your appeal 
    </h1>
    <p>Your appeal will be decided using the information you submit in this form and any additional evidence you send in. Information and evidence submitted by DWP will also be considered. </p>
    <p>You can explain your reasons for appealing if you come to the hearing.</p> 
    <p>Support can be arranged for you, such as an interpreter, hearing loop or disabled access.</p>
    <form  action="/prototype-190130/hearing" method="post">
      <div class="form-group">
        <p class="heading-medium">Do you want to attend the hearing?</p>
        <fieldset>
          <legend class="visually-hidden">What do you want to do?</legend>
          <div class="multiple-choice">
            <input id="radio-1" type="radio" name="radioGroup" value="attend">
            <label for="radio-1">
              Yes
            </label>
          </div>
          <div class="multiple-choice">
            <input id="radio-2" type="radio" name="radioGroup" value="notAttend">
            <label for="radio-2">
              No
            </label>
          </div>
        </fieldset>
      </div>
      <input type="submit" class="button" value="Save and continue">
       <a style="padding-left:45px;" href="004-create-account">Save and come back later</a>
    </form>
<br/>
<!--<p> <a href="#">Save and come back later</a></p>-->
        

    </div>
</div>
</main>
{% endblock %}
