{% extends "layout.html" %}
{% block page_title %}
Appeal submitted - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-box-highlight">
     <h1 class="bold-large">
      Your appeal has been submitted
    </h1>
  </div>
  <section class="progress-bar-tya">
      <div class="appeal-received active">
          <div class="ring">
              <img class="tick" src="/public/images/tick2.png" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="current" aria-hidden="true">Appeal</h4>
          <span class="screen-reader-text">Appeal received. This step is complete.</span>
      </div>
      <div class="dwp-respond">
          <div class="leg"></div>
          <div class="ring">
              <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="" aria-hidden="true">DWP Response</h4>
          <span class="screen-reader-text">DWP response. This has not happened yet.</span>
      </div>
      <div class="hearing-booked">
          <div class="leg"></div>
          <div class="ring">
              <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="" aria-hidden="true">Tribunal review</h4>
          <span class="screen-reader-text">Tribunal review. This has not happened yet.</span>
      </div>
      <div class="hearing">
          <div class="leg"></div>
          <div class="ring">
              <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="" aria-hidden="true">Decision</h4>
          <span class="screen-reader-text">Decision on your appeal. This has not happened yet.</span>
      </div>
  </section>
 <div class="description">
  <h4 class="heading-small">What happens next</h4>
<p>DWP now have to respond to your appeal by [date + 35 days from DWP notified of appeal]. You’ll get another email explaining what happens next, after they’ve responded.</p>
  <!--<p>The tribunal may need to contact you and ask you some additional questions. It’s important that you reply as soon as you can. </p>-->
</div>
<!-- <p><span style="color: red;">[If signed up to email only]</span> 
You’ll receive an email with a summary of your appeal. You’ll get another email within 3 working days with an address to post your evidence and a link so you can track your appeal. </p> -->
<!-- <p><span style="color: red;">[If signed up to SMS only] </span> 
You’ll receive a letter confirming your appeal, and a text message within 3 working days to confirm you’re signed up for SMS notifications. </p>
<p><!--<span style="color: red;">[If signed up to email and SMS]</span> 
You’ll receive a letter confirming your appeal, and a text message within 3 working days to confirm you’re signed up for SMS notifications. 
</p> -->
<p><!--<span style="color: red;">[generic MVP message]</span>  -->
  You’ll receive an email and an SMS to confirm you have submitted your appeal. You’ll get another email and SMS within 3 working days with an address to post your evidence and a link so you can track your appeal. 
</p> 
<br/>
<div class="form-group">
  <a class="button" href="019-exit-survey">Continue</a>
</div>
</div>
</div>

<div style="padding-top: 40px; font-size: 14px;">
    <p><a href="journey-manish">Start</a> | <a href="../notifications/email-appeal-received-mvp">Email - Appeal received (MVP)</a></p>
</div> 
</main>
{% endblock %}