{% extends "layout.html" %}
{% block page_title %}
Appeal submitted - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-box-highlight">
     <h1 class="bold-large">
      Your appeal has been submitted
    </h1>
  </div>
  


  <h4 class="heading-medium">What happens next</h4>
  <p>You submitted your PIP benefit appeal on 30 January 2019. You were sent a confirmation by letter and email (if you provided an email address). </p>

  <h2 class="heading-medium">Latest update</h2> 
  <p>Check the last letter you received about your appeal for an update. You will also receive updates by email and SMS, if you signed up. </p>

  <p>Call 0300 123 1142 to sign up to email or SMS notifications about your appeal. </p> 


</div>
</div>


</main>
{% endblock %}