{% extends "layout.html" %}
{% block page_title %}
Saved benefit appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="004-your-details" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
     Your appeal has been saved
   </h1>
  <p>CONTENT EXPLAINING THAT EMAIL WILL BE SENT BUT NEED TO CONFIRM EMAIL ADDRESS FIRST</p>
   <p><a class="button" href="saved-appeal-confirm-email">Continue</a></p>


 </div>
</div>
</main>
{% endblock %}


