{% extends "layout.html" %}
{% block page_title %}
Saved appeal application  - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
Your appeal has been saved 
    </h1>
    
<p>You can return to it by following the link in the email you have just been sent. </p>

<p>You have until [MRN date plus 30 days] to submit your appeal. Otherwise you will have to explain why your appeal is late. 
</p>

<p>Your appeal application will be deleted in X days.</p>


<p><a href="">Sign back into your appeal </a>

    </div>
  </div>
</main>
<p style="font-size: 16px; color: grey; padding-left:30px; float: right;"> <a href="https://track-your-appeal.herokuapp.com/prototype-beta-190130">Index - Testing 30.01.19 </a></p>
{% endblock %}


 