{% extends "layout_unbranded.html" %}

{% block page_title %}
SMS - Evidence reminder - sent (PHER2-T)
{% endblock %}

{% block content %}

<main id="content" role="main" style="margin: 0 auto; width: 450px; text-align: left;">

<a href="../benefit-appeal-evidence"><img src="/public/images/sms/evidence-reminder-SMS-PHER0-T.png"></a>


	<div style="margin-top: 40px; font-size: 14px;">
		<p><a href="sms-dwp-response">DWP response - SMS</a>  | <a href="sms-evidence-received">Evidence received - SMS</a>  </p>
	</div>
   
</main>


{% endblock %}