{% extends "layout_unbranded.html" %}
{% block page_title %}
SMS - Hearing booked
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main" style="margin: 0 auto; width: 450px; text-align: left;">
	<a href="../about-hearing"><img src="/public/images/sms/hearing-booked-sms-mvp.png"></a>
	
	<div style="margin-top: 40px; font-size: 14px;">
		<p><a href="sms-hearing-booked-not-yet">Hearing booked late - SMS</a>  |  <a href="sms-hearing-reminder-1wk-mvp">Hearing reminder 1 week - SMS</a> </p>
	</div>

</main>
{% endblock %}