{% extends "layout_unbranded.html" %}

{% block page_title %}
SMS - Hearing reminder 1 week (PHHR2-T)
{% endblock %}

{% block content %}

<main id="content" role="main" style="margin: 0 auto; width: 450px; text-align: left;">


<a href="../about-hearing"><img src="/public/images/sms/hearing-reminder-SMS-one-week-PHHR1-T-mvp.png"></a>


       <div style="margin-top: 40px; font-size: 14px;">
		<p><a href="sms-hearing-booked">Hearing book - SMS</a>  |  <a href="sms-hearing-reminder-1day-mvp">Hearing reminder 1 day - SMS</a> </p>
	</div>
</main>


{% endblock %}