{% extends "layout_unbranded.html" %}

{% block page_title %}
SSCS Protoypes
{% endblock %}

{% block content %}

<main id="content" role="main">
           <div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png">
          <p class="heading-small">Social Security and Child Support (SSCS)</p>
           </div>

 

           <div class="grid-row">

           	<div class="column-one-third">

           		<img src="/public/images/persona-manish.png" width="90%"  >
           	</div>

           	<div class="column-two-thirds">
           		<h1 class="heading-large">Manish</h1>
           <!--	<h2 class="heading-small">User needs</h2>

           		<ul class="list list-bullet">
           			<li>I need to know where I am in the process and what's going to happen next so that I don’t get stressed </li>
           			<li>I need to be reminded to submit evidence so that my hearing doesn't get adjourned</li>
           			<li>I need accurate information on timeframes so that I know how long each step in the process takes</li>
           		</ul>-->

           		<h3 class="heading-small">Scenario</h3>
           		<p>Manish receives a Mandatory Reconsideration Notice (MRN) from DWP. It tells him they are sticking by their original decision to award his benefits at a reduced rate. He feels he is entitled to more.<p>

              <p>He finds out he can appeal the decision at the bottom of the letter. He searches online and finds the <a href="https://www.gov.uk/social-security-child-support-tribunal/">ESA Appeals Tribunal pages on GOV.UK.</a> From there he downloads the SSCS1 form, fills it out and posts it on Friday.</p>

           		<p>On Monday he starts to wonder whether his appeal has been received. He finds a contact number on GOV.UK and calls the SSCS contact centre.  </p>

           		<p>The agent asks him whether he’d like to sign up for email or text messages to keep him updated with his appeal. He agrees and signs up to emails. He will receive these well as the letters that currently go out. <p>

            <h3 class="heading-small">Prototype</h3>
           		<p>The next day Manish receives an <a href="notifications/email-appeal-received">email confirming that his appeal has been received</a>. </p>

           	</div>
           </div>

</main>

{% endblock %}