{% extends "layout.html" %}

{% block page_title %}
Track your appeal - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">

     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}

    <form action="/prototype-8/validate" method="get" class="form">

        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

            <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                There are errors on the page.
            </h1>

            <ul class="error-summary-list">
                <li><a href="#example-personal-details">{{errorMessages.nomatch[0]}}</a></li>
                <li><a href="#example-personal-details">{{errorMessages.nomatch[1]}}</a></li>
            </ul>

        </div>

        <h1 class="form-title heading-xlarge">
            Track your benefit appeal
        </h1>

        <div class="form-group">
            <label class="heading-medium" for="full-name">Enter your surname</label>
            <p class="form-hint">As it appears on any correspondence about your appeal.</p>
            <input type="text" class="form-control" name="surname" value="{{surname}}">
        </div>

        <div class="form-group">
            <label class="heading-medium" for="full-name">Enter your appeal reference number</label>
            <p class="form-hint">
                As it appears on any correspondence about your appeal. <br/>
                For example SC242/16/03435.</p>
            <span>SC </span><input type="text" class="form-control"  id="full-name" name="reference" value="{{caseRefNumber}}">
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Find appeal">
        </div>

    </form>

</main>
{% endblock %}
