{% extends "layout.html" %}
{% block page_title %}
Overview - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %}
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Appeal a benefit decision</h1>

            <aside class="nav-container" role="complementary">
                <div class="nav-section">
                    <h2>Contents</h2>
                    <ol class="navigation-list">
                        <li>Overview</li>
                        <li><a href="before-you-appeal">Before you appeal</a></li>
                        <li><a href="help-with-appeal">Help with your appeal</a></li>
                        <li><a href="start-an-appeal">Start an appeal</a></li>
                        <li><a href="after-you-appeal">What happens after you’ve appealed</a></li>
                    </ol>
                </div>
            </aside>
        </div>

        <div class="column-two-thirds">

            <h1 class="part-title">Overview</h1>

            <p>You can appeal if you disagree with a decision that was made about your entitlement to benefits. For example Personal Independence Payment (PIP), Employment and Support Allowance (ESA) or Universal Credit. </p>
            <p>Your appeal will be decided by an independent panel of people. They will make an impartial decision on your entitlement to benefits.</p>

            <h2 class="heading-medium">Benefit decisions you can appeal</h2>

            <p>You can appeal a decision about the following benefits using this service:</p>

            <ul class="list list-bullet">
                <li>Attendance Allowance </li>
                <li>Bereavement Benefit </li>
                <li>Carer’s Allowance</li>
                <li>Child Benefit </li>
                <li>Disability Living Allowance (DLA)</li>
                <li>Employment Support Allowance (ESA)</li>
                <li>Home Responsibilities Protection</li>
                <li>Housing Benefit</li>
                <li>Incapacity Benefit</li>
                <li>Income Support </li>
                <li>Industrial Injuries Disablement</li>
                <li>Jobseeker’s Allowance (JSA)</li>
                <li>Maternity Allowance </li>
                <li>Personal Independence Payment (PIP)</li>
                <li>Severe Disablement Allowance </li>
                <li>Social Fund </li>
                <li>Universal Credit (UC)</li>
            </ul>

            <p>If you can’t see your benefit on the list it may be because the name has changed. Check the last letter you received about the benefit.</p>


            <div class="panel panel-border-wide">
                <p>You can appeal up to a month after going through ‘<a href="before-you-appeal">mandatory reconsideration</a>’. You might still be able to appeal after a month but you’ll need to explain why it’s late. </p>
            </div>

            <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="pagination-list">
                    <li class="pagination-item pagination-next">
                        <a class="pagination-link" href="/prototype-beta-180522/submit-your-appeal/guidance/before-you-appeal">
                        <span class="pagination-title">
                            Next
                            <svg class="pagination-icon">
                                <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                            </svg>
                        </span>
                            <span class="visually-hidden">:</span>
                            <span class="pagination-label">Before you appeal</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="column-one-third">
            <aside class="govuk-related-items">
                <h2 class="heading-small">Related Content</h2>
                <nav role="navigation">
                    <ul class="font-xsmall">
                        <li><a href="https://www.gov.uk/benefits-calculators">Benefits calculators</a></li>
                        <li><a href="https://www.gov.uk/benefit-overpayments">Benefit overpayments</a></li>
                        <li><a href="https://www.gov.uk/benefit-fraud">Benefit fraud</a></li>
                    </ul>
                </nav>
                <nav>
                    <h3 class="sub-heading">Explore the topic</h3>
                    <ul class="font-xsmall">
                        <li class="bold"><a href="https://www.gov.uk/browse/benefits/entitlement">How benefits work</a></li>
                        <li class="bold"><a href="https://www.gov.uk/browse/justice/courts-sentencing-tribunals">Courts, sentencing and tribunals</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>

{% endblock %}
