{% extends "layout.html" %}
{% block page_title %}
Start an appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %}
 {% include "includes/breadcrumbs.html" %}
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Appeal a benefit decision</h1>
    <!-- Add navigation -->
      <aside class="nav-container" role="complementary">
          <div class="nav-section">
              <h2>Contents</h2>
              <ol class="navigation-list">
                  <li><a href="overview">Overview</a></li>
                  <li><a href="before-you-appeal">Before you appeal</a></li>
                  <li><a href="help-with-appeal">Help with your appeal</a></li>
                  <li>Start an appeal</li>
                  <li><a href="after-you-appeal">What happens after you’ve appealed</a></li>
              </ol>
          </div>
      </aside>
  </div>

     <div class="column-two-thirds">
    <h1 class="part-title">Start an appeal</h1>
    <p>Use this service to appeal a benefit decision that you don’t agree with. For example, Personal Independence Payment (PIP), Employment and Support Allowance (ESA) or Universal Credit (UC).</p>

    <p>To appeal you’ll need:</p>
  </p>
  <ul class="list list-bullet">
    <li>your <a href="before-you-appeal">Mandatory Reconsideration Notice</a> (read it before you appeal)</li>
    <li>any evidence you want to upload (you can also post it in later)</li>
    <li>your National Insurance number (this will be on any letter about the benefit)</li>
    <li>details of anyone who’s supporting you with your appeal, such as a <a href="help-with-appeal">representative</a> or friend or family member </li>
  </ul>
  <br/>
  <a class="button button-start" href="../001-benefit-type" role="button">Start appeal</a>
<br/><br/>
  <p>This service will time out if there is no activity for 20 minutes. This is to protect your personal information.</p>

         <nav class="pagination" role="navigation" aria-label="Pagination">
             <ul class="pagination-list">
                 <li class="pagination-item pagination-prev">
                     <a class="pagination-link" href="/prototype-beta-180522/submit-your-appeal/guidance/help-with-appeal">
                        <span class="pagination-title">
                            <svg class="pagination-icon">
                                <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                            </svg>
                            Previous
                        </span>
                         <span class="visually-hidden">:</span>
                         <span class="pagination-label">Help with your appeal</span>
                     </a>
                 </li>
                 <li class="pagination-item pagination-next">
                     <a class="pagination-link" href="/prototype-beta-180522/submit-your-appeal/guidance/after-you-appeal">
                        <span class="pagination-title">
                            Next
                            <svg class="pagination-icon">
                                <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                            </svg>
                        </span>
                         <span class="visually-hidden">:</span>
                         <span class="pagination-label">What happens after you’ve appealed</span>
                     </a>
                 </li>
             </ul>
         </nav>

  </div>

     <div class="column-one-third">
         <aside class="govuk-related-items">
             <h2 class="heading-small">Related Content</h2>
             <nav role="navigation">
                 <ul class="font-xsmall">
                     <li><a href="https://www.gov.uk/benefits-calculators">Benefits calculators</a></li>
                     <li><a href="https://www.gov.uk/benefit-overpayments">Benefit overpayments</a></li>
                     <li><a href="https://www.gov.uk/benefit-fraud">Benefit fraud</a></li>
                 </ul>
             </nav>
             <nav>
                 <h3 class="sub-heading">Explore the topic</h3>
                 <ul class="font-xsmall">
                     <li class="bold"><a href="https://www.gov.uk/browse/benefits/entitlement">How benefits work</a></li>
                     <li class="bold"><a href="https://www.gov.uk/browse/justice/courts-sentencing-tribunals">Courts, sentencing and tribunals</a></li>
                 </ul>
             </nav>
         </aside>
     </div>

</div>
</main>
{% endblock %}
