{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Postponed - applellant request (EXHP1-E)
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong>Your ESA benefit appeal</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

	<p>Dear Mr M Sharma</p>
	<p>We’ve received your request to postpone the hearing for your 
ESA benefit  appeal. </p>

<p>We now have to see if we can arrange your hearing for a different day. We’ll contact you within 2 days to let you know whether it’s possible.</p>  

	<p>Track the progress of your appeal any time:<br/><a href="../status-postponed">https://www.gov.uk/track-your-appeal/03435</a></p>

<br/>


	<p><strong class="bold-small">Social Security and Child Support Tribunal</strong><br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

	<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.gov.uk/track-your-appeal/manage-email-notifications/p19ya35s</a></p> 

</div>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a></p>
            </div>	

</main>

{% endblock %}
