{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - Confirmation
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> You’re registered to receive email notifications</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>

	

<br/>

	<p>Dear Anika Sharma</p>
<p>You’ve been registered to receive email updates on 
<span style="color: green;">Mr M Sharma </span>
<span style="color: red; font-weight: normal; font-size: 19px;">[first name last name]</span>’s 

<span style="color: green;"> ESA</span> <span style="color: red; font-weight: normal; font-size: 19px;">[benefit type]</span> appeal. You’ll receive your first update in a separate email in a few minutes.</p>

<br/>

	<p><strong class="bold-small">Social Security and Child Support Tribunal</strong><br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

	<p>Change your email address or stop receiving these emails: <a href="../manage/manage-email-notifications">https://www.gov.uk/track-your-appeal/manage-email-notifications/p19ya35s</a></p> 

</div>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a></p>
            </div>	

</main>

{% endblock %}
