{% extends "layout.html" %}
{% block page_title %}
Enter your last name - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 

<br/>

<div class="grid-row">
  <div class="column-full">
    
    <form>
       <div class="form-group">
        <fieldset>
          <legend class="visually-hidden">Enter your last name</legend>
          <label>
            <h1 class="heading-large">
             Enter your last name<br/>
            <span class="form-hint"> This is for security to check it’s your appeal</span>
            </h1>
          </label>
          <input class="form-control form-control-2-4" id="form-control-2-4" type="text">
        </fieldset>
      </div>
      <a class="button" href="status-past-hearing-date">Track your appeal</a>
    </form>
    
    
  </div>
</div>
</main>
{% endblock %}