{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS submit and track your appeal protoypes (17.05.2018)
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 20px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a></div>
	<p class="heading-small">Social Security and Child Support (SSCS)</p>
	<h1 class="heading-large">Submit and track your appeal</h1>

	<h2 class="heading-small">Main focus</h2>
	<ul class="list">
		<li>Presentation to welfare rights advisors</li> 
		<li>Research with welfare rights advisors and citizens</li>
		<li>New and updated SMS notifications</li>
	</ul>
	
	<h3 class="heading-medium">Journey's</h3>

	<h4 class="heading-small">Submit and track end-to-end</h4>
	<p> <a href="journey-manish">Manish appeals a benefit decision</a></p>

	<h4  class="heading-small">Submit your appeal</h4>
	<p> <a href="submit-your-appeal/guidance/overview.html">Test prototype</a></p>

	<h4  class="heading-small">Track your appeal</h4>
	<p> <a href="index-tya#sms">Notifications updates</a></p>

	<h3 class="heading-medium">Full prototypes</h3>

	<p> <a href="index-tya">Track your appeal </a></p>


</main>
{% endblock %}
