{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS submit and track your appeal protoypes (17.05.2018)
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 20px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a></div>
	<p class="heading-small">Social Security and Child Support (SSCS)</p>
	<h1 class="heading-large">Submit and track your appeal</h1>
	<p class="lede">Presentation and user research with welfare rights advisors and citizens</p>

	
	<h2 class="heading-medium">Journey's</h2>

		<h4 class="heading-small">Submit and track end-to-end</h4>
	<p> Start: <a href="journey-manish">Manish appeals a benefit decision</a></p>

	<h4  class="heading-small">Submit your appeal</h4>
	<p> Start: <a href="submit-your-appeal/guidance/overview.html">Test prototype</a></p>

<h2 class="heading-medium">Full prototypes</h2>

	<p> Start: <a href="index-tya">Track your appeal </a></p>


</main>
{% endblock %}
