{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS Protoypes
{% endblock %}
{% block content %}
<main id="content" role="main">
 <div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png">
  <p class="heading-small">Social Security and Child Support (SSCS)</p>
</div>
<div class="grid-row">
  <div class="column-one-third">
   <img src="/public/images/persona-derick.png" width="90%"  >
 </div>
 <div class="column-two-thirds">
   <h1 class="heading-large">Derick</h1>
   <h3 class="heading-small">Scenario</h3>
   <p>Derek doesn't go online often and it's only usually with some help from family members. He doesn't have an email address but does have a mobile phone and is comformtable sending and receiving text messages.</p>
   <p>With the help of his wife Derick appeals his PIP benefit appeal decision online. He signs up for the text messages so he know whats happening with his appeal.</p>
   <p>After submitting his appeal Derick receives his first text message from the appeal a benefit decision service.</p>
   <a class="button button-start" href="notifications/sms-appeal-received" role="button">Start demo</a>
 </main>
 {% endblock %}