{% extends "layout.html" %}
{% block page_title %}
Status - DWP response - GOV.UK (PHRR1)
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Your <span style="">PIP benefit appeal
      </h1>
      <div class="details">
        <span style=""><span style=""> <h2 class="heading-medium">Manish Sharma</h2>
          <h2>Appeal reference number: <span style=""> SC242/16/03435  </h2>
          </div>
          <div class="divider"></div>
          <section class="progress-bar-tya">
            <div class="appeal-received active">
              <div class="ring">
                <img class="tick" src="/public/images/tick2.png" alt="ignored by screen readers" aria-hidden="true">
              </div>
              <h4 class="" aria-hidden="true">Appeal</h4>
              <span class="screen-reader-text">Appeal received. This step is complete.</span>
            </div>
            <div class="dwp-respond active">
              <div class="leg"></div>
              <div class="ring">
                <img class="tick" src="/public/images/tick2.png" alt="ignored by screen readers" aria-hidden="true">
              </div>
              <h4 class="current" aria-hidden="true">DWP Response</h4>
              <span class="screen-reader-text">DWP response. This step is complete.</span>
            </div>
            <div class="hearing-booked">
              <div class="leg"></div>
              <div class="ring">
                <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
              </div>
              <h4 class="" aria-hidden="true">Hearing booked</h4>
              <span class="screen-reader-text">Hearing booked. This step has not happened yet.</span>
            </div>
            <div class="hearing">
              <div class="leg"></div>
              <div class="ring">
                <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
              </div>
              <h4 class="" aria-hidden="true">Hearing</h4>
              <span class="screen-reader-text">Hearing booked. This step has not happened yet.</span>
            </div>
          </section>
        </div>
      </div>
      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="description">
            <h4 class="heading-small">Latest update</h4>
            <p>DWP have responded to your PIP benefit appeal. They should have sent you a copy of their response in the post.</p> 
            <p>A hearing needs to be booked for your appeal. You don’t need to do anything. You’ll be contacted when your hearing has been booked. This may take some time, depending on how busy the hearing venues are. 
            </p>
            <!-- Previous updates -->
            <p class="updates-toggle">
              <i class="fa fa-caret-right" aria-hidden="true"><span>View previous updates</span></i>
            </p>
            <div class="updates-container">
              <div class="update">
                <h4 class="bold-small">Appeal received<span class="date-updates">27 October 2016</span>
                  <p>We’ve told DWP  that you want to appeal against their decision. They have to provide a written response before 22 November 2016. We’ll contact you and explain the next steps when they’ve replied.</p>
                </div>
                <div class="update">
                  <h4 class="bold-small">Evidence received<span class="date-updates"> 01 November 2016.</span></h4>
                  <p>The evidence you sent was received by us.</p>
                </div>
              </div>
              <!-- End previous updates -->   
            </div>
            <h3 class="heading-small">Additional evidence</h3>
            <p>If you have any additional evidence that’s relevant to your appeal you can upload it or send it by post. <a href="benefit-appeal-evidence">Read more about what information the tribunal finds useful</a></p>
            <!-- <p><a href="">Provide additional evidence</a></p>-->
            <a  href="evidence-online-or-post">Provide additional evidence</a>
            <div class="updates-border"></div>
          </div>
        </div>
        <h4 class="heading-small">About your appeal</h4>
        <ul class="list">
          <li><a href="about-hearing">What to expect at your hearing</a></li>
          <li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
          <li><a href="contact-us">Contact us</a></li>   
        </ul> 
        <div style="margin-top: 40px; font-size: 14px;">
          <p><a href="../../index-s11-test">Index</a> | <a href="notifications/email-hearing-booked-mvp">Hearing booked - email</a></p></div>
        </main>
        {% endblock %}