{% extends "layout.html" %}

{% block page_title %}
  Track your appeal - GOV.UK
{% endblock %}



{% block content %}
<main id="content" class="prototype-8" role="main">

     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}

    <form action="/prototype-8/validate" method="get" class="form">

        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

            <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                There are errors on the page.
            </h1>

            <ul class="error-summary-list">
                {% if errorMessages.surname.length %}
                <li><a href="#example-personal-details">{{errorMessages.surname[0]}}</a></li>
                {% endif %}
                {% if errorMessages.reference.length %}
                <li><a href="#example-personal-details">{{errorMessages.reference[0]}}</a></li>
                {% endif %}
            </ul>

        </div>

        <h1 class="form-title heading-xlarge">
            Track your benefit appeal
        </h1>

        {% if errorMessages.surname.length %}
        <div class="form-group error">
            <label class="form-label-bold" for="full-name">Enter your surname</label>
            <p class="form-hint">As it appears on any letter about your appeal.</p>
            <span class="error-message">
              {{errorMessages.surname[1]}}
            </span>
            <input type="text" class="form-control surname" name="surname" value="{{surname}}">
        </div>
        {% else %}
        <div class="form-group">
            <label class="heading-medium" for="full-name">Enter your surname</label>
            <input type="text" class="form-control surname" name="surname" value="{{surname}}">
        </div>
        {% endif %}

        {% if errorMessages.reference.length %}
        <div class="form-group error">
            <label class="heading-medium" for="full-name">Enter your appeal reference number</label>
            <p class="form-hint">
                As it appears on any letter about your appeal. <br/>
                For example SC242/16/03435.</p>
            <span class="error-message">
              {{errorMessages.reference[1]}}
            </span>
            <span>SC </span><input type="text" class="form-control"  id="full-name" name="reference" value="{{caseRefNumber}}">
        </div>
        {% else %}
        <div class="form-group">
            <label class="heading-medium" for="full-name">Enter your appeal reference number</label>
            <p class="form-hint">You can find this on any letter you’ve received about your benefit appeal. For example SC242/16/03435.</p>
            <span>SC </span><input type="text" class="form-control"  name="reference" value="{{caseRefNumber}}">
        </div>
        {% endif %}

        <div class="form-group">
            <input type="submit" class="button" value="Find appeal">
        </div>

    </form>

</main>
{% endblock %}
