{% extends "layout.html" %}
{% block page_title %}
Your PIP benefit appeal
{% endblock %}
{% block proposition_header %}
  {% include "includes/idam_signout_propositional_navigation_180522.html" %}
{% endblock %}
{% block content %}
<link href="/public/kit-icons/icons.css" media="screen" rel="stylesheet" type="text/css" />
<main id="content" class="prototype-8" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Your PIP benefit appeal
    </h1>
    <div class="details">
        <h2 class="heading-medium">Manish Sharma</h2>
        <h2 class="form-hint">Appeal reference:  SC242/16/03435  </h2>
    </div>
<div class="divider"></div>



          <section class="progress-bar-tya">

              <div class="appeal-received active">
                  <div class="ring">
                      <img class="tick" src="/public/images/tick2.png" alt="ignored by screen readers" aria-hidden="true">
                  </div>
                  <h4 class="current" aria-hidden="true">Appeal</h4>
              </div>

              <div class="dwp-respond">
                  <div class="leg"></div>
                  <div class="ring">
                      <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
                  </div>
                  <h4 class="" aria-hidden="true">DWP Response</h4>
              </div>

              <div class="hearing-booked">
                  <div class="leg"></div>
                  <div class="ring">
                      <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
                  </div>
                  <h4 class="" aria-hidden="true">Hearing booked</h4>
              </div>

              <div class="hearing">
                  <div class="leg"></div>
                  <div class="ring">
                      <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
                  </div>
                  <h4 class="" aria-hidden="true">Hearing</h4>
              </div>

          </section>



         <div class="description">
          <h3 class="heading-small">Latest update</h3>
          <p>DWP have to respond to your appeal by 21 June 2018. You’ll receive details of what happens next, after they’ve responded.</p>
      

</div>

        <h2 class="heading-small">Additional evidence</h2>
        
        <p>If you have any additional evidence that’s relevant to your appeal you can upload it or send it by post.  <a href="benefit-appeal-evidence">Read more about what information the tribunal finds useful</a></p>
        <a  href="evidence-options">Submit additional evidence</a>
     


<!--
  <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-small" id="subsection-title">About your appeal</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="benefit-appeal-evidence">Providing evidence to support your appeal</a></li><li>
                <li><a href="about-hearing">What to expect at your hearing</a></li><li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
                <li><a href="contact-us">Contact us</a></li>
                <li><a href="https://www.gov.uk/browse/benefits/entitlement" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
        </nav>
    </aside>
</div>
</div>
-->

            <div class="updates-border"></div>

    <h4 class="heading-small">About your appeal</h4>
    <ul class="list">
        <li><a href="benefit-appeal-evidence">Providing evidence to support your appeal</a></li>
        <li><a href="about-hearing">What to expect at your hearing</a></li>
        <li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
        <li><a href="contact-us">Contact us</a></li>
    </ul>
    </div>
    </div>

</main>
{% endblock %}
