{% extends "layout.html" %}
{% block page_title %}
Page not found - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                This page cannot be found
            </h1>
            <p>Check that you’ve entered the correct web address.</p>

       
            
        </div>

        <div class="column-third">

      


</div>


    </div>
    
        


</main>

{% endblock %}