{% extends "layout.html" %}
{% block page_title %}
Page not found - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Sorry, we’re experiencing technical difficulties
            </h1>
            <p>Check that you’ve entered the correct web address.</p>

            <p>If you want an update on your appeal you can call 0300 123 1142.</p>
            
        </div>

        <div class="column-third">

      


</div>


    </div>
    
        


</main>

{% endblock %}