{% extends "layout.html" %}
{% block page_title %}
Reason for late appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
{% include "includes/idam_signout_propositional_navigation_190117.html" %}
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="#" class="link-back">Back</a> 

 <div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Explain why your appeal is late 
    </h1>
    <p>Appeals should be made within one month of the Mandatory Reconsideration Notice (MRN) being sent.  </p>

    <p>Your appeal can still go ahead if there’s a reason for it being late. </p>
    <form>
      <div class="form-group">
        <fieldset>

          <label class="form-label" for="textarea">
          </label>
          <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
        </fieldset>
       

      </div>  <a class="button" href="saved-return-late">Continue with appeal application</a>
    </form>


   <br/>
         <!--<p class="timeout-note">If you do not do anything for 20 minutes then this service will time out.</p> -->
       
         {% include "includes/help-contact.html" %}
     <!--  <p> <a href="saved-signed-out">Save and come back later</a></p>-->

   


 

  </div>
</div>
</main>
{% endblock %}