{% extends "layout.html" %}
{% block page_title %}
Are you an appointee? - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
    {% include "includes/phase_banner_beta.html" %}
    <a href="004-appointee" class="link-back">Back</a> 
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Are you an 'appointee'?
            </h1>
            <p>You’re an appointee if you’ve been authorised by DWP to act on behalf of someone who is unable to deal with their benefit claim. For example, a parent who is claiming on behalf of a child.</p>
            <form  action="/uc-001/appointee" method="post">
                <div class="form-group">
                    <fieldset>
                      <legend class="visually-hidden">Where do you live?</legend>

                      <div class="multiple-choice">
                        <input id="radio-1" type="radio" name="radioGroup" value="nonAppointee">
                        <label for="radio-1">I’m appealing for myself</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="radio-2" type="radio" name="radioGroup" value="appointee">
                        <label for="radio-2">I have been authorised by DWP to act on behalf of someone else</label>
                    </div>

                </fieldset>
            </div>

         <!-- <input type="submit" class="button" value="Save and continue"><br/>
           <p class="font-xsmall" style="margin-top: 15px;"> Your appeal will be saved when you continue</p>-->
           <div class="grid-row">
                <div class="column-one-third">
                 <input type="submit" class="button" value="Save and continue">
                    </div>

                    <div class="column-two-thirds save-for-later">
                        <!--<a href="saved-signed-out">Save and come back later</a></p>-->
                    </div>          
                </div>

            </form>

            <!--<p class="timeout-note">If you do not do anything for 20 minutes then this service will time out.</p> -->
       
         {% include "includes/help-contact.html" %}
        </div>
    </div>
</main>
{% endblock %}