{% extends "layout.html" %}
{% block page_title %}
Appeal submitted - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-box-highlight">
     <h1 class="bold-large">
      Your appeal has been submitted
    </h1>
  </div>

  <h2 class="heading-medium">What happens next</h2>
  <p>You submitted your PIP benefit appeal on 27 March 2019. You were sent a confirmation by letter and email (if you provided an email address). </p>
<br/>
  <h3 class="heading-small">Track your appeal online</h3> 
  <p>You can track your appeal online from any emails or SMS notifications about your appeal. Call 0300 123 1142 to sign up, if you are not already receiving them.</p> 

</div>
</div>

</main>
{% endblock %}