{% extends "layout.html" %}
{% block page_title %}
SSCS form download - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="01-benefit-type" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      You need to download and fill out a paper form 
    </h1>
    <p>Download and fill out a [Form code e.g. SSCS1 relevant to benefit type] form to appeal a [Benefit type] benefit decision. 
    </p>
    <br/>
    <form>
      <a class="button" href="http://formfinder.hmctsformfinder.justice.gov.uk/sscs1-eng.pdf">Continue to form download</a>
    </form>
  </div>
</div>
</main>
{% endblock %}