{% extends "layout.html" %}
{% block page_title %}
Your name (appointee) - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="004-appointee" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Enter your name
    </h1>
    <form>
      <p>This is the appointee’s name </p>
      <fieldset>
        <div class="form-group">
          <label class="form-label" for="first-name">
            Title
          </label>
          <input class="form-control form-control-1-8" id="form-control-1-8" type="text">
        </div>
        <div class="form-group">
          <!-- Firstname, surname -->
          <label class="form-label" for="first-name">
            First name
          </label>
          <input class="form-control form-control-3-4" id="form-control-3-4" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="Last name">
            Last name 
          </label>
          <input class="form-control form-control-3-4" id="form-control-3-4" type="text">
        </div>
        <a class="button" href="../prototype-beta-23/submit-your-appeal/004-your-dob-appointee">Continue</a>
      </form>
    </div>
  </div>
</main>
{% endblock %}