{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS submit and track your appeal prototypes 
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 20px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a></div>
	<p class="heading-small">Social Security and Child Support (SSCS)</p>
	<h1 class="heading-large">Submit your appeal <span class="heading-secondary">Prototypes</span></h1>
	<p>Due to be tested: 30 January 2019</p>
	<h2 class="heading-medium">Sprint focus</h2>
	<ul class="list list-bullet">
		<li>Save and return</li> 
		<li>Account creation</li>
		<li>Returning to a saved appeal form</li>
	</ul>
</ul>
<h3 class="heading-medium">Iterated - Journeys</h3>
<h4 class="heading-small">First time visit</h4>
<ul class="list  list-number">
	<li>Save appeal and create an account - <a href="/prototype-beta-190130/submit-your-appeal/guidance/overview">Full journey from guidance pages</a> </li>
	<li>1st screen with functional save and return link -  <a href="/prototype-beta-190130/submit-your-appeal/004-your-contact-details.html">Enter your contact details</a></li>
</ul>
<h4 class="heading-small">Return visits</h4>
<ul class="list  list-number">
	<li><a href="/prototype-beta-190130/submit-your-appeal/idam-sign-in-return">Immediately after creating an account</a></li>
	<li><a href="/prototype-beta-190130/notifications/email-signed-out">Appeal saved / signed out - email</a></li>
		<!--<li><a href="/prototype-beta-190130/notifications/email-appeal-late">Appeal late reminder email</a></li>
			<li><a href="/prototype-beta-190130/notifications/email-appeal-late-33days">Appeal late - 33 days from MRN date - reminder email</a></li> -->
			<li>Post submission - <a href="/prototype-beta-190130/submit-your-appeal/018-confirmation-tya">SYA confirmation screen with signpost to TYA</a></li>
		</ul>
		<h3 class="heading-medium">New journeys</h3>
		<h4 class="heading-small">Save and return</h4>
		<ul class="list  list-number">
			<li><a href="/prototype-beta-190130/submit-your-appeal/018-confirmation-return">Sign in post submission</a></li>
			<li><a href="/prototype-beta-190130/submit-your-appeal/idam-sign-in-late">Appeal now late (after sign in)</a></li>
			<li><a href="/prototype-beta-190130/notifications/email-data-delete-reminder">Appeal application is about to be deleted - email</a></li>
			<li><a href="/prototype-beta-190130/notifications/email-data-deleted">Appeal application has been deleted - email</a></li>
			<li><a href="/prototype-beta-190130/submit-your-appeal/018b-confirmation-deleted">Appeal application has been deleted - signed in screen</a></li>
		</ul>

		<h4 class="heading-small">Bulk scanning</h4>
		<ul class="list  list-number">
		<li><a href="/prototype-beta-190130/notifications/email-appeal-lodged">Appeal lodged - example email</a></li>
		<li><a href="/prototype-beta-190130/submit-your-appeal/benefit-appeal-evidence">Evidence to support your appeal</a></li>
		<li><a href="https://sscs-cor.herokuapp.com/mvp/evidence-post">Evidence upload (COR providing info journey)</a></li>
		<li><a href="https://sscs-cor.herokuapp.com/mvp/question-factory">Evidence upload (COR question page)</a></li>
	</ul>

	</main>
	{% endblock %}
