{% extends "layout.html" %}
{% block page_title %}
What to expect at your hearing - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

<h1 class="heading-xlarge">Appeal a benefit decision</h1>

<!-- Add navigation -->

<div id="nav-links">
<ol class="nav-list">
	<li><a href="overview.html">Overview</a></li>
  <li><a href="benefit-appeals-process">Benefit appeals process</a></li>
  <li><a href="start-an-appeal">Start an appeal</a></li>

  <li><a href="evidence">Evidence to support your appeal</a></li>
  <li>What to expect at your hearing</li>
    <li><a href="help-and-support">Help and support</a></li>
</ol>
</div>

<hr>

<h1 class="heading-large">What to expect at your hearing </h1>



            <img src="/public/images/p8/hearing-room.png">
            <p>A typical benefit appeal hearing with a judge, doctor and disability expert. </p>


<p>Your hearing is an opportunity for you to explain your appeal and get an impartial decision on your entitlement to benefits.The tribunal is independent and will listen to both sides.</p>

<h2 class="heading-medium">When you arrive </h2>

            <p>You’ll be greeted by a tribunal clerk. They’ll take care of you at the hearing venue and answer any questions you may have. You’ll sit in a waiting area until your hearing begins. </p>

            <h2 class="heading-medium">The hearing room </h2>
            <p>The tribunal clerk will take you into the hearing room. The judge and other panel members will be sat at a table. You’ll be invited to sit opposite them. If you have someone to support you or to give evidence, they’ll sit next to you.</p>



            <h2 class="heading-medium">The people at your hearing </h2>
            <p>The tribunal is made up of a panel of people who’ll make an impartial decision on your appeal. They are all independent from department who made the decision. </p>

<p>The judge runs the hearing and will explain how it works. They’ll also take notes to create a record of the hearing. </p>

<p>One or two experts may also be present at your appeal to provide advice to the judge. For example in a PIP or ESA appeal there may be doctor or disability expert.</p> 




            <h2 class="heading-medium">The department who made the decision </h2>
            <p>A representative from the department who made the decision on your entitlement to benefits might be there. For example for ESA or PIP decisions, someone from the DWP might be there. They are there to speak on behalf of the department. This representative won’t be the person who made the decision about your benefits.  </p>

            <h2 class="heading-medium">During your hearing </h2>
            <p>The judge and the other panel members will ask you some straightforward questions. It’s your opportunity to explain your side of the appeal. This takes about an hour. </p>

<p>Sometimes the panel will need more evidence or information to help them make a decision. It’s important that you submit all your evidence well before the hearing so they have time to review it. Otherwise they may have to postpone the hearing to a different day.</p>

            <h2 class="heading-medium">Getting a decision</h2>
            <p>After you’ve answered the questions you’ll be asked to wait outside while the panel members discuss your appeal. You’ll then be asked back into the room to be told the decision. The judge will explain whether you’re entitled to the benefit and if so, at what level. </p>

<p>If the tribunal need more time to make a decision, it will be sent to you in the post.</p>

           
        </div>

            <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Related links</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">

                    <li><a href="#">Link one</a></li>
                    <li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>       
              
                </ul>
            </nav>
        </aside>
    </div>
</div>

        


</main>

{% endblock %}