{% extends "layout.html" %}
{% block page_title %}
Start an appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

<h1 class="heading-xlarge">Appeal a benefit decision</h1>

<!-- Add navigation -->

<div id="nav-links">
<ol class="nav-list">
	<li><a href="overview.html">Overview</a></li>
  <li><a href="benefit-appeals-process">Benefit appeals process</a></li>
  <li>Start an appeal</li>
  <li><a href="evidence">Evidence to support your appeal</a></li>
  <li><a href="hearing">What to expect at your hearing</a></li>
    <li><a href="help-and-support">Help and support</a></li>
</ol>
</div>

<hr>

<h1 class="heading-large">Start an appeal</h1>

<p>Use this service to appeal against a decision that was made about your entitlement to benefits. For example Personal Independence Payment (PIP), Employment and Support Allowance (ESA) or Housing Benefit (HB). </p>

<p>The tribunal is independent and will decide whether the decision about your entitlement to benefits was correct.</p>

<details>

  <summary><span class="summary">See all the benefit decisions you can appeal</span></summary>

  <div class="panel panel-border-narrow">

    <ul class="list list-bullet">
<li>Attendance Allowance (AA)</li>
<li>Bereavement Benefit (BB)</li>
<li>Carer's Allowance (CA)</li>
<li>Child Benefit (CB)</li>
<li>Disability Living Allowance (DLA)</li>
<li>Employment and Support Allowance (ESA)</li>
<li>Home Responsibilities Protection (HRP)</li>
<li>Housing Benefit (HB)</li>
<li>Incapacity Benefit (IB)</li>
<li>Income Support (IS)</li>
<li>Industrial Injuries Disablement (IID)</li>
<li>Jobseekers Allowance (JA)</li>
<li>Maternity Allowance (MA)</li>
<li>Personal Independence Payment (PIP)</li>
<li>Severe Disablement Allowance (SDA)</li>
<li>Social Fund (SF)</li>
<li>Universal Credit (UC)</li>
</ul>

<p>If you can’t find your benefit it may be because the name has changed. Check the last letter you received about it.</p>

  </div>

</details>

<h2 class="heading-medium">Before you start</h2>
<p>For most benefits you have to ask the DWP to reconsider their decision before you appeal. This is known as requesting mandatory reconsideration.</p> 

<p>If you’re appealing a decision about Housing Benefit then you should <a href="https://www.gov.uk/find-local-council">phone your local authority</a> before appealing. For Child Benefit you should <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/child-benefit">phone HMRC</a> first. </p>

<p>To use this service you’ll need: 
</p>

<ul class="list list-bullet"> 
<li>your Mandatory Reconsideration Notice</li>
<li>your National Insurance number</li>
<li>details of anyone who’s supporting you with your appeal. Such as a <a href="representatives">representative</a> or friend or family member. </li>
</ul>

<br>
<a class="button button-start" href="../001-benefit-type" role="button">Start now</a>

           
        </div>

            <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Related links</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">

                    <li><a href="#">Link one</a></li>
                    <li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>       
              
                </ul>
            </nav>
        </aside>
    </div>
</div>

        


</main>

{% endblock %}