{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - New hearing booked (EXNH1-E)
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> your 
ESA benefit  appeal: check the details of your hearing</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

	<p>Dear Mr M Sharma</p>
		<p>We’ve booked a new hearing for your 
ESA benefit  appeal. </p>
		 
<h2 class="heading-medium">Hearing details</h2>
		<p>Date: 27 April 2017</p>
		<p>Time: 10:00am (arrive 15 minutes early)   </p>
		<p>Address: The Old Bakery, 115 Queens Road, Norwich NR1 3PL</p>
		<p>Map and directions: <a href="https://www.google.com/maps/dir/Current+Location/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,+UK">https://www.google.com/maps/dir/Current+Location/The+Old+Bakery,<br/>115+Queens+Road,+Norwich+NR1+3PL,+UK</a> </p>
		

		<!--<p>Parking:

		<a href="https://www.google.com/maps/dir/Queens+Road+Car+Park,Norwich+NR1+3PN/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,+UK">https://www.google.com/maps/dir/Queens+Road+Car+Park,Norwich<br/>+NR1+3PN/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,<br/>+UK</a></p>

		
		<p>Disabled access: Not needed</p>
		<p>Interpreter: Not needed (only interpreters that we’ve booked can translate at your hearing) </p>
		<p>Representative: Mr P Ashbourne </p> -->
		<br/>
		<div class="panel panel-border-wide">
			<p>Phone us on 0300 123 1142 to let us know about any changes or if you can’t attend. </p>
		</div>
		<h2 class="heading-medium">Please note</h2>
		<p>You can bring people to support you at your hearing. For example family, friends or a support worker. There will be a limit to the number of people you can take into the hearing room because of space.</p>
		<p>Children are allowed in the waiting area but not in the hearing room. You’ll need to bring someone to supervise them while you’re in the hearing. </p>
		<p>Bring all documents relating to your appeal to the hearing. For example letters or evidence we or DWP  have sent you.</p>
		<p>Find out what your hearing is going to be like: <a href="../what-to-expect-at-your-hearing">https://www.gov.uk/track-your-appeal/what-hearing-like/p19ya35s</a></p>
		<h2 class="heading-medium">Claiming expenses</h2>
		<p>You might be able to claim back some of the money you spend on attending your hearing. Find out more about how to claim:<br/><a href="../claiming-hearing-expenses">https://www.gov.uk/track-your-appeal/claiming-hearing-expenses/p19ya35s</a></p>
		<br/>
		<p>Social Security and Child Support Tribunal<br/>
			HMCTS<br/>
			Telephone: 0300 123 1142<br/>
		</p>
		<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.gov.uk/track-your-appeal/manage-email-notifications/p19ya35s</a></p>
	</div>
	<div style="margin-top: 40px; font-size: 14px;">
		<p><a href="../index">Index</a> | <a href="../what-to-expect-at-your-hearing">What to expect at the hearing</p>
	</div>
</main>
{% endblock %}