{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - DWP response (EXRE-E)
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your 
ESA benefit appeal</p>

<div class="email-border">

	<div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number:  SC242/16/03435</p>
	</div>

	<br/>

	<p>Dear <span style="">Mr M Sharma</span></p>


<p>DWP were due to respond to your appeal by 22 June 2017 but they have not yet done so. </p>

<p>We’ve contacted them again to ask them to respond. We’ll let you know when they do. </p>



	<p>Track the progress of your appeal any time: <a href="../status-dwp-response-overdue">https://www.sscs.reform.hmcts.net/progress/fzpqcy/trackyourappeal</a></p> 

<br/>

	<p>Social Security and Child Support Tribunal<br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

		<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.sscs.reform.hmcts.net/progress/fzpqcy/manage-<br/>email-notifications</a></p>

</div>

<div style="margin-top: 40px; font-size: 14px;">
<p><a href="../../index-s11-test">Index</a> | <a href="../status-dwp-response-overdue">DWP response late - Status</a></p></div>

</main>

{% endblock %}
