{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS submit and track your appeal protoypes (24.04.2018)
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 20px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a></div>
	<p class="heading-small">Social Security and Child Support (SSCS)</p>
	<h1 class="heading-large">Submit and track your appeal</h1>
	<p class="lede">User research - 25.04.2018</p>

	<h2 class="heading-small">Main changes</h2>
	<ul class="list-bullet no-indent">
		<li>Evidence upload in SYA</li>
		<li>Evidence upload in TYA with IdAM</li>
		<li>Revised notifications sign up journey</li>
		</ul>


			<h3 class="heading-medium">Test journey's</h3>
			<h3  class="heading-small">Submit your appeal with evidence upload</h3>
			<p> Start: <a href="submit-your-appeal/004-your-name-start">SYA - Enter your name</a></p>

			<h3  class="heading-small">Track your appeal with IdAM and evidence upload</h2>

				<p>	 Start: <a href="notifications/email-appeal-lodged">TYA - Appeal lodged email</a></p>

				<h3 class="heading-medium">Full prototypes</h3>
				<ul class="list">
					<li><a href="submit-your-appeal/guidance/overview.html">Submit your appeal</a></li>
					<li><a href="index-tya.html">Track your appeal</a></li>
				</ul>

				
			</main>
			{% endblock %}
