{% extends "layout.html" %}
{% block page_title %}
Text reminders - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
 
    <div class="grid-row">
        <div class="column-two-thirds">

            

            <h1 class="heading-large">
                Text message reminders
            </h1>
    
     <p>Do you want to receive text message reminders?</p>

<p>They help remind you to do important things connected with your appeal.</p> 
 

  <a class="button" href="006-sms-mobile-number">Sign up</a>
  <br/>  <br/>
  <p><a href="008-representative">No thanks</a></p>


            
        </div>

    </div>
    
            <div class="prototype-nav">
            <p><a href="../index">Index</a></p>

            </div>


</main>

{% endblock %}