{% extends "layout.html" %}
{% block page_title %}
Mobile phone number for text notifications - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
 
    <div class="grid-row">
        <div class="column-two-thirds">

            
<form>
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">Enter your mobile phone number</legend>
        <label>
            <h1 class="heading-large">
                Enter your mobile phone number
            </h1>
    

   <p>This is the number where the text messages will be sent. </p>  
 
</label>
<input class="form-control form-control-2-4" id="form-control-2-4" type="text">

    </fieldset>

  </div>
  <a class="button" href="../prototype-beta-10/submit-your-appeal/007-sms-confirmation-new-number">Continue</a>

</form>




            
        </div>

    </div>
    
            <div class="prototype-nav">
            <p><a href="index">Index</a></p>

            </div>


</main>

{% endblock %}