{% extends "layout.html" %}
{% block page_title %}
Why are you appealing - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
 
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Why are you appealing?
            </h1>

<p>The DWP should have explained their decision on your entitlement to ESA in the Mandatory Reconsideration Notice (MRN).</p> 

<p>Read the MRN and tell us what you disagree with. </p>
            
<form>
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">What do you want to do?</legend>

      <!-- What you disagree with --> 
     <div class="form-group">
          <label class="form-label" for="what-you-disagree-with">
            What you disagree with
          </label>
          <input class="form-control form-control-3-4" id="form-control-3-4" type="text">  
</div>

          <!-- Why you disagree with it --> 
               <div class="form-group">

          <label class="form-label" for="why-you-disagree">
            Why you disagree with it
          </label>
          <textarea class="form-control form-control-3-4" id="textarea-a" cols="90" rows="4"></textarea>
          </div>
          <p><a href="#">Add another +</a></p>

    </fieldset>

  </div>
  <a class="button" href="../prototype-beta-10/submit-your-appeal/012-evidence-reminder">Continue</a>

</form>

<br/>
         
         <p><a href="">I don’t have a Mandatory Reconsideration Notice </a></p>   
        </div>



    </div>
    
            <div class="prototype-nav">
            <p><a href="index">Index</a></p>

            </div>


</main>

{% endblock %}