{% extends "layout.html" %}
{% block page_title %}
Sending evidence - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Sending evidence to support your appeal 
            </h1>
  <p>If you have any evidence, it should be sent to us as early as possible to avoid delaying your appeal.</p> 

<p>Evidence is anything which shows how your condition affects you at the time of the assessment by the DWP. Such as a letter, assessment or report from a doctor.</p>  

<p>You can send this to us separately after you’ve submitted your appeal.</p> 

<p>We’ll send you details on how to submit evidence after you’ve submitted your appeal.</p> 

<form>

  <a class="button" href="013-your-hearing">Continue</a>

</form>
            
        </div>

    </div>
    
            <div class="prototype-nav">
            <p><a href="index">Index</a></p>

            </div>

</main>

{% endblock %}