status-pb-one.html{% extends "layout.html" %}

{% block page_title %}
Status - Appeal received (PHAR1-S)
{% endblock %}



{% block content %}

<main id="content" class="prototype-8" role="main">

    {% include "includes/sscs-alpha.html" %}
<!-- {% include "includes/breadcrumbs.html" %}  -->
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Your PIP benefit appeal
            </h1>

            <div class="details">
                <h2 class="heading-medium">John Smith</h2>
                <h2 class="form-hint">Appeal reference number: SC012/34/56789</h2>
            </div>
            <div class="divider"></div>

            <section class="progress-bar four">

                <div class="appeal-received {{ isActive('appeal', status ) }}">
                    <div class="ring"></div>
                    <h4 aria-hidden="true">Appeal</h4>
                </div>

                <div class="dwp-respond {{ isActive('dwprespond', status ) }}">
                    <div class="leg"></div>
                    <div class="ring"></div>
                    <h4 aria-hidden="true">DWP response</h4>
                </div>

                <div class="hearing-booked {{ isActive('hearingbooked', status ) }}">
                    <div class="leg"></div>
                    <div class="ring"></div>
                    <h4 aria-hidden="true">Hearing booked</h4>
                </div>

                <div class="hearing {{ isActive('hearing', status ) }}">
                    <div class="leg"></div>
                    <div class="ring"></div>
                    <h4 aria-hidden="true">Hearing</h4>
                </div>

            </section>

        </div>

    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="description">
                <h4 class="heading-small">Latest update</h4>
                <p>We’ve told DWP that you want to appeal against their decision. They have to provide a written response before 22 November 2016. We’ll contact you and explain the next steps when they’ve replied.</p>
                <a href="./notifications-register/index.html">Receive these updates by email or text message</a>
            </div>

            <div style="padding-top: 30px;"></div>

            <div class="panel panel-border-wide">
                <p>All evidence should be received by 22 December 2016. <br/><a href="evidence">Find out about submitting evidence to support your appeal.</a></p>
            </div>
                
            <div class="updates-border"></div>
        </div>
    </div>

 
<h4 class="heading-small">About your appeal</h4>

  <ul class="list">

            <li><a href="about-hearing">What to expect at your hearing</a></li>
            
           
    </ul> 

            <div class="prototype-nav">
            <p><a href="index">Index</a> | <a href="status-dwp-response">Next</a></p>

            </div>

</main>

{% endblock %}