{% extends "layout.html" %}

{% block page_title %}
Track your appeal - GOV.UK
{% endblock %}



{% block content %}
<main id="content" class="prototype-8" role="main">

{% include "includes/sscs-beta.html" %}
  {% include "includes/sscs-breadcrumbs.html" %}

  <form action="/prototype-8/validate" method="get" class="form">

    <h1 class="form-title heading-xlarge">
      Track your benefit appeal
    </h1>

    <div class="form-group">
         <div class="form-group">
      <label class="heading-medium" for="full-name">Enter your surname</label>
     <!-- <p class="form-hint">As it appears on any letter about your appeal.</p> --><br/>
      <input type="text" class="form-control"  id="surname" name="surname" value="">
    </div>

      <label class="heading-medium" for="full-name">Enter your appeal reference number</label>
      <p class="form-hint">
        As it appears on any letter about your appeal.<br/>
        For example, SC242/16/03435.</p>
      <input type="text" class="form-control"  id="full-name" name="reference" value="SC">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Find appeal">
    </div>

  </form>

</main>
{% endblock %}
