{% extends "layout.html" %}
{% block page_title %}
Text reminders confirmation - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
 
    <div class="grid-row">
        <div class="column-two-thirds">

            

            <h1 class="heading-large">You’ve signed someone else up for text messages</h1>
    

           <p>Text messages will be sent to the following number: [number] </p>

     <p>They’ll get their first message when they’ve submitted their appeal.</p>



  <a class="button" href="020-check-your-answers">Continue</a>
  <br/>  <br/>
  <p><a href="015-phone-number">Change number</a></p>


            
        </div>

    </div>
    
            <div class="prototype-nav">
            <p><a href="../index">Index</a></p>

            </div>


</main>

{% endblock %}