{% extends "layout.html" %}
{% block page_title %}
Page not found - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
   {% include "includes/phase_banner_beta.html" %} 
   <div class="grid-row">
    <div class="column-full">
    <h1 class="heading-large">
            Page cannot be found
        </h1>
        <p>Check that you’ve entered the correct web address.</p>
       <p> Or go to the <a href="../guidance/start-an-appeal">start of appeal a benefit decision</a>.</p>
        </div>
</div>
</main>
{% endblock %}