{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Postponed - Refused - 3 days of hearing (EXHP5-E)
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> your 
PIP benefit  appeal : check the details of your hearing</p>
	
	<div class="email-border">
		
		
		<div style="margin-bottom: 30px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

	<p>Dear Manish Sharma</p>

	<p>We’re emailing about your request to reschedule your PIP benefit appeal hearing.</p> 

<p>Unfortunately it’s too close to the hearing to reschedule it. We’ll ask the judge on the day of the hearing if they’ll consider postponing it to a different day.</p> 

<p>Please note that if the judge decides not to allow your hearing to be postponed, it can still go ahead, even if you are not there. If a decision is made, then that will be sent to you in the post.</p>

		<p>Check the details below.</p>
		<p><strong class="bold-small">Date: </strong><span style="">27 April 2017 </span></p>
		<p><strong class="bold-small">Time:</strong> <span style="">10:00am</span> (arrive 15 minutes early)   </p>
		<p><strong class="bold-small">Address:</strong> <span style="">The Old Bakery, 115 Queens Road, Norwich NR1 3PL </span></p>
		<p><strong class="bold-small">Map and directions:</strong> <a href="https://www.google.com/maps/dir/Current+Location/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,+UK">https://www.google.com/maps/dir/Current+Location/<br/>The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,+UK</a> </p>
		

	<p><strong class="bold-small">Parking:</strong> 


		<a href="https://www.google.com/maps/dir/Queens+Road+Car+Park,Norwich+NR1+3PN/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,+UK">https://www.google.com/maps/dir/Queens+Road+Car+Park,<br/>Norwich+NR1+3PN/The+Old+Bakery,115+Queens+Road,<br/>+Norwich+NR1+3PL,+UK</a></p>

		

		
		<p><strong class="bold-small">Disabled access:</strong> <span style="">Not required </span></p>
		<p><strong class="bold-small">Interpreter: 	</strong>	<span style="">Not required</span> (only interpreters that we’ve booked can translate at your hearing) </p>
		<p><strong class="bold-small">Representative: </strong>	<span style="">Mr P Ashbourne</span> </p>

<br/>

	<div class="panel panel-border-wide">
		<p>Phone us on 0300 123 1142 to let us know about any changes or if you cannot attend. </p>
	</div>


<br/>
<p class="bold-small">Please note</p>

    <p>You can bring people to support you at your hearing. For example family, friends or a support worker. There will be a limit to the number of people you can take into the hearing room because of space.</p> 


<p>Children are allowed in the waiting area but not in the hearing room. You’ll need to bring someone to supervise them while you’re in the hearing. </p>


<p>Bring all documents relating to your appeal to the hearing. For example letters or evidence we or DWP  have sent you.</p>

<p>Find out what your hearing is going to be like: <a href="../about-hearing">https://www.sscs.reform.hmcts.net/progress/fzpqcy/what-hearing-like/p19ya35s</a></p>

<br/>
<p class="bold-small">Claiming expenses</p>
<p>You might be able to claim back some of the money you spend on attending your hearing. Find out more about how to claim:<br/><a href="../claiming-hearing-expenses">https://www.sscs.reform.hmcts.net/progress/fzpqcy/claiming-hearing-expenses/</a></p>

<br/>
		<p>PIP Benefit Appeals<br/>
			HMCTS<br/>
			Telephone: 0300 123 1142<br/>
		</p>
		<p>This message is automatically generated; please do not reply to this email.</p>
		<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://track-appeal.platform.hmcts.net/manage-email<br/>-notifications/vUXyPb17L2</a></p> 

</div>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="https://track-your-appeal.herokuapp.com/index-demo">Index</a></p> 
            </div>	

</main>

{% endblock %}
