{% extends "layout.html" %}

{% block page_title %}
Status - DWP response - GOV.UK
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
Your ESA benefit appeal
</h1>

            <div class="details">
<h2 class="heading-medium">Mr M Sharma</h2>
<h2>Appeal reference number:  SC242/16/034</h2>
</div>
            <div class="divider"></div>
            <div class="progress-container">
               <div class="ring active">
                    <p class="appeal-received">Appeal</p>
                </div>
                <div class="leg foot active">
                    <p class="dwp-respond">DWP response</p>
                </div>
                <div class="leg foot ">
                    <p class="hearing-booked">Hearing booked</p>
                </div>
                <div class="leg "></div>
                <div class="ring ">
                    <p class="hearing">Hearing</p>

            </div>

        </div>

    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="description">
                <h4 class="heading-small">Latest update</h4>
               


<p>We’re now in the process of booking a hearing for your appeal. We’ll contact you by 23 February 2017 with the details.</p>  

<p>The evidence you sent was received by us on 01 November 2016</span>.</p>

                <!-- Previous updates -->
                <p class="updates-toggle">
                    <i class="fa fa-caret-right" aria-hidden="true"><span>View previous updates</span></i>
                </p>
                <div class="updates-container">

                    



                    <div class="update">
                        <h4 class="bold-small">Evidence received<span class="date-updates"> 01 November 2016.</span></h4>
                        <p>The evidence you sent was received by us.</p>
                    </div>

                    <div class="update">
                        <h4 class="bold-small">Appeal received<span class="date-updates">27 October 2016</span>
                            <p>We’ve told the <span style="">DWP</span>  that you want to appeal against their decision. They have to provide a written response before 22 November 2016. We’ll contact you and explain the next steps when they’ve replied.</p>
                        </div>
                    </div>
                    <!-- End previous updates -->
                
                  
                </div>

<div style="padding-top: 30px;"></div>              
    <div class="panel panel-border-wide">


        

        

 <p>If you have any more evidence, it should be received by 9 February 2017. This is so there's time to read it before your hearing.  

        <br/><a href="benefit-appeal-evidence">Find out about submitting evidence to support your appeal</a></p>
    </div>
 
<h4 class="heading-small">About your appeal</h4>

  <ul class="list">

           <li><a href="what-to-expect-at-your-hearing">What to expect at your hearing</a></li>
            
                             <li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
                             <li><a href="benefit-appeal-evidence">Providing evidence to support your appeal</a></li>
                    <li><a href="contact-us">Contact us</a></li>   

           
    </ul> 

                <div class="prototype-nav">
            <p><a href="index">Index</a></p>


            </div>

</main>

{% endblock %}