{% extends "layout.html" %}
{% block page_title %}
After you appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

<h1 class="heading-xlarge">Appeal a benefit decision</h1>

<div id="nav-links">
<ol class="nav-list">
        <li><a href="overview">Overview</a></li>
        <li><a href="before-you-appeal">Before you appeal</a></li>
        <li><a href="help-with-appeal">Help with your appeal</li>
        <li><a href="start-an-appeal">Start an appeal</a></li>
        <li>What happens after you’ve appealed</li>
      </ol>
</ol>
</div>

<hr>

<h1 class="heading-large">5. What happens after you’ve appealed</h1>  

<h2 class="heading-medium">Your appeal is sent to the department</h2> 
<p>Your appeal is sent to the department which made the decision about your entitlement to benefits. This will either be the Department for Work and Pensions, HMRC or your local authority. </p>

<h2 class="heading-medium">The department responds to your appeal </h2>
<p>The department which made the decision writes a response. This should explain how they’ve made their decision and include any evidence. You can respond to this if you want. </p>

<h2 class="heading-medium">You may be asked some additional questions</h2> 
<p>You may receive some additional questions by email or letter. These are to help the tribunal make a decision on your appeal.</p> 

<h2 class="heading-medium">Your appeal is ‘heard’ </h2>
<p>An informal hearing takes place in front of an independent tribunal. They will make an impartial decision on your entitlement to benefits.</p> 

<h2 class="heading-medium">The time it takes to appeal </h2>
<p>It’s hard to say how long your appeal will take. It all depends on how busy the hearing venue is and how many appeals are being made. They can take several months though. You can avoid delays by: 
</p>

 <ul class="list list-bullet">
<li>sending any evidence well before the hearing (if you have any)</li>
<li>turning up to the hearing on time (if you choose to go)</li>
<li>getting a <a href="help-with-appeal">representative</a> early (if you need one) </li>
</ul>

<h2 class="heading-medium">Sending evidence to support your appeal </h2>
<p>Evidence can help the tribunal understand your condition or circumstances. It could be a letter from a doctor or a written statement which explains your side of your appeal. </p>
<div class="panel panel-border-wide">
<p>It’s important you send in evidence as soon as possible after you’ve submitted your appeal. This is so the tribunal has time to read it before your hearing. You’ll be sent more information on how to send in evidence after you’ve submitted your appeal.</p>
</div>


 </div>

            <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Related links</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">

                    <li><a href="overview">Appeal a benefit decision</a></li>
                    <li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>       
              
                </ul>

            </nav>
        </aside>
    </div>
</div>
        


</main>

{% endblock %}