{% extends "layout.html" %}
{% block page_title %}
Web form confirmation - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">



 <div class="grid-row">
  <div class="column-two-thirds">

    
          <div class="govuk-box-highlight">
     <h1 class="bold-large">
      Your enquiry has been sent</h1>
<br/>
<p>Make a note of the reference number for your enquiry<br/>
<span style="font-size: 24pt; font-weight: bold; padding-top: 40px;">TZFTKUVQQ</span></p>

  </div>
<h2 class=heading-medium>What happens next</h2>
<p>You’ll receive a response to your enquiry to manish.sharma@gmail.com within 2 working days.</p>

<p>You can close down this window and return to your appeal. </p>

         



</div>
</div>
</main>
{% endblock %}