{% extends "layout_unbranded.html" %}

{% block page_title %}
Progress bar - Option 1
{% endblock %}

{% block content %}

<main id="content" role="main">


          
          
<div style="margin-top: 200px; margin-left: 60px;">
<img src="/public/images/progress-bar-green.png" width="80%" alt="Benefit appeal progress bar with 4 steps. Step 1 Appeal. Step 2 Response. Step 3 Hearing Booked. Step 4 Hearing">	
</div>
<div style="margin-top: 320px;">
	<div class="prototype-nav">
    	<p>1 | <a href="progress-bar-grey">2</a> | <a href="progress-bar-green-tick">3</a></p>
</div>
</div>
</main>

{% endblock %}