#content.prototype-2 .details {
  padding-bottom: 10px;
  border-bottom: 3px solid #005ea5;
}

#content.prototype-2 .update {
  position: relative;
  height: 35px;
  border-bottom: 1px solid #dee0e2;
  margin-top: 20px;
}

#content.prototype-2 .update h2:first-child {
  float: left;
}

#content.prototype-2 .update h2:last-child {
  float: right;
}

#content.prototype-2 .description {
  border-bottom: 2px solid #005ea5;
  margin-bottom: 20px;
}

#content.prototype-2 .description p {
  background-color: #dee0e2;
  padding: 20px;
  margin-top: 20px;
}

#content.prototype-2 .progress-container {
  width: 36px;
  float: left;
}

#content.prototype-2 .progress-container .ring {
  border: 8px solid #bebebe;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -1px;
  margin-bottom: -1px;
}

#content.prototype-2 .progress-container .leg {
  width: 10px;
  height: 45px;
  background-color: #bebebe;
  margin: auto;
}

#content.prototype-2 .progress-container .leg.foot:after {
  display: block;
  content: " ";
  background-color: #bebebe;
  width: 24px;
  height: 6px;
  position: relative;
  top: 39px;
}

#content.prototype-2 .progress-container .leg.active,
#content.prototype-2 .progress-container .leg.foot.active:after {
  background-color: green;
}

#content.prototype-2 .progress-container .ring.active {
  border: 8px solid green;
}

#content.prototype-2 .progress-text-container {
  margin-left: 60px;
}

#content.prototype-2 .progress-text-container p.heading {
  font-weight: bold;
}

#content.prototype-2 .progress-text-container .appeal-received {
  margin-top: 38px;
}

#content.prototype-2 .progress-text-container .heading.decision,
#content.prototype-2 .progress-text-container .heading.hearing {
  margin-top: 38px;
  margin-bottom: 35px;
}
