#content.prototype-3 .heading-xlarge {
  margin-bottom: 0;
}

#content.prototype-3 .update {
  position: relative;
  height: 35px;
  border-bottom: 1px solid #dee0e2;
  margin-top: 20px;
}

#content.prototype-3 .update h2:first-child {
  float: left;
}

#content.prototype-3 .update h2:last-child {
  float: right;
}

#content.prototype-3 .description {
  background-color: #eef7ff;
  padding: 20px;
}

#content.prototype-3 .description .heading-small {
  padding-bottom: 10px;
}

#content.prototype-3 .details .heading-medium {
  margin-bottom: 0;
}

#content.prototype-3 .divider {
  border-bottom: 2px solid #005ea5;
}

#content.prototype-3 .divider.top {
  margin-bottom: 15px;
}

#content.prototype-3 .divider.bottom {
  margin-top: 15px;
}

#content.prototype-3 .appeal-progress {
  margin-top: 40px;
}

#content.prototype-3 .progress-container {
  float: left;
  margin-top: 15px;
}

#content.prototype-3 .progress-container .ring {
  border: 8px solid #bfc1c3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -1px;
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
}

#content.prototype-3 .progress-container .leg {
  width: 10px;
  height: 50px;
  background-color: #bfc1c3;
  margin: auto;
  position: relative;
}

#content.prototype-3 .progress-container .leg.foot:after {
  display: block;
  content: " ";
  background-color: #bfc1c3;
  width: 24px;
  height: 6px;
  position: relative;
  top: 44px;
}

#content.prototype-3 .progress-container .leg.active,
#content.prototype-3 .progress-container .leg.foot.active:after {
  background-color: #00823b;
}

#content.prototype-3 .progress-container .ring.active {
  border: 8px solid #00823b;
}

#content.prototype-3 .progress-text-container {
  margin-left: 60px;
  margin-top: 35px;
  padding-top: 2px;
}

#content.prototype-3 .progress-text-container .hearing,
#content.prototype-3 .progress-text-container .appeal-received {
  font-weight: bold;
}

#content.prototype-3 .progress-text-container .evidence-received {
  margin-top: 39px;
}

#content.prototype-3 .progress-text-container .hearing-booked,
#content.prototype-3 .progress-text-container .dwp-respond {
  margin-top: 26px;
}

#content.prototype-3 .progress-text-container .hearing {
  margin-top: 37px;
}
