#content.prototype-5 .breadcrumbs {
  padding-top: 0;
}

#content.prototype-5 .divider {
  margin-top: 15px;
  border-bottom: 3px solid #005ea5;
}

#content.prototype-5 .divider-grey-light {
  margin-top: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #bfc1c3;
}

#content.prototype-5 .details .heading-medium {
  margin-top: 30px;
  margin-bottom: 0;
}

#content.prototype-5 .progress-container {
  height: 32px;
  white-space: nowrap;
  margin-top: 45px;
  margin-bottom: 75px;
  padding: 15px;
}

#content.prototype-5 .progress-container .ring {
  border-radius: 50%;
  border: 8px solid #bfc1c3;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

#content.prototype-5 .progress-container .leg {
  width: calc((100% - 49px)/3);
  height: 8px;
  background-color: #bfc1c3;
  margin: 12px -5px;
  padding: 0;
  display: inline-block;
  position: relative;
}

#content.prototype-5 .progress-container .leg.foot:after {
  display: block;
  content: " ";
  background-color: #bfc1c3;
  width: 8px;
  height: 22px;
  position: relative;
  z-index: 1;
  left: calc(100% - 8px);
}

#content.prototype-5 .progress-container .leg.active,
#content.prototype-5 .progress-container .leg.foot.active:after {
  background-color: #00823b;
}

#content.prototype-5 .progress-container .ring.active {
  border: 8px solid #00823b;
}

#content.prototype-5 .progress-container p {
  position: absolute;
  top: 30px;
}

#content.prototype-5 .progress-container .appeal-received {
  left: -21px;
  font-size: 16px;
  font-weight: bold;
}

#content.prototype-5 .progress-container .dwp-respond {
  top: 26px;
  font-size: 16px;
  left: calc(100% - 60px);
}

#content.prototype-5 .progress-container .hearing-booked {
  top: 26px;
  font-size: 16px;
  left: calc(100% - 70px);
}

#content.prototype-5 .progress-container .hearing {
  font-weight: bold;
  font-size: 16px;
  left: calc(100% - 40px);
}

#content.prototype-5 .description {
  background-color: #eef7ff;
  padding: 20px 20px 30px 20px;
}

#content.prototype-5 .description .heading-small {
  margin-top: 0;
  padding-bottom: 10px;
}

#content.prototype-5 .tribunal-details {
  background-color: #dee0e2;
  margin-top: 20px;
  padding: 30px 20px 20px 25px;
}

#content.prototype-5 .tribunal-details dl {
  margin-bottom: 15px;
}

#content.prototype-5 .tribunal-details dt,
#content.prototype-5 .tribunal-details dd {
  display: inline;
}

#content.prototype-5 .tribunal-details dd {
  font-weight: bold;
}

#content.prototype-5 .tribunal-details .date-time dt {
  padding-right: 120px;
}

#content.prototype-5 .tribunal-details .address dt {
  padding-right: 89px;
}

#content.prototype-5 .tribunal-details .address dd span:not(:first-child) {
  display: block;
  margin-left: 164px;
}

#content.prototype-5 .tribunal-details .maps-and-directions {
  margin-left: 163px;
  line-height: 160%;
}

#content.prototype-5 .tribunal-details .parking dt {
  padding-right: 97px;
}

#content.prototype-5 .tribunal-details .parking dt {
  padding-right: 97px;
}

#content.prototype-5 .tribunal-details .parking dd span:not(:first-child) {
  display: block;
  margin-left: 164px;
}

#content.prototype-5 .tribunal-details .disabled-access dt {
  padding-right: 27px;
}

#content.prototype-5 .tribunal-details .representative dt {
  padding-right: 35px;
}

#content.prototype-5 .tribunal-details .interpreter dt {
  padding-right: 70px;
}

#content.prototype-5 .tribunal-details .interpreter dd span:not(:first-child) {
  display: block;
  margin-left: 164px;
}

#content.prototype-5 .interpreter-message {
  margin-top: 30px;
}

#content.prototype-5 .contact-us-message:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

#content.prototype-5 .contact-us-message {
  margin-top: 30px;
  margin-bottom: 45px;
}

#content.prototype-5 .contact-us-message .border {
  display: inline-block;
  vertical-align: middle;
  background: #bfc1c3;
  padding: 30px 4px;
}

#content.prototype-5 .contact-us-message h2 {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 10px;
}

#content.prototype-5 .track-apppeal-link {
  margin-top: 30px;
  display: inline-block;
}

#content.prototype-5 .updates-toggle {
  margin-bottom: 5px;
  margin-top: 20px;
  color: #005ea5;
}

#content.prototype-5 .updates-toggle i {
  font-size: 25px;
  vertical-align: middle;
  cursor: pointer;
}

#content.prototype-5 .updates-toggle i span {
  font-family: nta, Arial, sans-serif;
  font-size: 19px;
  position: relative;
  top: -2px;
  left: 5px;
}

#content.prototype-5 .updates-toggle,
#content.prototype-5 .updates-container {
  margin-left: 25px;
}

#content.prototype-5 .updates-container {
  display: none;
}

#content.prototype-5 .updates-container .update {
  position: relative;
  padding-bottom: 10px;
  padding-top: 15px;
}

#content.prototype-5 .updates-container .update a {
  display: block;
  padding-bottom: 15px;
}

#content.prototype-5 .updates-container .update:last-child {
  padding-bottom: 0;
}

#content.prototype-5 .updates-container div:after {
  content: "";
  background: #bfc1c3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 1px;
}

#content.prototype-5 .updates-container div:last-child:after {
  display: none;
}

#content.prototype-5 .updates-border {
  background: #005ea5;
  height: 6px;
  margin-top: 60px;
}

#content.prototype-5 .updates-border-thin {
  background: #005ea5;
  height: 2px;
  margin-top: 20px;
}

#content.prototype-5 .prototype-nav {
  font-size: 14px;
  color: grey;
  font-decoration: none;
  margin-top: 200px;
}

#content.prototype-5 .prototype-nav a {
  color: grey;
}

#content.prototype-5 .email-border {
  max-width: 600px;
  border-style: solid;
  border-width: 1px;
  border-color: #bfc1c3;
  padding: 30px;
}
