#content.prototype-1 .description {
  background-color: #dee0e2;
  padding: 20px;
}

#content.prototype-1 .appeal,
#content.prototype-1 .hearing,
#content.prototype-1 .decision {
  border-top: 1px solid lightgray;
  padding-top: 20px;
}

#content.prototype-1 .appeal h2,
#content.prototype-1 .hearing h2,
#content.prototype-1 .decision h2 {
  margin-bottom: 20px;
}

#content.prototype-1 .details {
  padding-bottom: 10px;
}

#content.prototype-1 .hearing p,
#content.prototype-1 .decision p {
  display: inline;
}

#content.prototype-1 .tick {
  width: 30px;
  float: left;
  margin: -5px 15px 15px 0px;
}

#content.prototype-1 li:nth-child(2) {
  margin-bottom: 20px;
}
