{% extends "layout.html" %}
{% block page_title %}
SMS sign up confirmation (appointee) - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="#" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">You’re signed up for text message reminders</h1>
    <p>Text messages will be sent to the following number: <span style="font-weight: bold">07972 438178</span> </p>
    <p>You’ll get your first message within 3 working days, once your appeal has been lodged. </p>
    <a class="button" href="../prototype-beta-180517/submit-your-appeal/008-representative-appointee">Continue</a>
  <!--<br/>  <br/>
    <p><a href="../prototype-beta-20/submit-your-appeal/006-sms-mobile-number-change-appointee">Change number</a></p>-->
  </div>
</div>
</main>
{% endblock %}