{% extends "layout.html" %}
{% block page_title %}
Appeal submitted - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-two-thirds">
    <div class="govuk-box-highlight">
     <h1 class="bold-large">
      Your appeal has been submitted
    </h1>
  </div>
<br/>
 <div class="description">
  <h4 class="heading-small">What happens next</h4>
  <p>DWP will be notified that you want to appeal against their decision. They have until 17 June 2018 to respond. The tribunal will then review the information you and DWP have submitted and make a decision on your appeal. </p>
</div>

  If you’ve signed up to email or text messages you’ll get one within 3 working days with a link so you can track your appeal. 
</p> 
<br/>
<div class="form-group">
  <a class="button" href="019-exit-survey">Continue</a>
</div>
</div>
</div>
</main>
{% endblock %}