{% extends "layout.html" %}
{% block page_title %}
Saved benefit appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="004-your-details" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
     Your appeal has been saved
   </h1>
  <p>You have been sent an email with details of how to sign back into your appeal.</p>
   <a class="button" href="012-evidence-upload">Continue with appeal</a>
   <p> <a href="guidance/overview">Exit service</a></p>
 </div>
</div>
</main>
{% endblock %}


