{% extends "layout.html" %}
{% block page_title %}
Return to saved benefit appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="004-your-details" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
     You are signed in
   </h1>
  <p>You can continue with your appeal where you left off. </p>
   <p><a class="button" href="012-evidence-upload">Continue your appeal</a></p>

 </div>
</div>
</main>
{% endblock %}


