{% extends "layout.html" %}
{% block page_title %}
About your hearing - Track your benefits appeal
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
    {% include "includes/sscs-alpha.html" %}
    {% include "includes/sscs-breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                What to expect at your hearing 
            </h1>
            <p class="lede">Your hearing is an opportunity for you to explain your case and get a decision on your benefit appeal. The tribunal is independent from the DWP and will listen to both sides of the dispute before making a decision.</p>

            <h2 class="heading-medium">When you arrive </h2>
            <p>You’ll be greeted by a tribunal clerk. They’ll take care of you at the hearing venue and answer any questions you may have. You’ll then sit in a waiting area until your hearing begins.</p>

            <h2 class="heading-medium">The hearing room </h2>
            <p>The tribunal clerk will take you into a room for your hearing. It’s more like a meeting room than a courtroom. The judge will be sat behind a table and you’ll be invited to sit opposite him or her. If you have someone to support you or give evidence, they’ll sit next to you. </p>

            <img src="/public/images/p8/hearing-room.png">
            <p>A typical PIP benefit appeal hearing. The judge sits in the middle. A doctor and a disability expert sits either side. </p>

            <h2 class="heading-medium">The people at your hearing </h2>
            <p>The tribunal is made up of a panel of people who together make a decision on your appeal.</p>
            <p>The judge runs the hearing. They’ll explain how the hearing works and will write notes throughout. This is to create a record of the hearing.</p>
            <p>There’ll also be a doctor and a disability expert either side of the judge. They provide medical and disability advice. In Employment Support Allowance (ESA) appeals there’ll just be a doctor with the judge.</p>


            <h2 class="heading-medium">The DWP</h2>
            <p>A representative from the DWP may also be there. They are not on the panel and are there to speak on behalf of the DWP. They are not the person who made the decision on your benefits.</p>

            <h2 class="heading-medium">During your hearing </h2>
            <p>The judge and the other panel members will ask you some straightforward questions. They’re trying to understand how your condition affects your life. They may ask how you cope with certain tasks or what types of of things you need help with.</p>
            <p>They may also ask you questions that relate to the evidence you or the DWP have provided. Sometimes the panel will need more evidence or information to help them make a decision. It’s important that you submit all your evidence well before the hearing so they have time to review it. Otherwise they may have to postpone the hearing to a different day.</p>

            <h2 class="heading-medium">Getting a decision</h2>
            <p>You’ll be asked to wait outside while the panel members discuss your appeal. You’ll then be asked back into the room to be told the decision.</p>
            <p>The judge will explain whether you are entitled to the benefit in question and if so, at what level. </p>
            <p>Sometimes the tribunal may need more time to make a decision. Your decision will be posted to you in that case.</p>

        </div>

            <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">About your appeal</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">

                    <li><a href="tribunal-hearing">Check your hearing details</a></li>
                                <li><a href="evidence">Providing evidence to support your appeal</a></li>
                                                    <li><a href="/prototype-8/status-hearing-booked">Track your appeal</a></li>

                    
                    <!--<li><a href="https://www.gov.uk/browse/benefits/entitlement" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li> -->
                </ul>
            </nav>
        </aside>
    </div>
</div>

            <div class="prototype-nav">
            <p><a href="index">Index</a></p>

            </div>


</main>

{% endblock %}