{% extends "layout.html" %}
{% block page_title %}
Saved appeal application  - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
Your appeal has been saved 
    </h1>
    
<p>You can access your saved appeal application from the email you have just been sent.</p>  

<p>If you submit your appeal after [MRN date plus 35 days] you will have to explain why it’s late. </p>



<p>Your appeal application will be saved for 6 months.</p>


<p><a href="">Sign back into your appeal </a>

    </div>
  </div>
</main>
<p style="font-size: 16px; color: grey; padding-left:30px; float: right;"> <a href="https://track-your-appeal.herokuapp.com/prototype-beta-190211">Index - Testing 11.02.19 </a></p>
{% endblock %}


 