{% extends "layout.html" %}
{% block page_title %}
Your new email address - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
<div class="grid-row">

  <div class="column-two-thirds">
<div class="govuk-box-highlight">
   <h1 class="bold-small">
      Emails about your 
PIP benefit  appeal will now be sent to
    </h1>
    <br/>
    <p class="bold-medium"><span style="">manish.sharma@gmail.com</span></p>
</div>
<p>We’ve sent a confirmation email to that address. Check it in a few minutes.</p>
  <a href="your-new-email-address">Change your email address </a>

</div>
</div>

 

    
            <div class="prototype-nav">
            <p><a href="https://track-your-appeal.herokuapp.com/index-demo">Index</a></p> 

            </div>


</main>

{% endblock %}