{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS submit and track your appeal protoypes (22.05.2018)
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 20px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a></div>
	<p class="heading-small">Social Security and Child Support (SSCS)</p>
	<h1 class="heading-large">Submit your appeal <span class="heading-secondary">Prototypes</span></h1>
	<p>Due to be tested: 17 January 2019</p>
	<h2 class="heading-medium">Sprint focus</h2>
	<ul class="list list-bullet">
		<li>Save and return</li> 
		<li>Account creation</li>
		<li>Returning to a saved appeal form</li>
	</ul>
	<h3 class="heading-medium">Journeys</h3>
	<ul class="list  list-number">
		<li><a href="journey-manish">Save and return with account creation</a></li>
		<li><a href="journey-manish">Appeal submitted - promote manage your appeal</a></li>
	</ul>
</main>
{% endblock %}