{% extends "layout.html" %}

{% block page_title %}
Status - DWP response overdue - GOV.UK (EXRE3-S)
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

   {% include "includes/phase_banner_beta.html" %} 

   <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Your PIP benefit appeal
        </h1>

        <div class="details">
            <h2 class="heading-medium">Manish Sharma</h2>
            <h2>Appeal reference number:  SC242/16/034</h2>
        </div>
        <div class="divider"></div>
        <section class="progress-bar-tya">
      <div class="appeal-received active">
          <div class="ring">
              <img class="tick" src="/public/images/tick2.png" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="current" aria-hidden="true">Appeal</h4>
          <span class="screen-reader-text">Appeal received. This step is complete.</span>
      </div>
      <div class="dwp-respond">
          <div class="leg"></div>
          <div class="ring">
              <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="" aria-hidden="true">DWP Response</h4>
          <span class="screen-reader-text">DWP response. This has not happened yet.</span>
      </div>
      <div class="hearing-booked">
          <div class="leg"></div>
          <div class="ring">
              <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="" aria-hidden="true">Hearing booked</h4>
          <span class="screen-reader-text">Hearing for your appeal. This has not happened yet.</span>
      </div>
      <div class="hearing">
          <div class="leg"></div>
          <div class="ring">
              <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="" aria-hidden="true">Hearing</h4>
          <span class="screen-reader-text">Hearing for your appeal. This has not happened yet.</span>
      </div>
  </section>


 </div>

</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="description">
            <h4 class="heading-small">Latest update</h4>

<p>DWP were due to respond to your appeal by [dwp respond date] but they have not yet done so.</p>
<p>You don’t have to do anything. They have been contacted again and asked to respond. You’ll be notified as soon as they have responded.</p> 



            <!-- Previous updates -->
            <p class="updates-toggle">
                <i class="fa fa-caret-right" aria-hidden="true"><span>View previous updates</span></i>
            </p>
            <div class="updates-container">
                 <div class="update">
                    <h4 class="bold-small">DWP response late<span class="date-updates">7 August 2018</span></h4>
                    <p>DWP were due to respond to your appeal by [date +35 days from DWP notified of appeal] but they have not yet done so.</p>

                    <p>We’ve contacted them again to ask them to respond. We’ll let you know when they do.</p>
                </div>

                <div class="update">
                    <h4 class="bold-small">Appeal received<span class="date-updates">2 July 2018</span>
                        <p>DWP have to respond to your appeal by 7 August 2018. You’ll receive details of what happens next, after they’ve responded.</p>
                    </div>
                </div>
                <!-- End previous updates -->   

                

            </div>



            <div class="updates-border"></div>
        </div>
    </div>


    <h4 class="heading-small">About your appeal</h4>

    <ul class="list">

      <li><a href="about-hearing">What to expect at your hearing</a></li>

      <li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
      <li><a href="benefit-appeal-evidence">Providing evidence to support your appeal</a></li>

      <li><a href="contact-us">Contact us</a></li>   


  </ul> 

  <div style="margin-top: 40px; font-size: 14px;">
    <p><a href="manish-journey">Start</a> | <a href="notifications/email-dwp-response">DWP response - Email</a></p>
</div>

</main>

{% endblock %}