{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Evidence reminder 
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your ESA benefit appeal</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

	<p>Dear Mr M Sharma</p>
<p>If you’ve got any more evidence to support Your ESA benefit appeal, it must be received before 20 December 2016. This is so there's time to review it before your hearing.</p>

<p>Evidence is anything which supports your appeal. It could be letters, documents or medical records. You can find out more about the types of evidence you can send in here:<br/>
<a href="../evidence">https://www.gov.uk/trackyourappeal/evidence</a></p>

<p>Send any evidence you have to the following address, clearly marked with your appeal reference number.</p> 

<p>Birmingham ASC<br/>
HM Courts and Tribunals Service<br/>
Administrative Support Centre (ASC)<br/>
P O Box 14620<br/>
Birmingham<br/>
B16 6FR</p>
<br/>

	<div class="panel panel-border-wide">Ignore this reminder if you’ve already sent in all your evidence or you don’t have any. 
	</div>

<br/>


	<p><strong class="bold-small">Social Security and Child Support Tribunal</strong><br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

	<p>Change your email address or stop these emails:  <a href="../../manage/manage-email-unsubscribe">https://www.gov.uk/trackyourappeal/manage-notifications/p19ya35s</a></p>

</div>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../journey-derick">Index</a></p>
            </div>	

</main>

{% endblock %}
