{% extends "layout_unbranded.html" %}

{% block page_title %}
SMS - Hearing reminder - 1 week
{% endblock %}

{% block content %}

<main id="content" role="main" style="margin: 0 auto; width: 450px; text-align: left;">


<a href="../about-hearing-derick"><img src="/public/images/journey/sms-hearing-reminder-1wk.png"></a>


           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../journey-derick">Index</a> | <a href="sms-hearing-reminder-1day">SMS - Hearing reminder 1 day</a></p>
</main>


{% endblock %}