{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS Protoypes - BS02
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 45px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a>
		<p class="heading-small">Social Security and Child Support (SSCS)</p>
		<h1 class="heading-large">BS09: Submit your appeal - Version 1 digital prototype</h1>
		
<br/>
<br/>				


		<h2 id="submit" class="heading-small">Submit your appeal</h2>
		
		<ul class="list list-bullet">
			<li><a href="submit-your-appeal/guidance/start-an-appeal">Start - Submit your appeal</a></li>
			</ul>
		<hr>


<h2 id="guidance" class="heading-small">Gov.uk guidance pages</h2>
		
		<ul class="list list-bullet">
			<li><a href="submit-your-appeal/guidance/overview">Overview</a></li>
			</ul>


		<hr>

		<h2 id="track" class="heading-small">Track your appeal</h2>
		
		<ol class="list list-number">
			<li><a href="index-tya#online">Online status updates</a></li>
			<li><a href="index-tya#email">Email notifications</a></li>
			<li><a href="index-tya#sms">SMS notifications</a></li>
			<li><a href="index-tya#support">Hearing context and support content</a></li>
			<li><a href="index-tya#register">Manage notifications online</a></li>
			<li><a href="index-tya#error">Error pages</a></li>
			</ol>


</div>
</main>
{% endblock %}
