{% extends "layout.html" %}
{% block page_title %}
Your feedback - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
 
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
               Your feedback has been submitted
            </h1>

<p> <a href="status-decision">Go back to the service</a></p>
 
        </div>



    </div>
    
            <div class="prototype-nav">
            <p><a href="../index">Index</a></p>

            </div>


</main>

{% endblock %}