{% extends "layout.html" %}

{% block page_title %}
    Hearing Details - Track your benefits appeal
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" class="prototype-6" role="main">

    {% include "includes/sscs-alpha.html" %}
    {% include "includes/sscs-breadcrumbs.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">{{ __('hearingDetails.checkDetails') }}</h1>
            <div class="details">
                <h2 class="heading-medium">{{ name }}</h2>
                <h2 class="form-hint">{{ __('common.appealReferenceNumber') }}: {{ reference }}</h2>
            </div>
            <div class="divider"></div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="tribunal-details">

                <dl class="date-time">
                    <dt>{{ __('common.date') }}</dt>
                    <dd>{{date | formatDate}}</dd>
                </dl>

                <dl class="date-time">
                    <dt>{{ __('common.time') }}</dt>
                    <dd>{{time}}<span> ({{ __('hearingDetails.arriveEarly') }})</span></dd>
                </dl>

                <dl class="address">
                    <dt>{{ __('hearingDetails.location') }}</dt>
                    <dd>
                        {% for key, value in address %}
                        <span>{{ value }}</span>
                        {% endfor %}
                    </dd>
                </dl>

                <a href="{{mapsAndDirectionsUrl}}" class="maps-and-directions">{{ __('hearingDetails.mapsAndDirections') }}</a>

                <dl class="parking">
                    <dt>{{ __('hearingDetails.parking') }}</dt>
                    <dd><a href="{{parkingDirectionsUrl}}">{{ __('hearingDetails.nearestCarPark') }}</a></dd>
                </dl>

                <dl class="disabled-access">
                    <dt>{{ __('hearingDetails.disabledAccess') }}</dt>
                    <dd>{{disabledAccess}}</dd>
                </dl>

                <dl class="representative">
                    <dt>{{ __('hearingDetails.representative') }}</dt>
                    <dd>{{representative}}</dd>
                </dl>

                <dl class="interpreter">
                    <dt>{{ __('hearingDetails.interpreter') }}</dt>
                    <dd >
                        <span>{{ interpreter }}</span>
                        <span>{{ __('hearingDetails.interpretersBookedByUs') }}</span>
                    </dd>
                </dl>

            </div>

            <div class="panel panel-border-wide">
                <p><strong class="bold-small">{{ __('hearingDetails.incorrect') }}</strong></p>
            </div>

            <h3 class="heading-small">{{ __('hearingDetails.pleaseNote.heading') }}</h3>
            {% for description in __('hearingDetails.pleaseNote.description') %}
            <p>{{description}}</p>
            {% endfor %}

            <p class="about-hearing"><a href="/prototype-6/abouthearing">{{ __('hearing.expectations.title') }}</a></p>

            <div class="updates-border"></div>

            <h4 class="heading-small">{{ __('common.aboutYourAppeal') }}</h4>
            <ul class="list">
                <li><a href="/prototype-6/provideevidence">{{ __('evidence.provide.title') }}</a></li>
                <li><a href="/prototype-6/appealstatus?reference={{reference}}">{{ __('common.trackYourAppeal') }}</a></li>
            </ul>
        </div>
    </div>

</main>

{% endblock %}