{% extends "layout.html" %}
{% block page_title %}
Confirm email 01
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
<div class="grid-row">

  <div class="column-two-thirds">
<div class="govuk-box-highlight">
   <h1 class="bold-small">
      Emails about your ESA benefit appeal will now be sent to
    </h1>
    <br/>
    <p class="bold-large">manish.sharma@gmail.com</p>
</div>
<p>We’ve sent a confirmation email to that address. Check it in a few minutes.</p>
  <a href="manage-email-enter-new-01">Change your email address </a>

</div>
</div>

 

    
            <div class="prototype-nav">
            <p><a href="../index">Index</a> | <a href="../notifications/manage/email-confirm-change-new">Confirmation email to new address</a></p>

            </div>


</main>

{% endblock %}