{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - Hearing booked
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
	<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> your 
ESA benefit  appeal : check the details of your hearing</p>
	<div class="email-border">
		<div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
		<div class="panel panel-border-wide">
			<p>Appeal reference number: SC242/16/03435</p>
		</div>
		<br/>
		<p>Dear Mr M Sharma</p>
		<p>We’ve booked a hearing for your 
ESA benefit  appeal. Check the details below.</p>
		<p><strong class="bold-small">Date: </strong><span style="">27 April 2017 </span></p>
		<p><strong class="bold-small">Time:</strong> <span style="">10:00am</span> (arrive 15 minutes early)   </p>
		<p><strong class="bold-small">Address:</strong> <span style="">The Old Bakery, 115 Queens Road, Norwich NR1 3PL </span></p>
		<p><strong class="bold-small">Map and directions:</strong> <a href="https://www.google.com/maps/dir/Current+Location/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,+UK">https://www.google.com/maps/dir/Current+Location/The+Old+Bakery,<br/>115+Queens+Road,+Norwich+NR1+3PL,+UK</a> <br/></p>
		

		<p><strong class="bold-small">Parking:</strong> 


		<a href="https://www.google.com/maps/dir/Queens+Road+Car+Park,Norwich+NR1+3PN/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,+UK">https://www.google.com/maps/dir/Queens+Road+Car+Park,Norwich<br/>+NR1+3PN/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,<br/>+UK</a></p>

		



		<p><strong class="bold-small">Disabled access:</strong> <span style="">Not required </span></p>
		<p><strong class="bold-small">Interpreter: 	</strong>	<span style="">Not required</span> (only interpreters that we’ve booked can translate at your hearing) </p>
		<p><strong class="bold-small">Representative: </strong>	<span style="">Mr P Ashbourne</span> </p>
		<br/>
		<div class="panel panel-border-wide">
			<p><strong class="bold-small">Phone us on 0300 123 1142 to let us know about any changes or if you can’t attend. </strong></p>
		</div>
		<br/>
		<p class="bold-small">Please note</p>
		<p>You can bring people to support you at your hearing. For example family, friends or a support worker. There will be a limit to the number of people you can take into the hearing room because of space.</p>
		<p>Children are allowed in the waiting area but not in the hearing room. You’ll need to bring someone to supervise them while you’re in the hearing. </p>
		<p>Bring all documents relating to your appeal to the hearing. For example letters or evidence we or the <span style="">DWP</span>  have sent you.</p>
		<p>Find out what your hearing is going to be like: <a href="../what-to-expect-at-your-hearing">https://www.gov.uk/track-your-appeal/what-hearing-like/p19ya35s</a></p>
		<br/>
		<p class="bold-small">Claiming expenses</p>
		<p>You might be able to claim back some of the money you spend on attending your hearing. Find out more about how to claim:<br/><a href="../claiming-hearing-expenses">https://www.gov.uk/track-your-appeal/claiming-hearing-expenses/p19ya35s</a></p>
		<br/>
		<p><strong class="bold-small">Social Security and Child Support Tribunal</strong><br/>
			HMCTS<br/>
			Telephone: 0300 123 1142<br/>
		</p>
		<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.gov.uk/track-your-appeal/manage-email-notifications/p19ya35s</a></p>
	</div>
	<div style="margin-top: 40px; font-size: 14px;">
		<p><a href="../index">Index</a> | <a href="../what-to-expect-at-your-hearing">What to expect at the hearing</p>
	</div>
</main>
{% endblock %}
