{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - Appeal received
{% endblock %}

{% block content %}

<main id="content" class="prototype-7" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your PIP benefit appeal</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

	<p>Dear John Smith</p>

<p>We’ve received your Personal Independence Payment (PIP) benefit appeal.</p> 

<p>The decision relating to your PIP benefit was made by the Department for Work and Pensions (DWP). We’re a tribunal service who are independent from the DWP. We’ll look at both sides of the dispute before making a decision. </p>

<p>We’ve told the DWP that you want to appeal. They now have to provide a written response before 22 November 2016. We’ll contact you and explain the next steps when they’ve replied.</p>

	<p>Track the progress of your appeal any time:<br/><a href="../status?casenumber=SC012%2F34%2F56789&status=appeal">https://www.gov.uk/track-your-appeal/03435</a></p>

<br/>

	<p>Social Security and Child Support Tribunal<br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

</div>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a></p>
            </div>	

</main>

{% endblock %}
