{% extends "layout_unbranded.html" %}

{% block page_title %}
Your PIP benefit appeal
{% endblock %}

{% block content %}

<main id="content" class="prototype-7" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your PIP benefit appeal</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

	<p>Dear John Smith</p>

	<p>We’re emailing you about your PIP benefit appeal. </p>

<p>The DWP have told us that you have reached an agreement about your claim for the PIP benefit. We’ve therefore closed your appeal. </p>

<p>If you have any questions relating to your benefits, contact the DWP. You can find their contact details on any correspondence you’ve received from them.</p>

<br/>

	<p>Social Security and Child Support Tribunal<br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

</div>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a></p>
            </div>	

</main>

{% endblock %}
