{% extends "layout_unbranded.html" %}

{% block page_title %}
Your PIP benefit appeal
{% endblock %}

{% block content %}

<main id="content" class="prototype-7" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong>Your PIP benefit appeal</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
	<br/>
	<p>Dear John Smith</p>
	<p>The hearing for your PIP benefit appeal has been postponed and will now take place at a later date.</p>
	<p>Hearings can be postponed for a  variety of reasons. For example one of the tribunal may not be able to attend. We apologise for any inconvenience this may cause you.</p>
	<p>We’ll contact you by 20 Febraury 2017 with the details of your new hearing. </p>
	<p>Find out what your hearing is going to be like: <br/><a href="../about-hearing">https://www.gov.uk/trackyourappeal/whathearinglike</a></p>
	<br/>

	<p>Social Security and Child Support Tribunal<br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

</div>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a></p>
            </div>	

</main>

{% endblock %}
