{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Adjourned - Medical evidence
{% endblock %}

{% block content %}

<main id="content" class="prototype-7" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong>Your PIP benefit appeal</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

	<p>Dear John Smith</p>

	<p>The hearing for your PIP benefit appeal was due to take place on 4 November 2016. It didn’t take place because the tribunal needs further medical evidence to help them make a decision. </p>

	<p>The tribunal needs your permission to access your medical records. We’ve sent you a consent form in the post which you should receive in a few days. Details of what to do are on the form.</p>

	<p>We’ll then contact your doctor or healthcare professional to request access to relevant medical information. When we have this, we’ll set a new date for your appeal to be heard by a tribunal.</p>

	<p>We’ll contact you next when a new hearing date has been set. </p>

<br/>

	<p>Social Security and Child Support Tribunal<br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

</div>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a></p>
            </div>	

</main>

{% endblock %}
