{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - DWP response
{% endblock %}

{% block content %}

<main id="content" class="prototype-7" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your PIP benefit appeal</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

	<p>Dear John Smith</p>

<p>We’re emailing you about your PIP benefit appeal. </p>

<p>We told the DWP that you want to appeal. They’ve now responded and told us they’ve not changed their decision. They should have sent you a copy of their response in the post.</p> 

<p>We’re now in the process of booking a hearing for your appeal. We’ll contact you by 5 January 2017 with the details.</p>

	<p>Track the progress of your appeal any time:<br/><a href="../status-dwp-response">https://www.gov.uk/trackyourappeal/03435</a></p>

<br/>

	<p>Social Security and Child Support Tribunal<br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

</div>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a></p>
            </div>	

</main>

{% endblock %}
