{% extends "layout.html" %}
{% block page_title %}
Continue - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 

<a href="#" class="link-back">Back</a> 

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">You can continue with your appeal </h1>
<br/>
  <p><a class="button" href="002-dwp-office">Continue</a></p>

<br/><br/>
         <p class="timeout-note">This page will time out in 20 minutes if there is no activity. This is to protect your personal information.</p>
 <!--  <p> <a href="#">Save and come back later</a></p>-->



  </div>
</div>
</main>
{% endblock %}




