{% extends "layout.html" %}
{% block page_title %}
SMS sign up confirmation (appointee) - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
  {% include "includes/idam_signout_propositional_navigation_190117.html" %}
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="#" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">You’re signed up for text message reminders</h1>
    <p>Text messages will be sent to the following number: <span style="font-weight: bold">07972 438178</span> </p>
    <p>You’ll get your first message within 3 working days, once your appeal has been lodged. </p>
    <a class="button" href="../prototype-beta-190117/submit-your-appeal/008-representative-appointee">Save and continue</a>
<br/><br/>
         <p class="timeout-note">This page will time out in 20 minutes if there is no activity. This is to protect your personal information.</p>
<!--<p> <a href="#">Save and come back later</a></p>-->
        

    </div>
</div>
</main>
{% endblock %}