{% extends "layout.html" %}
{% block page_title %}
Check benefit appeal answers (appointee) - Appeal a benefit decision - GOV.UK 
{% endblock %}
{% block proposition_header %}
  {% include "includes/idam_signout_propositional_navigation_190117.html" %}
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-large">
        Check your appeal
      </h1>
      <!-- Benefit type -->
      <h2 class="heading-medium">Benefit</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Benefit name
          </dt>
          <dd class="cya-answer">
            Personal Independence Payment (PIP)
          </dd>
          <dd class="cya-change">
            <a href="001-benefit-type">
              Change<span class="visually-hidden"> benefit name</span>
            </a>
          </dd>
        </div>
      </dl>
      <!-- Mandatory Reconsideration Notice (MRN) -->
      <h2 class="heading-medium">Mandatory Reconsideration Notice (MRN)</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Number from MRN address
          </dt>
          <dd class="cya-answer">
            3
          </dd>
          <dd class="cya-change">
            <a href="002-dwp-office">
              Change<span class="visually-hidden"> number from MRN address</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Date of MRN
          </dt>
          <dd class="cya-answer">
            11 April 2018
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> date of MRN</span>
            </a>
          </dd>
        </div>
<!--        <div>
          <dt class="cya-question">
            Why appeal is late
          </dt>
          <dd class="cya-answer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            <span style="color: red;">[Reason for late appeal. Display if appeal is late and reason entered on either</span>
            <a href="003-3-why-appeal-late-1month">'Tell us why your appeal is late' (over 1 month)</a> or <a href="003-4-why-appeal-late-13months">'Tell us why your appeal is late' (over 13 months)</a>]
          </dd>
          <dd class="cya-change">
            <a href="003-3-why-appeal-late-1month">
              Change<span class="visually-hidden"> why appeal is late</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Reason for no MRN
          </dt>
          <dd class="cya-answer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <span style="color: red;">[Reason for no MRN as entered on <a href="003-1-no-mrn">'Tell us why you don’t have a Mandatory Reconsideration Notice'</a></span>
          </dd>
           <dd class="cya-change">
            <a href="003-1-no-mrn">
              Change<span class="visually-hidden"> reason for no MRN</span>
            </a>
          </dd>
        </div>-->

      </dl>
      <!-- Claiment details -->
      <h2 class="heading-medium">Your details</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Appointee
          </dt>
          <dd class="cya-answer">
            No
          </dd>
          <dd class="cya-change">
            <a href="004-appointee">
              Change<span class="visually-hidden"> appointee</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            <p>Manish Sharma</p>
          </dd>
          <dd class="cya-change">
            <a href="004-your-name">
              Change<span class="visually-hidden"> your name</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Date of birth
          </dt>
          <dd class="cya-answer">
            12 March 1971
          </dd>
          <dd class="cya-change">
            <a href="004-your-dob">
              Change<span class="visually-hidden"> your date of birth</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            National Insurance number
          </dt>
          <dd class="cya-answer">
            NP 27 28 67
          </dd>
          <dd class="cya-change">
            <a href="004-your-nino">
              Change<span class="visually-hidden"> your National Insurance number</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            <p class="pbold">Address<br/><br/><br/></p>
            <p class="pbold">Email<br/></p>
            <p class="pbold">Phone number</p>
          </dt>
          <dd class="cya-answer">
           <p>122 Breach Street<br/>
            Cardiff<br/>
            CF11 2HB<br/></p>
            <p>manish.sharma@gmail.com</p>
           
            <p>07972 438178</p>
          </p>
        </dd>
        <dd class="cya-change">
          <a href="004-your-contact-details">
            Change<span class="visually-hidden"> your address</span>
          </a>
        </dd>
      </div>
    </dl>
   
  <!-- Representative -->
  <h2 class="heading-medium">Representative</h2>
  <dl class="govuk-check-your-answers cya-questions-short">
    <div>
      <dt class="cya-question">
        Have a representative
      </dt>
      <dd class="cya-answer">
        Yes
      </dd>
      <dd class="cya-change">
        <a href="008-representative">
          Change<span class="visually-hidden">have a representative</span>
        </a>
      </dd>
    </div>
    <div>
      <dt class="cya-question">
        <p class="pbold">Name</p>
        <p class="pbold">Organisation</p>
        <p class="pbold">Address<br/><br/><br/><br/><br/></p>
        <p class="pbold">Email</p>
        <p class="pbold">Phone number</p>
      </dt>
      <dd class="cya-answer">
        <p>Peter Smith</p>
        <p>Citizens Advice</p>
        <p>Ground Floor<br/>
          Gazette Buildings<br/>
          168 Corporation Street<br/>
          Cardiff<br/>
        CF10 6TF</p>
        <p>peter.smith@cab.org.uk</p>
        <p>0300 331 1162</p>
      </dd>
      <dd class="cya-change">
        <a href="009-reps-details">
          Change<span class="visually-hidden">representatives name</span>
        </a>
      </dd>
    </div>
  </dl>
  <!-- Reasons for appealing -->
  <h2 class="heading-medium">Reasons for appealing</h2>
  <dl class="govuk-check-your-answers cya-questions-short">
    <div>
      <dt class="cya-question">
        <p class="pbold"> What you disagree with</p>
        <p class="pbold"> Why you disagree with it</p>
      </dt>
      <dd class="cya-answer">
        <p>I can't use a computer for long periods of time</p>
        <p>Since my stroke I have had trouble focussing. Using a computer gives me headaches and i need to take regular breaks and my consultant told me i should not use one. I cannot do a job which needs me to use a computer. </p>
      </dd>
      <dd class="cya-change">
        <a href="http://fngwu7.axshare.com/#c=2"> <!-- onPageLoad open the relevant accordion panel -->
          Change<span class="visually-hidden"> 1st reason for appealing</span>
        </a>
      </dd>
    </div>
    <div>
      <dt class="cya-question">
       <p class="pbold"> What you disagree with</p>
       <p class="pbold">Why you disagree with it</p>
     </dt>
     <dd class="cya-answer">
      <p>That i am able to cope with social situations</p>
      <p>I have trouble remembering people’s names. I get very anxious before social situations. I try to avoid them because i don't want to offend people by forgetting their name. </p>
    </dd>
    <dd class="cya-change">
      <a href="http://fngwu7.axshare.com/#c=2"> <!-- onPageLoad open the relevant accordion panel -->
        Change<span class="visually-hidden"> 2nd reason for appealing</span>
      </a>
    </dd>
  </div>
  <div>
    <dt class="cya-question">
      Anything else you want to tell us<br/>
    </dt>
    <dd class="cya-answer">
      I told the assessor about my condition but he did not listen to me.  
    </dd>
    <dd class="cya-change">
      <a href="011-additional-reasons">
        Change<span class="visually-hidden"> anything else you want to tell us</span>
      </a>
    </dd>
  </div>
</dl>


<!-- Your evidence -->
<h2 class="heading-medium">Your evidence</h2>
<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">
      Description
      <br/>
      <br/>
      <br/>
    
      Files uploaded
    </dt>
    <dd class="cya-answer">
      Letter from my doctor, picture of my walking stick and letter from my consultant. 
<br/><br/>
consultants-letter.jpg<br/>
healthworker-letter.jpg<br/>
walking-stick.jpg<br/>

    </dd>
    <dd class="cya-change">
      <a href="012-evidence-reminder">
        Change<span class="visually-hidden"> evidence provided</span>
      </a>
    </dd>
  </div>
  
</dl>


<!-- The hearing -->
<h2 class="heading-medium">The hearing</h2>
<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">
      Attending the hearing
    </dt>
    <dd class="cya-answer">
      Yes
    </dd>
    <dd class="cya-change">
      <a href="013-your-hearing">
        Change<span class="visually-hidden"> attending the hearing</span>
      </a>
    </dd>
  </div>
  <div>
    <dt class="cya-question">
      Dates you can't attend 
    </dt>
    <dd class="cya-answer">
      <p>14 June 2018 to 15 June 2018</p>
      <p>29 June 2018</p>
    </dd>
    <dd class="cya-change">
      <a href="016-hearing-dates-nonjs">
        Change<span class="visually-hidden"> dates you're not available</span>
      </a>
    </dd>
  </div>
</dl>



<!-- The hearing arrangements -->
<h2 class="heading-medium">Hearing arrangements</h2>
<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">
      <p class="pbold">Language interpreter</p>
      <p class="pbold">Sign interpreter</p>
      <p class="pbold">Hearing loop</p>
      <p class="pbold">Disabled access</p>
      <p class="pbold">Any other arrangements</p>
    </dt>
    <dd class="cya-answer">
      <p>Not required</p>
      <p>Not required</p>
      <p>Not required</p>
      <p>Required</p>
      <p>Not required</p>
    </dd>
    <dd class="cya-change">
      <a href="015-hearing-arrangements">
        Change<span class="visually-hidden"> hearing arrangements</span>
      </a>
    </dd>
  </div>
</dl>

<!-- Notifications -->
<h2 class="heading-medium">Notifications</h2>
<dl class="govuk-check-your-answers cya-questions-short">
  <div>
    <dt class="cya-question">
      <p>Email</p>
      <p>Text messages</p>
    </dt>
    <dd class="cya-answer">
      <p>manish.sharma@gmail.com</p>
      <p>0797 243 8179</p>
    </dd>
    <dd class="cya-change">
      <a href="016-notifications-how-receive">
        Change<span class="visually-hidden"> hearing arrangements</span>
      </a>
    </dd>
  </div>
</dl>


<br/>
<h2 class="heading-medium">Sign and submit </h2>
<p>The information I have provided in this appeal is accurate, to the best of my knowledge. </p>
<p><!--[if chosen rep]--> I give permission for you to correspond with my named representative about my appeal.</p>
<p>I agree to the <a href="other-pages/terms-and-conditions">terms and conditions</a> of using the ‘Appeal a benefit decision’ service.</p>
<div class="form-group">
  <h3 class="heading-small">
    Enter your name
    <span class="form-hint">This should be the person named on the appeal. Not the representative.</span>
  </h3>
  <input class="form-control form-control-2-4" id="form-control-3-4" type="text"> 
</div>
<div class="form-group">
  <a class="button" href="018-confirmation">Submit your appeal</a>
  <!--  <a class="button" href="../prototype-beta-190117/submit-your-appeal/018-confirmation">Submit your appeal</a>-->
</div>
</div>
</main>
{% endblock %}