{% extends "layout.html" %}
{% block page_title %}
Return to saved benefit appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="004-your-details" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-full-width">
    <h1 class="heading-large">
     Check your answers so far 
   </h1>
  <p>Review the answers you have entered so far. You can change them if you want to.</p> 

<p>Continue with your appeal if you do not want to change anything. </p>


      <h2 class="heading-medium">Benefit</h2>

<dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Benefit name
          </dt>
          <dd class="cya-answer">
            Personal Independence Payment (PIP)
          </dd>
          <dd class="cya-change">
            <a href="001-benefit-type">
              Change<span class="visually-hidden"> benefit name</span>
            </a>
          </dd>
        </div>
      </dl>
      <!-- Mandatory Reconsideration Notice (MRN) -->
      <h2 class="heading-medium">Mandatory Reconsideration Notice (MRN)</h2>
      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Number from MRN address
          </dt>
          <dd class="cya-answer">
            3
          </dd>
          <dd class="cya-change">
            <a href="002-dwp-office">
              Change<span class="visually-hidden"> number from MRN address</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Date of MRN
          </dt>
          <dd class="cya-answer">
            3 January 2019
          </dd>
          <dd class="cya-change">
            <a href="003-mrn-date">
              Change<span class="visually-hidden"> date of MRN</span>
            </a>
          </dd>
        </div>
</dl>
<br/><br/>
   <p><a class="button" href="004-appointee">Continue your appeal</a></p>

      <p><a href="">Delete your appeal</a></p>


 </div>
</div>
</main>
{% endblock %}


