{% extends "layout.html" %}
{% block page_title %}
At the hearing - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %}
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Appeal a benefit decision</h1>

            <aside class="nav-container" role="complementary">
                <div class="nav-section">
                    <h2>Contents</h2>
                     <ol class="navigation-list">
                        <li><a href="overview">Overview</a></li>
                        <li><a href="submit-appeal">Submit your appeal</a></li>
                        <li><a href="after-submit-appeal">After you submit your appeal</a></li>
                        <li><a href="at-the-hearing">What happens at the hearing</a></li>
                        <li>If you're unhappy with the tribunal's decision</li>
                    </ol>
                </div>
            </aside>
        </div>

        <div class="column-two-thirds">

            <h1 class="part-title">If you're unhappy with the tribunal's decision</h1>

    <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
      <p>You may be able to:</p>

<ul class="list list-bullet">
  <li>get a decision cancelled (‘set aside’)</li>
  <li>appeal to the Upper Tribunal (Administrative Appeals Chamber)</li>
</ul>

<p>Your decision letter has more information.</p>

<h2 id="get-a-decision-set-aside" class="heading-medium">Get a decision set aside</h2>

<p>You’ll be told how to get a decision ‘set aside’ (cancelled) if you think there’s been a mistake in the process. Contact <a rel="external" href="http://www.citizensadvice.org.uk/index/getadvice.htm">Citizens Advice</a> if you need help.</p>

<h2 id="appeal-to-the-upper-tribunal-administrative-appeals-chamber">Appeal to the Upper Tribunal Administrative Appeals Chamber</h2>

<p>You can only appeal to the Upper Tribunal (Administrative Appeals Chamber) if you think the decision was wrong for a legal reason, for example, if the tribunal did not:</p>

<ul class="list list-bullet">
  <li>give proper reasons for its decision, or back up the decision with facts</li>
  <li>apply the law properly</li>
</ul>

<p>Contact <a rel="external" href="http://www.citizensadvice.org.uk/index/getadvice.htm">Citizens Advice</a> if you need help.</p>

<p>You must then follow 3 steps.</p>

<!-- <ol class="steps"> -->
  <ol class="  list list-number">
<li>
<p>Ask the Social Security and Child Support Tribunal for full written reasons (known as a ‘statement of reasons’) within one month of the date of the decision. The decision letter will tell you how to do this.</p>
</li>
<li>
<p>Ask the Social Security and Child Support Tribunal for permission to appeal to the Upper Tribunal (Administrative Appeals Chamber).</p>
</li>
<li>
<p>If the Social Security and Child Support Tribunal refuses, ask <a href="https://www.gov.uk/government/publications/form-ut1-application-for-permission-to-appeal-to-an-upper-tribunal-judge-and-notice-of-appeal-for-social-security-child-support-tax-credits-housin">the Upper Tribunal (Administrative Appeals Chamber)</a> for permission to appeal.</p>
</li>
</ol>

</div>       

   <nav class="pagination" role="navigation" aria-label="Pagination">
         <ul class="pagination-list">
             <li class="pagination-item pagination-prev">
                 <a class="pagination-link" href="/prototype-beta-190211/submit-your-appeal/guidance/at-the-hearing">
                        <span class="pagination-title">
                            <svg class="pagination-icon">
                                <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                            </svg>
                            Previous
                        </span>
                     <span class="visually-hidden">:</span>
                     <span class="pagination-label">What happens at the hearing</span>
                 </a>
             </li>
         </ul>
     </nav>

        </div>

        <div class="column-one-third">
            <aside class="govuk-related-items">
                <h2 class="heading-small">Related Content</h2>
                <nav role="navigation">
                     <h3 class="sub-heading">Explore the topic</h3>
                    <ul class="font-xsmall">
                           <li> <a href="https://www.gov.uk/browse/benefits/entitlement">How benefits work</a></li>
   <li> <a href="https://www.gov.uk/browse/justice/courts-sentencing-tribunals">Courts, sentencing and tribunals</a></li>
   <li> <a href="https://www.gov.uk/topic/dealing-with-hmrc/complaints-appeals">Complaints and appeals</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>

{% endblock %}
