{% extends "layout_unbranded.html" %}
{% block page_title %}
SMS - DWP response
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main" style="margin: 0 auto; width: 450px; text-align: left;">
	<a href="../status-dwp-response-late"><img src="/public/images/sms/dwp-response-late-sms.png"></a>
	

		<div style="margin-top: 40px; font-size: 14px;">
		<p><a href="sms-appeal-lodged">Appeal lodged - SMS</a>  |  <a href="sms-dwp-response">DWP response - SMS</a> </p>
	</div>
</main>
{% endblock %}