{% extends "layout.html" %}
{% block page_title %}
Text reminders confirmation - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
        {% include "includes/back.html" %}

    <div class="grid-row">
        <div class="column-full">

         <h1 class="heading-large">You’re signed up for text message notifications </h1>
    
    <table class="demo">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

 
      <tr>
        <td>Text messages will be sent to</td>
        <td><span style="font-weight: bold">[phone number]</span></td>
        <td><a href="#">Change</a></td>
      </tr>

      <tr>

      </table>

      <br/>

      <p>You’ll get your first message after you’ve submitted your appeal.</p>
      <br/>

  <a class="button" href="008-representative">Continue</a>
          
        </div>

    </div>
    
          


</main>

{% endblock %}