{% extends "layout.html" %}
{% block page_title %}
Check your hearing details - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Check your hearing details
            </h1>
            <div class="details">
<h2 class="heading-medium">Mr M Sharma</h2>
<h2>Appeal reference number:  SC242/16/034</h2>
</div>
            <div class="divider"></div>
        </div>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="tribunal-details">
            <dl class="date-time">
                <dt>Date</dt>
                <dd><span style="">27 April 2017</span> </dd>
            </dl>
            <dl class="date-time">
                <dt>Time  </dt>
                <dd><span style="">10:00am </span> <span style="font-weight: normal;">(arrive 15 minutes before)</span> </dd></dd>
            </dl>
            <dl class="address">
                <dt>Location</dt>
                <dd>
                    <span style="">
                    <span>The Old Bakery</span>
                    <span>115 Queens Road</span>
                    <span>Norwich</span>
                    <span>NR1 3PL</span>
                    
</span>
                </dd>
            </dl>
            

            <a class="maps-and-directions" href="https://www.google.com/maps/dir/Current+Location/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,+UK">Maps and directions</a> </dd>
<br/><br/>
            <dl class="parking">
                <dt>Parking</dt>
                <dd style="font-weight: normal;"><a href="https://www.google.com/maps/dir/Queens+Road+Car+Park,Norwich+NR1+3PN/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,+UK">Nearest car park</a></dd>
            </dl>

            

            <dl class="disabled-access">
                <dt>Disabled access </dd></dt>
                <span style=""><dd>Not needed </dd></span>
            </dl>

            <dl class="interpreter">
               <dt>Interpreter</dt>
                <dd >
                   <span style=""> <span>Not needed </span>
                    <span style="font-weight: normal;">Only interpreters we book can translate for you at the hearing.</span></span>
                </dd>
            </dl>

            <dl class="representative">
                <dt>Representative</dt>
             <span style="">   <dd>Mr P. Ashbourne </span></dd>
            </dl>



        </div>


        <br/>
             <br/>

        <div class="panel panel-border-wide">
          <p><strong class="bold-small">Phone us on 0300 123 1142 to let us know about any changes or if you can’t attend.</strong></p>
      </div>
      <br/>
<h3 class="heading-small">Please note</h3>
         <p>You can bring people to support you at your hearing. For example family, friends or a support worker. There will be a limit to the number of people you can take into the hearing room because of space.</p> 


<p>Children are allowed in the waiting area but not in the hearing room. You’ll need to bring someone to supervise them while you’re in the hearing. </p>


<p>Bring all documents relating to your appeal to the hearing. For example letters or evidence we or DWP  have sent you.</p>

      <br/>
      <a href="about-hearing">Find out what your hearing is going to be like</a>
      
      <div class="updates-border"></div>
      <h4 class="heading-small">About your appeal</h4>
      <ul class="list">
       <li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
                  <li><a href="benefit-appeal-evidence">Providing evidence to support your appeal</a></li>

        <li><a href="status-hearing-booked">Track your appeal</a></li>
        <li><a href="contact-us">Contact us</a></li> 
        
    </ul> 
</div>
</div>

            <div class="prototype-nav">
            <p><a href="index">Index</a> | <a href="notifications/email-hearing-reminder-1wk">Email - Hearing reminder - 1 week</a></p>

            </div>

</main>
{% endblock %}