{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS submit and track your appeal protoypes (17.05.2018)
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 20px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a></div>
	<p class="heading-small">Social Security and Child Support (SSCS)</p>
	<h1 class="heading-large">Submit and track your appeal</h1>
	<p class="lede">User research - 17.05.2018</p>
	<h2 class="heading-small">Main changes</h2>
	<ul class="list list-bullet">
		<li>Notifcations sign up (Iteration)</li>
		<li>Save and return in SYA (New)</li>
		<li>Evidence upload post SYA with current IdAM (Iteration)</li>
	</ul>
	
	<h3 class="heading-medium">Test journey's</h3>

	<h4  class="heading-small">Start at name</h4>
	<p> Start: <a href="submit-your-appeal/004-your-name-start">Your name</a></p>

	<h4  class="heading-small">Notifications sign up</h4>
	<p> Start: <a href="submit-your-appeal/004-your-email">Enter email address</a></p>

	<h4 class="heading-small">Save (and return)</h4>
	<p> Start: <a href="submit-your-appeal/012-evidence-provide">Evidence upload</a></p>

	<h4 class="heading-small">Return</h4>
	<p> Start: <a href="notifications/email-appeal-saved">Appeal saved email</a></p>

	

	<h4 class="heading-small">Timeout</h4>
	<p> Start: <a href="submit-your-appeal/other-pages/timeout-countdown">Timeout</a></p>

	<h4  class="heading-small">Evidence upload post SYA</h4>
	<p>	 Start: <a href="notifications/email-appeal-lodged">Appeal lodged email</a></p>

	<h3 class="heading-medium">Full prototypes</h3>
	<ul class="list">
		<li><a href="submit-your-appeal/guidance/overview.html">Submit your appeal</a></li>
		<li><a href="index-tya.html">Track your appeal</a></li>
	</ul>
<!--
	<h3 class="heading-medium">Documentation</h3>
	<ul class="list">
		<li><a href="#">Design</a></li>
		<li><a href="#">Research</a></li>
	</ul>
-->
</main>
{% endblock %}
