{% extends "layout_unbranded.html" %}

{% block page_title %}
SSCS Protoypes
{% endblock %}

{% block content %}

<main id="content" role="main">
           <div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png">
          <p class="heading-small">Social Security and Child Support (SSCS)</p>
           </div>

 

           <div class="grid-row">

           	<div class="column-one-third">

           		<img src="/public/images/persona-manish.png" width="90%"  >
           	</div>

           	<div class="column-two-thirds">
           		<h1 class="heading-large">Manish</h1>
           <!--	<h2 class="heading-small">User needs</h2>

           		<ul class="list list-bullet">
           			<li>I need to know where I am in the process and what's going to happen next so that I don’t get stressed </li>
           			<li>I need to be reminded to submit evidence so that my hearing doesn't get adjourned</li>
           			<li>I need accurate information on timeframes so that I know how long each step in the process takes</li>
           		</ul>-->

           		<h3 class="heading-small">Scenario</h3>
           		<p>Manish receives a Mandatory Reconsideration Notice (MRN) from DWP. It tells him they are sticking by their original decision to award his benefits at a reduced rate. He feels he is entitled to more.<p>

              <p>The letter tells him he can appeal the decision through an independent tribunal. There's a web site address for the <a href="https://www.gov.uk/social-security-child-support-tribunal/">Appeal a benefit decision service on Gov.uk</a>.</p>

           		<p>He visits the web site and sees that he can appeal the DWP decision online. He completes the appeal form and receives an <a href="notifications/email-appeal-summary">email confirming he's appeal has been received</a>.</p>

           	</div>
           </div>

</main>

{% endblock %}