{% extends "layout.html" %}
{% block page_title %}
Status - Appeal received - GOV.UK (PHAR1-S)
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Your PIP benefit appeal
        </h1>
        <div class="details">
         <h2 class="heading-medium">Manish Sharma</h2>
         <h2>Appeal reference number: SC242/16/03435</h2>
     </div>
     <div class="divider"></div>
     <section class="progress-bar-tya">
      <div class="appeal-received active">
          <div class="ring">
              <img class="tick" src="/public/images/tick2.png" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="current" aria-hidden="true">Appeal</h4>
          <span class="screen-reader-text">Appeal received. This step is complete.</span>
      </div>
      <div class="dwp-respond">
          <div class="leg"></div>
          <div class="ring">
              <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="" aria-hidden="true">DWP Response</h4>
          <span class="screen-reader-text">DWP response. This has not happened yet.</span>
      </div>
      <div class="hearing-booked">
          <div class="leg"></div>
          <div class="ring">
              <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="" aria-hidden="true">Hearing booked</h4>
          <span class="screen-reader-text">Hearing for your appeal. This has not happened yet.</span>
      </div>
      <div class="hearing">
          <div class="leg"></div>
          <div class="ring">
              <img class="tick" src="/public/images/tick.svg" alt="ignored by screen readers" aria-hidden="true">
          </div>
          <h4 class="" aria-hidden="true">Hearing</h4>
          <span class="screen-reader-text">Hearing for your appeal. This has not happened yet.</span>
      </div>
  </section>
</div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="description">
            <h3 class="heading-small">Latest update</h3>

            <p>DWP have to respond to your appeal by 21 June 2018. You’ll receive details of what happens next, after they’ve responded.</p>
        </div>
        <div style="padding-top: 0px;"></div>
        <h3 class="heading-small">Additional evidence</h3>
        <p>If you have any additional evidence that’s relevant to your appeal you can upload it or send it by post. <a href="benefit-appeal-evidence">Read more about what information the tribunal finds useful</a></p>
        <!-- <p><a href="">Provide additional evidence</a></p>-->
        <a  href="evidence-online-or-post">Provide additional evidence</a>

        <div class="updates-border"></div>
    </div>
</div>
<h4 class="heading-small">About your appeal</h4>
<ul class="list">
    <li><a href="benefit-appeal-evidence">Providing evidence to support your appeal</a></li>
    <li><a href="about-hearing">What to expect at your hearing</a></li>
    <li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
    <li><a href="contact-us">Contact us</a></li>   
</ul> 

</main>

<div style="padding-left: 40px; font-size: 14px;">
    <p><a href="journey-manish">Start</a> | <a href="notifications/email-dwp-response">Email - DWP response</a></p>
</div>  
{% endblock %}