{% extends "layout.html" %}

{% block page_title %}
Track your appeal - GOV.UK
{% endblock %}



{% block content %}
<main id="content" class="prototype-8" role="main">

     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}

    <form action="/prototype-8/validate-surname" method="get" class="form">

        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

            <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                There are errors on the page.
            </h1>

            <ul class="error-summary-list">
                <li><a href="#example-personal-details">{{errors[0]}}</a></li>
            </ul>

        </div>

        <h1 class="form-title heading-xlarge">Track your benefit appeal</h1>

        <div class="form-group error">
            <div style="padding-top: 10px;"></div>
            <label class="heading-medium" for="surname">Enter your surname</label>
            <div style="padding-top: 15px;"></div>
            <p class="form-hint">As it appears on any letter about your appeal.</p>
            <span class="error-message">
                {{errors[1]}}
            </span>
            <input type="text" class="form-control"  id="surname" name="surname" value="{{surname}}">
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Find appeal">
        </div>

    </form>

</main>
{% endblock %}
