{% extends "layout.html" %}
{% block page_title %}
Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

<h1 class="heading-xlarge">Appeal a benefit decision</h1>

<!-- Add navigation -->

<div id="nav-links">
<ol class="nav-list">
	<li><a href="overview.html">Overview</a></li>
  <li>Benefit appeals process</li>
  <li><a href="start-an-appeal">Start an appeal</a></li>
  <li><a href="help-and-support">Help and support</a></li>
  <li><a href="evidence">Evidence</a></li>
  <li><a href="hearing">Hearing</a></li>
</ol>
</div>

<hr>

<h1 class="heading-large">2. Benefit appeals process</h1>


<br>

<img src="/public/images/progress-bar-guidance-2.png" width="100%">

<h2 class="heading-medium">Appeal received</h2>
<p>We record your appeal and send a copy to the department (DWP or HMRC) which made the decision.</p> 

<h2 class="heading-medium">Response </h2>
<p>The department which made the decision provides a written response which explains how they made their decision. </p>

<h2 class="heading-medium">Hearing booked</h2>
<p>We book a hearing for your appeal. It’s an opportunity for you to explain your appeal.  It’s up to you whether you come.</p>     

<h2 class="heading-medium">Hearing </h2>
<p>An informal hearing takes place at a tribunal venue. The tribunal is independent and will decide whether the decision was correct. </p>

<h2 class="heading-medium">How long does this take? </h2>
<p>Unfortunately we can’t say how long your appeal will take. It depends on too many factors. We can say that it will be at least X weeks but it could be much longer. </p>

<p>To avoid delays to your appeal you should do the following: </p>

<ul class="list list-bullet"> 
<li>send any evidence well before the hearing </li>
<li>make yourself available for a hearing any time </li>
<li>turn up to the hearing on time </li>
<li>register a representative early (if you need one)</li>
</ul>

           
        </div>

            <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Related links</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">

                    <li><a href="#">Link one</a></li>
                    <li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>       
              
                </ul>
            </nav>
        </aside>
    </div>
</div>

        


</main>

{% endblock %}