{% extends "layout.html" %}
{% block page_title %}
Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

<h1 class="heading-xlarge">Appeal a benefit decision</h1>

<!-- Add navigation -->

<div id="nav-links">
<ol class="nav-list">
  <li><a href="overview.html">Overview</a></li>
  <li>Benefit appeals process</li>
  <li><a href="start-an-appeal">Start an appeal</a></li>

  <li><a href="evidence">Evidence to support your appeal</a></li>
  <li><a href="hearing">What to expect at your hearing</a></li>
    <li><a href="help-and-support">Help and support</a></li>
</ol>
</div>

<hr>

<h1 class="heading-large">Benefit appeals process</h1>


<br>

<img src="/public/images/progress-bar-guidance.png" width="100%" alt="Benefit appeal progress bar with 4 steps. Step 1 Appeal. Step 2 Response. Step 3 Hearing Booked. Step 4 Hearing">

<h2 class="heading-medium">Appeal received</h2>
<p>We record your appeal and send a copy to the department which made the decision about your entitlement to benefits. This will either be the DWP, HMRC or your local authority.</p> 

<h2 class="heading-medium">Response </h2>
<p>The department which made the decision about your entitlement to benefits provides a written response to your appeal. </p>

<h2 class="heading-medium">Hearing booked</h2>
<p>We book a hearing for your appeal. It’s an opportunity for you to explain your reasons for appealing. It’s up to you whether you come. </p>     

<h2 class="heading-medium">Hearing </h2>
<p>An informal hearing takes place. The tribunal is independent and will decide whether the decision was correct. </p>

<h2 class="heading-medium">How long does this take? </h2>
<p>Unfortunately we can’t say how long it will take. It depends on too many factors.</p>

<p>To avoid delays to your appeal you should: </p>

<ul class="list list-bullet"> 
<li>send any evidence well before the hearing </li>
<li>make yourself available for a hearing any time </li>
<li>turn up to the hearing on time </li>
<li>get a <a href="representatives">representative</a> early (if you need one)</li>
</ul>

           
        </div>

            <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Related links</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">

                    <li><a href="#">Link one</a></li>
                    <li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>       
              
                </ul>
            </nav>
        </aside>
    </div>
</div>

<footer>
<nav class="pagination" role="navigation" aria-label="Pagination">
    <ul class="group">
          <li class="previous">
            <a title="Navigate to previous part" rel="prev" href="/social-security-child-support-tribunal/overview">
              <span class="pagination-label">Previous </span> <span class="pagination-part-title">Overview</span>
</a>          </li>
          <li class="next">
            <a title="Navigate to next part" rel="next" href="/social-security-child-support-tribunal/appeal-tribunal">
              <span class="pagination-label">Next</span> <span class="pagination-part-title">Appeal to the tribunal</span>
</a>          </li>
    </ul>
  </nav>    

</footer>
</main>

{% endblock %}