{% extends "layout.html" %}
{% block page_title %}
Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

<h1 class="heading-xlarge">Appeal a benefit decision</h1>

<!-- Add navigation -->

<div id="nav-links">
<ol class="nav-list">
	<li><a href="overview.html">Overview</a></li>
  <li><a href="benefit-appeals-process">Benefit appeals process</a></li>
  <li><a href="start-an-appeal">Start an appeal</a></li>
  <li><a href="help-and-support">Help and support</a></li>
  <li>Evidence</li>
  <li><a href="hearing">Hearing</a></li>
</ol>
</div>

<hr>

<h1 class="heading-large">5. Sending evidence</h1>

<p>Evidence is anything that supports your appeal. It could be medical records, letters or documents. What you say at the hearing is also evidence. It all helps the tribunal understand your appeal. </p>

<p>It’s important that you send any evidence as early as possible. This is so there's time to read it before your hearing. We’ll send you information on how to do this when you’ve submitted your appeal. </p> 

<p>If you’re getting medical evidence, you’ll need to request this as early as possible from your doctor. Please be aware they may charge you for this. Unfortunately we can’t reimburse you. </p>

<p>You do not have to send evidence in if you don’t have any. 
</p>

           
        </div>

            <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Related links</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">

                    <li><a href="#">Link one</a></li>
                    <li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>       
              
                </ul>
            </nav>
        </aside>
    </div>
</div>

        


</main>

{% endblock %}