{% extends "layout.html" %}
{% block page_title %}
Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

<h1 class="heading-xlarge">Appeal a benefit decision</h1>

<!-- Add navigation -->

<div id="nav-links">
<ol class="nav-list">
	<li><a href="overview.html">Overview</a></li>
  <li><a href="benefit-appeals-process">Benefit appeals process</a></li>
  <li><a href="start-an-appeal">Start an appeal</a></li>
  <li><a href="help-and-support">Help and support</a></li>
  <li><a href="evidence">Evidence to support your appeal</a></li>
  <li>What to expect at your hearing</li>
</ol>
</div>

<hr>

<h1 class="heading-large">What to expect at your hearing </h1>

<p>Your hearing is where you explain your appeal and get a decision. The tribunal is independent and will listen to both sides before making a decision. </p>

            <h2 class="heading-medium">When you arrive </h2>
            <p>You’ll be greeted by a tribunal clerk. They’ll take care of you at the hearing venue and answer any questions you may have. You’ll sit in a waiting area until your hearing begins. </p>

            <h2 class="heading-medium">The hearing room </h2>
            <p>The tribunal clerk will take you into the room for your hearing. The judge and other panel members will be sat behind a table. You’ll be invited to sit opposite them. If you have someone to support you or to give evidence, they’ll sit next to you. </p>

            <img src="/public/images/p8/hearing-room.png">
            <p>A typical tribunal hearing with a judge and medical experts.</p>

            <h2 class="heading-medium">The people at your hearing </h2>
            <p>The tribunal is made up of a panel of people who’ll make a balanced decision on your appeal. </p>

<p>The judge runs the hearing. They’ll explain how it works. They’ll also take notes throughout. This is to create a record of the hearing. </p>

<p>Depending on the type of benefit you are appealing, there may be a doctor sat next to the judge. They are all independent from the DWP and will make a decision on your entitlement to the benefit in question.</p>


            <h2 class="heading-medium">The department who made the decision </h2>
            <p>A representative from the department whose decision you are appealing against may be there. For example, someone from the DWP. They are there to speak on behalf of the department. They won’t be the person who made the decision about your benefits.  </p>

            <h2 class="heading-medium">During your hearing </h2>
            <p>The judge and the other panel members will ask you some straightforward questions. They’re trying to understand your appeal better. </p>

<p>Sometimes the panel members will need more evidence or information to help them make a decision. It’s important that you submit all your evidence well before the hearing so they have time</p>

            <h2 class="heading-medium">Getting a decision</h2>
            <p>After you’ve answered all the questions you’ll be asked to wait outside while the panel members discuss your appeal. You’ll then be asked back into the room to be told the decision.</p>

<p>Sometimes they may need more time to make a decision. If that happens the decision about your appeal will be posted to you.</p>

           
        </div>

            <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Related links</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">

                    <li><a href="#">Link one</a></li>
                    <li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>       
              
                </ul>
            </nav>
        </aside>
    </div>
</div>

        


</main>

{% endblock %}