{% extends "layout.html" %}
{% block page_title %}
Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

<h1 class="heading-xlarge">Mandatory reconsideration</h1>

<p>Before appealing most benefit decisions you have to ask the government department or local authority who made the decision to reconsider it. This is known as requesting mandatory reconsideration.</p>

<p>To request mandatory reconsideration you’ll need to:</p>

<ul class="list list-bullet"> 

  <li>Find out which department made the decision (using the list below)</li>
<li>Find the department’s contact details (from any letters you’ve received from them) </li>
<li>Phone or write to them telling them you want to challenge their decision. </li>
</ul>

<p>The department should then send you a Mandatory Reconsideration Notice. This tells you whether they have changed their decision about your entitlement to the benefit. If you still don’t agree with the decision on the MRN you can <a href="start-an-appeal">appeal using this service.</a></p>

<p>You don’t have to get a mandatory reconsideration notice for Housing Benefit. You just need to <a href="www.gov.uk/find-local-council">phone up your local council</a> and tell them you want to appeal. For Child Benefit you have to <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/child-benefit">phone HMRC </a>first.</p> 

<table >
  <tbody>
    <tr>
      <td class="heading-small">Benefit</td>
      <td class="heading-small">Decision maker </td>
    </tr>
    <tr>
      <td>Attendance Allowance </td>
      <td>DWP</td>
    </tr>
   <tr>
<td>Bereavement Benefit</td>
<td>DWP (Pensions department)</td> 
</tr>

<tr>
<td>Carer's Allowance</td>
<td>DWP</td>
</tr>

<tr>
<td>Child Benefit Lone Parent</td>
<td>HMRC</td>
</tr>

<tr>
<td>Disability Living Allowance</td>
<td>DWP</td>
</tr>

<tr>
<td>Employment and Support Allowance</td>
<td>DWP</td>
</tr>

<tr>
<td>Housing/Council Tax benefit</td>
<td>Your council or local authority </td>
</tr>

<tr>
<td>Home Responsibilities Protection</td>
<td>DWP or HMRC </td>
</tr>

<tr>
<td>Income Support</td>
<td>DWP</td>
</tr>

<tr>
<td>Industrial Injuries Disablement Benefit</td>
<td>DWP</td>
</tr>

<tr>
<td>Incapacity Benefit</td>
<td>DWP</td>
</tr>

<tr>
<td>Job Seekers Allowance</td>
<td>Job Centre (DWP) </td>
</tr>

<tr>
<td>Maternity Benefit / Allowances</td>
<td>DWP</td>
</tr>

<tr>
<td>Personal Independence Payment</td>
<td>DWP</td>
</tr>

<tr>
<td>Severe Disablement Benefit/Allowance</td>
<td>DWP</td>
</tr>

<tr>
<td>Social Fund</td>
<td>DWP</td>
</tr>

<tr>
<td>Universal Credit</td>
<td>DWP </td>
</tr>
  </tbody>
</table>


        </div>

            <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Related links</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">

                    <li><a href="overview">Appeal a benefit decision</a></li>
                    <li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>       
              
                </ul>

            </nav>
        </aside>
    </div>
</div>

        


</main>

{% endblock %}