{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Hearing booked
{% endblock %}

{% block content %}

<main id="content" role="main" style="margin: 0 auto; width: 600px; text-align: left;">

<a href="https://goo.gl/maps/5S44F13thwo"><img src="/public/images/notifications/email-hearing-booked-top.png"></a>
<a href="../about-hearing"><img src="/public/images/notifications/email-hearing-booked-middle.png"></a>
<a href="https://www.gov.uk/social-security-child-support-tribunal/what-happens-at-the-hearing"><img src="/public/images/notifications/email-hearing-booked-bottom.png"></a>


           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a> | <a href="email-evidence-received">Previous</a> | <a href="email-hearing-reminder-1wk">Next</a></p>
            </div>
</main>


{% endblock %}