{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - DWP response
{% endblock %}

{% block content %}
<main id="content" role="main" style="margin: 0 auto; width: 600px; text-align: left;">

<a href="../status-dwp-response"><img src="/public/images/notifications/email-dwp-response.png"></a>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a> | <a href="email-appeal-received">Previous</a> | <a href="email-evidence-reminder">Next</a></p>
            </div>
</main>


{% endblock %}