{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Evidence reminder
{% endblock %}

{% block content %}

<main id="content" role="main" style="margin: 0 auto; width: 600px; text-align: left;">

<a href="../evidence"><img src="/public/images/notifications/email-evidence-reminder.png"></a>


           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a> | <a href="email-dwp-response">Previous</a> | <a href="email-evidence-received">Next</a></p>
            </div>
</main>


{% endblock %}