{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Hearing reminder - 1 day
{% endblock %}

{% block content %}

<main id="content" role="main" style="margin: 0 auto; width: 600px; text-align: left;">

<a href="../tribunal-hearing"><img src="/public/images/notifications/email-hearing-reminder-1day.png"></a>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a> | <a href="email-hearing-reminder-1wk">Previous</a></p>
</main>


{% endblock %}