{% extends "layout_unbranded.html" %}

{% block page_title %}
Email- Evidence received
{% endblock %}

{% block content %}

<main id="content" role="main" style="margin: 0 auto; width: 600px; text-align: left;">

<a href="../status-evidence-received"><img src="/public/images/notifications/email-evidence-received.png"></a>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a> | <a href="email-evidence-reminder">Previous</a> | <a href="email-hearing-booked">Next</a></p>
            </div>
</main>


{% endblock %}