{% extends "layout_unbranded.html" %}

{% block page_title %}
SMS - DWP response
{% endblock %}

{% block content %}

<main id="content" role="main" style="margin: 0 auto; width: 450px; text-align: left;">

<a href="../status-dwp-response"><img src="/public/images/notifications/sms-dwp-response.png"></a>


           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a> | <a href="sms-appeal-received">Previous</a> | <a href="sms-evidence-reminder">Next</a></p>
            </div>
</main>


{% endblock %}