{% extends "layout_unbranded.html" %}

{% block page_title %}
SMS - Hearing booked
{% endblock %}

{% block content %}

<main id="content" role="main" style="margin: 0 auto; width: 450px; text-align: left;">

<a href="../tribunal-hearing"><img src="/public/images/notifications/sms-hearing-booked.png"></a>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a> | <a href="sms-evidence-received">Previous</a> | <a href="sms-hearing-reminder-1wk">Next</a></p>
            </div>
</main>


{% endblock %}