{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS Protoypes
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 45px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a>
		<p class="heading-small">Social Security and Child Support (SSCS)</p>
		<h1 class="heading-large">DEMO: Submit your appeal</h1>
		


		
	<div class="form-group">
      <a class="button" href="/prototype-sya-demo/submit-your-appeal/guidance/start-an-appeal">Start Demo</a>
    </div>


</div>
</main>
{% endblock %}
