{% extends "layout.html" %}
{% block page_title %}
Status - Appeal received - GOV.UK (PHAR1-S)
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
   {% include "includes/phase_banner_beta.html" %} 
<!-- {% include "includes/breadcrumbs.html" %}  -->
   <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Your PIP benefit appeal
        </h1>
        <div class="details">
          <span style=""> <h2 class="heading-medium">Manish Sharma</h2>
            <h2>Appeal reference number: <span style=""> SC242/16/03435  </h2>
        </div>
        <div class="divider"></div>
        <div class="progress-container">
           <img src="/public/images/bs11/progress-bar-appeal-received.svg" width=100%>
       </div>
   </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="description">
            <h4 class="heading-small">Latest update</h4>

            <p>DWP have to respond to your appeal by 2 January 2018. You’ll receive details of what happens next, after they’ve responded.</p>
        </div>
          <!--  <div style="padding-top: 30px;"></div>
            <div class="panel panel-border-wide">
                <p>All evidence should be received by <span style=""> 9 February 2017</span> <span style="color:red;">[date + 28 days from DWP response]</span>.This is so there’s time to read it before your hearing. <br/><a href="benefit-appeal-evidence">Find out about submitting evidence to support your appeal</a></p>
            </div>-->
            <div class="updates-border"></div>
        </div>
    </div>
    <h4 class="heading-small">About your appeal</h4>
    <ul class="list">
        <li><a href="about-hearing">What to expect at your hearing</a></li>
        <li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
        <li><a href="benefit-appeal-evidence">Providing evidence to support your appeal</a></li>
        <li><a href="contact-us">Contact us</a></li>   
    </ul> 
</ul> 
<!-- <div class="prototype-nav">
    <p><a href="../index-s11-test">Index</a> | <a href="notifications/email-dwp-response-late">DWP response late - Email</a></p>
</div> -->
</main>
{% endblock %}