{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Revised / Lapsed (EXAL1-E)
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your ESA benefit appeal</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

	<p>Dear Mr M Sharma</p>
	<p>We’re emailing you about your ESA benefit appeal.</p> 

<p>The DWP  have told us they changed their decision in your favour. We’ve therefore closed this appeal. </p>

<p>If you don’t agree with their new decision you can start a new appeal. <a href="https://www.gov.uk/social-security-child-support-tribunal/overview">https://www.gov.uk/social-security-child-support-tribunal/overview</a></p>

<p>If you have any questions relating to your benefits, contact the DWP. You can find their contact details on any correspondence you’ve received from them. </p>

<br/>


	<p>Social Security and Child Support Tribunal<br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

	<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.gov.uk/track-your-appeal/manage-email-notifications/p19ya35s</a></p> 

</div>

<div style="margin-top: 40px; font-size: 14px;">
	<p><a href="../index">Index</a></p>
</div>

</main>

{% endblock %}
