{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - DWP response
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

	<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your ESA benefit appeal</p>

	<div class="email-border">

		<div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
		
		<div class="panel panel-border-wide">
			<p>Appeal reference number: SC242/16/03435</p>
		</div>

		<br/>

		<p>Dear Mr M Sharma</p>

		<p>The DWP  have responded to your 
			ESA benefit  appeal. They should have sent you a copy of their response in the post. </p>


			<p>We’re now booking a hearing for your appeal. We’ll contact you by <span style=""> 5 January 2017</span>  with the details. </p>




			<p>All evidence should be received by <span style=""> 9 February 2017</span>. This is so there’s time to read it before your hearing.   




				<p>If you have any more evidence, it should be received by 9 February 2017. This is so there's time to read it before your hearing.</p>

				<p>Read about submitting evidence: <a href="../evidence">https://www.gov.uk/track-your-appeal/benefit-appeal-evidence/p19ya35s </a>  </p>




				<p>Track the progress of your appeal any time: <a href="../status-dwp-response">https://www.gov.uk/track-your-appeal/p19ya35s</a></p> 

				<br/>

				<p>Social Security and Child Support Tribunal<br/>
					HMCTS<br/>
					Telephone: 0300 123 1142<br/>
				</p>

				<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.gov.uk/track-your-appeal/manage-email-notifications/p19ya35s</a></p> 

			</div>

			<div style="margin-top: 40px; font-size: 14px;">
				<p><a href="../index">Index</a> </p>
			</div>

		</main>

		{% endblock %}
