{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - Confirmation
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
	<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your PIP benefit appeal</p>
	<div class="email-border">
		<div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
		<div class="panel panel-border-wide">
			<p>Appeal reference number: SC242/16/03435</p>
		</div>
		<br/>
		<p>Dear Mr M Sharma</p>
		<p>We’ve received your Personal Independence Payment (PIP) benefit appeal.</p> 
		

		<p>PIP Benefit Appeals<br/>
			Telephone: 0300 123 1142<br/>
		</p>
		<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.sscs.reform.hmcts.net/progress/fzpqcy/manage-<br/>email-notifications</a></p> 
	</div>
	 <div class="prototype-nav">
                <p><a href="sms-sya-confirmation">Confirmation SMS</a></p>
            </div>
</main>


{% endblock %}
