{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - Confirmation
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
	<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your PIP benefit appeal</p>
	<div class="email-border">
		<div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
		<div class="panel panel-border-wide">
			<p>Appeal reference number: SC242/16/03435</p>
		</div>
		<br/>
		<p>Dear Mr M Sharma</p>
		<p>We’ve received your Personal Independence Payment (PIP) benefit appeal.</p> 
		<p>We’re a tribunal service which is independent from the Department for Work and Pensions (DWP). We’ll look at both sides before making a decision on your appeal.</p> 
		<p>DWP have to respond to your appeal by 17 November 2017. We’ll contact you and explain what happens next when they’ve replied.</p> 

		<p>You can track the progress of your appeal any time: <br/><a href="../status">https://www.sscs.reform.hmcts.net/progress/fzpqcy/track-your-appeal</a></p>
		<h2 class="heading-medium">Sending evidence to support your appeal</h2>
		If you have any evidence, you should post it to the following address as soon as you can. This is so there’s time to read it before your hearing:<br/><br/>
		<p>Birmingham ASC<br/>
			HM Courts and Tribunals Service<br/>
			Administrative Support Centre (ASC)<br/>
			P O Box 14620<br/>
			Birmingham<br/>
		B16 6FR</p> 
		<p>Find out more about what evidence the Tribunal finds useful. <a href="../benefit-appeal-evidence">https://www.sscs.reform.hmcts.net/progress/fzpqcy/benefit-appeal-evidence</a></p><br/>

		<p>PIP Benefit Appeals<br/>
			Telephone: 0300 123 1142<br/>
		</p>
		<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.sscs.reform.hmcts.net/progress/fzpqcy/manage-<br/>email-notifications</a></p> 
	</div>
	 <div class="prototype-nav">
                <p><a href="sms-sya-confirmation">Confirmation SMS</a></p>
            </div>
</main>


{% endblock %}
