{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - DWP response
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
	<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your PIP benefit appeal</p>
	<div class="email-border">
		<div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
		<div class="panel panel-border-wide">
			<p>Appeal reference number: SC242/16/03435</p>
		</div>
		<br/>
		<p>Dear Mr M Sharma</p>

		<p>DWP  have responded to your PIP benefit appeal. They should have sent you a copy of their response in the post.</p>

		<p>We now need to book your hearing. You don’t need to do anything. We’ll contact you again when we have a date for your hearing. Unfortunately we can’t say how long it will take to book but it may be some time. It will depend on how busy the hearing venues are.</p>

		<p>If you have any evidence, it should be received before 27 July 2017. This is so there’s time to review it before your hearing.</p>

		<p>Find out more about sending evidence to support your appeal: <a href="../benefit-appeal-evidence">https://www.sscs.reform.hmcts.net/progress/fzpqcy/track-your-appeal/evidence</a></p>

		<p>Track the progress of your appeal any time: <a href="../status-dwp-response">https://www.sscs.reform.hmcts.net/progress/fzpqcy/track-your-appeal</a></p> 

		<br/>

		<p>Social Security and Child Support Tribunal<br/>
			HMCTS<br/>
			Telephone: 0300 123 1142<br/>
		</p>
		
				<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.sscs.reform.hmcts.net/progress/fzpqcy/manage-<br/>email-notifications</a></p>
	</div>
<div style="margin-top: 40px; font-size: 14px;">
<p><a href="../../index-s11-test">Index</a> | <a href="../status-dwp-response">DWP response - Status</a></p></div>
</main>
{% endblock %}
