{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - Confirmation
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
	<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your PIP benefit appeal</p>
	<div class="email-border">
		<!-- <img src="/public/images/gov-uk-email-banner.png"> -->
		<div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
		<div class="panel panel-border-wide">
			<p>Appeal reference number: SC242/16/03435</p>
		</div>
		<br/>
		<p>Dear M Sharma</p>
		<p>Here is a copy of the information you submitted in relation to your PIP benefit appeal.</p> 
		
		<h2 class="heading-medium">1. Benefit</h2>
		<p>Benefit name: Personal Indpendence Payment</p>

		<h2 class="heading-medium">2. Mandatory Reconsideration Notice (MRN)</h2>
		<p>Number from MRN address:	6</p>
		<p>Date of MRN:	2 September 2017</p>
		<p>Reason for late appeal: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

		<h2 class="heading-medium">3. Appointee</h2>
		<p>Appointee: Yes</p>
		<p>Name: Jamie Smith</p>
		<p>Date of birth: 12.03.1971</p>
		<p>National Insurance number: NP 27 28 67</p>
		<p>Address: 122 Breach Street, Manchester, M22 2HB</p>
		<p>Email: jamie.smith@gmail.com</p>
		<p>Phone: 0797 243 8179</p>


		<h2 class="heading-medium">4. Text message reminders</h2>
		<p>Receive text message reminders: Yes</p>
<p>Mobile number: 0797 243 8179</p>

<h2 class="heading-medium">5. Claimant</h2>	
		<p>Name: Alex Smith</p>
		<p>Date of birth: 1.12.2002</p>
		<p>National Insurance number: QA 68 12 74</p>
		<p>Address: 122 Breach Street, Manchester, M22 2HB</p>
		

<h2 class="heading-medium">5. Claimant</h2>	
		<p>Name: Alex Smith</p>
		<p>Date of birth: 1.12.2002</p>
		<p>National Insurance number: QA 68 12 74</p>
		<p>Address: 122 Breach Street, Manchester, M22 2HB</p>



<h2 class="heading-medium">6. Appointee</h2>
		<p>Have a representative: Yes</p>
		<p>Name: Peter Smith</p>
		<p>Organisation: 12.03.1971</p>
		<p>National Insurance number: NP 27 28 67</p>
		<p>Address: Ground Floor, Gazette Buildings, 168 Corporation Street, Newcastle, NE2 6TF</p>
		<p>Email: peter.smith@gmail.com</p>
		<p>Phone: peter.smith@cab.org.uk</p>


<h2 class="heading-medium">6. Appointee</h2>
		<p>Have a representative: Yes</p>
		<p>Name: Peter Smith</p>
		<p>Organisation: 12.03.1971</p>
		<p>National Insurance number: NP 27 28 67</p>
		<p>Address: Ground Floor, Gazette Buildings, 168 Corporation Street, <br/>Newcastle, NE2 6TF</p>
		<p>Email: peter.smith@gmail.com</p>
		<p>Phone: peter.smith@cab.org.uk</p>


<h2 class="heading-medium">7. Reasons for appealing</h2>
		<p>What you disagree with: I can't use a computer for long periods of time</p>
		<p>Why you disagree with it: Since my stroke I have had trouble focussing. Using a computer gives me headaches and i need to take regular breaks and my consultant told me i should not use one. I cannot do a job which needs me to use a computer.</p>

<p>What you disagree with: That i am able to cope with social situations</p>
		<p>Why you disagree with it: I have trouble remembering people’s names. I get very anxious before social situations. I try to avoid them because i don't want to offend people by forgetting their name.</p>

<p>Anything else you want to tell the tribunal: <br/>That i am able to cope with social situations</p>
		

<h2 class="heading-medium">8. The hearing</h2>
		<p>Attending the hearing: Yes</p>
		<p>Dates you're not availabile: 12 December 2017 to 13 December 2017, 18 December 2017</p>


<h2 class="heading-medium">9. Hearing arrangements</h2>

<p>Language interpreter: Not required</p>
<p>Sign interpreter: Not required</p>
<p>Hearing loop: Not required</p>
<p>Disabled access: Required</p>
<p>Anything other arrangements: Not required</p>


<br/>

<p>The information I have provided in this appeal is accurate, to the best of my knowledge.<p>

<p>I give permission for the tribunal to correspond with my named representative about my appeal.</p>

<p>Signed: Jamie Smith</p>

<br/>
<p>[Summary - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.]</p> 

	

<br/>
<br/>

		<p>PIP Benefit Appeals<br/>
			Telephone: 0300 123 1142<br/>
		</p>
		<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.sscs.reform.hmcts.net/progress/fzpqcy/manage-<br/>email-notifications</a></p> 
	</div>
	 
</main>


{% endblock %}
