{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - Appeal received
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
	<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your PIP benefit appeal</p>
	<div class="email-border">
		<div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
		<div class="panel panel-border-wide">
			<p>Appeal reference number: SC242/16/03435</p>
		</div>
		<br/>
		<p>Dear Mr M Sharma</p>
		<p>We’ve received your Personal Independence Payment (PIP) appeal. </p>
		<p>We’re a tribunal service which is independent from the Department for Work and Pensions (DWP). We’ll look at both sides before making a decision on your appeal.</p> 
		<p>DWP have to respond to your appeal by 19 January 2017. We’ll contact you and explain what happens next when they’ve replied.</p>
		<h2 class="heading-medium">Evidence </h2>
		<p>If you have any evidence, you should post it to the following address as soon as you can. This is so there’s time to read it before your hearing:</p>
		<p>Birmingham ASC<br/>
			HM Courts and Tribunals Service<br/>
			Administrative Support Centre (ASC)<br/>
			P O Box 14620<br/>
			Birmingham<br/>
		B16 6FR</p>
		<p>Find out more about what evidence the tribunal finds useful.</p> 
		<p>You can track the progress of your appeal any time: <br/><a href="../status?casenumber=SC012%2F34%2F56789&status=appeal">https://www.sscs.reform.hmcts.net/progress/fzpqcy/track-your-appeal</a></p> 
		<br/>
		<p>Social Security and Child Support Tribunal<br/>
			HMCTS<br/>
			Telephone: 0300 123 1142<br/>
		</p>
		<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.sscs.reform.hmcts.net/progress/fzpqcy/manage-<br/>email-notifications</a></p>
	</div>
	<div style="margin-top: 40px; font-size: 14px;">
		<p><a href="../index">Index</a></p>
	</div>	
</main>
{% endblock %}
