{% extends "layout.html" %}
{% block page_title %}
Enter email address - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
        {% include "includes/back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            
<form>
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">Enter your email address</legend>
        <label>
            <h1 class="heading-large">
                Enter your email address
            </h1>
    
</label>
<input class="form-control form-control-2-4" id="form-control-2-4" type="text">

    </fieldset>

  </div>
  <a class="button" href="../prototype-beta-16/submit-your-appeal/006-mobile-number-provided-both">Continue</a>

</form>

         
        </div>

    </div>
    



</main>

{% endblock %}