{% extends "layout.html" %}
{% block page_title %}
No representative details - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 {% include "includes/back.html" %}
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      You can register them later  
    </h1>
    <p>After you’ve submitted your appeal, phone us on 0300 123 1142 with their details. </p>

    <p>Make sure you have their: </p>
    <ul class="list list-bullet">
      <li>full name</li> 
      <li>organisation they work for (if they work for one)</li>
      <li>email or postal address </li>
    </ul> 
    <form>
       <a class="button" href="http://szo3n0.axshare.com/grounds-for-appeal-001.html">Continue</a>
    </form>
  </div>
</div>
</main>
{% endblock %}