{% extends "layout.html" %}
{% block page_title %}
Your date of birth - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="004-your-name" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      Enter your date of birth
    </h1>
    <form>
     <div class="form-group">
      <fieldset>
       <legend class="form-label-bold">
        <!-- Date of birth -->
        <span class="form-hint" id="dob-hint">For example, 7 5 1981</span>
      </legend>
      <div class="form-date">
        <div class="form-group form-group-day">
          <label class="form-label" for="dob-day">Day</label>
          <input class="form-control" id="dob-day" name="day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
        </div>
        <div class="form-group form-group-month">
          <label class="form-label" for="dob-month">Month</label>
          <input class="form-control" id="dob-month" name="month" type="number" pattern="[0-9]*" min="0" max="12">
        </div>
        <div class="form-group form-group-year">
          <label class="form-label" for="dob-year">Year</label>
          <input class="form-control" id="dob-year" name="year" type="number" >
        </div>
      </div>
    </fieldset>
  </div>
  <a class="button" href="004-your-nino">Continue</a>
</form>
<br/>
        <p> <a href="#">Save and come back later</a></p>

        <p class="timeout-note">This page will time out in 20 minutes if there is no activity. This is to protect your personal information. <!--[when save and return implemented] You can upload or post evidence after you have submitted your appeal, if you don’t have it to hand. --></p>

    </div>
</div>
</main>
{% endblock %}