{% extends "layout.html" %}
{% block page_title %}
Register representative details later - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="009-reps-details" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      You can register them later  
    </h1>
    <p>You can contact the tribunal and provide their details later. You’ll be sent the address or phone number after you’ve submitted your appeal.  </p>

    <p>Make sure you have their: </p>
    <ul class="list list-bullet">
      <li>full name</li> 
      <li>organisation they work for (if they work for one)</li>
      <li>email or postal address </li>
    </ul> 
    <form>
       <a class="button" href="011-why-are-you-appealing">Continue</a>
    </form>
<br/>
        <p> <a href="#">Save and come back later</a></p>

        <p class="timeout-note">This page will time out in 20 minutes if there is no activity. This is to protect your personal information. <!--[when save and return implemented] You can upload or post evidence after you have submitted your appeal, if you don’t have it to hand. --></p>

    </div>
</div>
</main>
{% endblock %}