{% extends "layout.html" %}
{% block page_title %}
Submit evidence - Upload
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="#">Back</a>
      <legend>
        <h1 class="heading-large">
          Upload additional evidence
        </h1>
        <p>You can upload letters, documents or photos. For example, you could take a photo of a letter from your doctor and upload it. Make sure the letter or document is on a flat surface and the photo is taken from above. </p>
      </legend>
      <form>  
        <label class="heading-small" for="upload-description">Describe the evidence<span class="form-hint">Briefly describe what you’re uploading and why it’s relevant</span>
        </label>
        <textarea class="form-control form-control-3-4 autoExpand" name="textarea" id="textarea" rows='6' data-min-rows='6'></textarea>
        <!-- File upload -->
        <div id="actions" class="row">
          <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button button-secondary">
              <i class="glyphicon glyphicon-plus"></i>
              <span>Choose your files</span>
            </span>
          </div>
          <div class="col-lg-5">
            <!-- The global file processing state -->
            <span class="fileupload-process">
              <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="display:none;3">
                <div class="progress-bar progress-bar-success" style="width:0%;color:red;" data-dz-uploadprogress></div>
              </div>
            </span>
          </div>
        </div>
        <div id="file-upload-table-display">
         <h2 class="heading-small" id="uploads">Uploaded files</h2>
         <div class="c-uploads" id="upload-documents" role="upload-documents" role="region" aria-labelledby="uploads" aria-live="polite">
           <div class="c-uploads-item">
             <p class="c-uploads-empty">No files uploaded</p>
           </div>
         </div>
         <div class="table table-striped files" id="previews">
           <div id="template" class="file-row">
             <div id="file-name">
               <span class="name" data-dz-name></span>
               <strong class="error text-danger" data-dz-errormessage></strong>
             </div>
             <div id="p-bar">
               <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                 <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
               </div>
             </div>
             <div id="file-size">
               <p class="size" data-dz-size></p>
             </div>
             <div id="file-buttons">
               <a data-dz-remove class="btn btn-warning cancel">
                 <span class="link">Cancel</span>
               </a>
               <!--<a class="btn preview-file">
                 <span class="link">Preview</span>
               </a> -->
               <a class="btn btn-danger delete">
                 <span class="link">Remove</span>
               </a>
             </div>
           </div>
         </div>
       </div>
       <!-- Modal window for image preview -->
       <div id="imageModal" class="">
         <div id="modal-container">
           <a class="link close">Close</a>
           <div id="modal-content" class="modal-content"></div>
           <div id="image-name"></div>
         </div>
       </div>

     </form>


    

    <div class="form-group">
     <a class="button" href="../prototype-beta-180522/submit-your-appeal/013-your-hearing">Continue</a><br/><br/>
    <!-- <p> <a href="../prototype-beta-180522/submit-your-appeal/saving-your-appeal">Save and come back later</a></p> -->

   
      <p class="timeout-note">This page will time out in 20 minutes if there is no activity. This is to protect your personal information. [when save and return implemented] You can upload or post evidence after you have submitted your appeal, if you don’t have it to hand. </p>



   </div>
 </div>
</main>
{% endblock %}
