{% extends "layout.html" %}
{% block page_title %}
Not attending hearing - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
	{% include "includes/phase_banner_beta.html" %} 
	<a href="../prototype-beta-180522/submit-your-appeal/013-your-hearing" class="link-back">Back</a> 
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">
				You have chosen not to attend the hearing
			</h1>
			<p>You can still send in evidence to support your appeal. You’ll be sent an address where you can post it. You’ll receive this by [email / post] after you’ve submitted your appeal. </p>
			<p>If you change your mind about attending the hearing, you can write or phone. The contact details will be on the first email or letter you receive after submitting your appeal.  
			</p>         
			<p> <a class="button" href="../prototype-beta-180522/submit-your-appeal/017-check-your-answers">Continue</a></p>
			<p><a href="../prototype-beta-180522/submit-your-appeal/013-your-hearing-appointee">Go back</a></p>
			<br/> 
			<br/>           
<br/>
        <p> <a href="#">Save and come back later</a></p>

        <p class="timeout-note">This page will time out in 20 minutes if there is no activity. This is to protect your personal information. <!--[when save and return implemented] You can upload or post evidence after you have submitted your appeal, if you don’t have it to hand. --></p>

    </div>
</div>
</main>
{% endblock %}
