{% extends "layout.html" %}
{% block page_title %}
Benefit appeal submitted - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-two-thirds">

     <h1 class="heading-large">
      Exit survey
    </h1>
  
  <p>Satisfaction survey questions will be on this page</p>
</div>
</div>
<div class="prototype-nav">
  <p><a href="../notifications/notifications/email-appeal-received-mvp">Appeal received email</a></p>
</div>
</main>
{% endblock %}