{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Postponed - Generic
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong>Your ESA benefit appeal</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
	<br/>
	<p>Dear Mr M Sharma</p>	

	<p>The hearing for your ESA benefit appeal has been postponed and will now take place on a different day. </p>

<p>We’ll book a new date for your hearing. We’ll contact you by 22 September 2017 with the details. </p>

<p>If you have any questions, please phone the number below. </p>
<p>You can track the progress of your appeal any time: <br/><a href="../status-postponed-generic">https://www.sscs.reform.hmcts.net/progress/fzpqcy/track-your-appeal</a></p> 

	<p>Social Security and Child Support Tribunal<br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

		<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.sscs.reform.hmcts.net/progress/fzpqcy/manage-<br/>email-notifications</a></p>

</div>

<div style="margin-top: 40px; font-size: 14px;">
<p><a href="../../index-s11-test">Index</a> | <a href="../status-postponed-generic">Hearing postponed - Status</a></p></div>
</main>

{% endblock %}
