{% extends "layout.html" %}
{% block page_title %}
At the hearing - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %}
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Appeal a benefit decision</h1>

            <aside class="nav-container" role="complementary">
                <div class="nav-section">
                    <h2>Contents</h2>
                     <ol class="navigation-list">
                        <li><a href="overview">Overview</a></li>
                        <li><a href="submit-appeal">Submit your appeal</a></li>
                        <li><a href="after-submit-appeal">After you submit your appeal</a></li>
                        <li>What happens at the hearing</li>
                        <li><a href="unhappy-tribunals-decision">If you're unhappy with the tribunal's decision</a></li>
                    </ol>
                </div>
            </aside>
        </div>

        <div class="column-two-thirds">

            <h1 class="part-title">What happens at the hearing</h1>

           <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
      


<div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    Submit any evidence as soon as possible before the hearing so the tribunal have time to read it. Evidence will usually be shared with all parties, including your representative (if you’re using one).
  </strong>
</div>

<br/>
<p>A judge and one or two experts will make a decision about the case. Who the experts are depends on what benefit you’re appealing. The judge and experts are impartial and independent of government.</p>

<div role="note" aria-label="Information" class="panel panel-border-wide">
<p>The tribunal must follow the rules in the <a href="https://www.gov.uk/government/publications/social-entitlement-chamber-tribunal-procedure-rules">Tribunal Procedure (First-tier Tribunal) (Social Entitlement Chamber) Rules 2008</a>.</p>
</div>

<h2 id="if-you-attend-the-hearing" class="heading-medium">If you attend the hearing</h2>

<p>You’ll have to the opportunity to explain your appeal.</p>

<p>You’ll be asked questions about your condition or circumstances by the judge or the experts.</p>

<p>The department that made the original decision may also be at the hearing. They may ask questions, but they’re not part of the tribunal and do not decide the result of the appeal.</p>

<p>You can get support during the hearing, for example an interpreter, hearing loop or accessible tribunal room. You can request support when you make an appeal.</p>

<div role="note" aria-label="Information" class="panel panel-border-wide">
<p>You cannot use your own interpreter during the hearing.</p>
</div>

<h3 id="claiming-expenses" class="heading-small">Claiming expenses</h3>

<p>You may be able to claim for reasonable expenses for going to the tribunal, for example:</p>

<ul class="list list-bullet">
  <li>travel expenses to cover your fare if you get there using public transport</li>
  <li>travel expenses of 12p per mile if you drive, plus 2p per mile for up to 2 passengers</li>
  <li>meals - £4.25 if you’re away for more than 5 hours, £9.30 for more than 10 hours or £13.55 for more than 12 hours</li>
  <li>loss of earnings - £38.96 if you’re away from work for up to 4 hours or £75.59 for 4 hours or more</li>
  <li>care expenses up to the <a href="https://www.gov.uk/national-minimum-wage-rates">National Minimum Wage</a>, for example for a childminder</li>
</ul>

<p>The clerk will help you fill in a claim form when you go to the hearing.</p>

<p>You’ll need to include proof, for example:</p>

<ul class="list list-bullet">
  <li>receipts</li>
  <li>a letter from your employer for loss of earnings</li>
</ul>

</div>

            <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="pagination-list">
                    <li class="pagination-item pagination-prev">
                        <a class="pagination-link" href="/prototype-beta-190130/submit-your-appeal/guidance/after-submit-appeal">
                        <span class="pagination-title">
                            <svg class="pagination-icon">
                                <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                            </svg>
                            Previous
                        </span>
                            <span class="visually-hidden">:</span>
                            <span class="pagination-label">After you submit your appeal</span>
                        </a>
                    </li>
                    <li class="pagination-item pagination-next">
                        <a class="pagination-link" href="/prototype-beta-190130/submit-your-appeal/guidance/unhappy-tribunals-decision">
                        <span class="pagination-title">
                            Next
                            <svg class="pagination-icon">
                                <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                            </svg>
                        </span>
                            <span class="visually-hidden">:</span>
                            <span class="pagination-label">If you're unhappy with the tribunal's decision</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="column-one-third">
            <aside class="govuk-related-items">
                <h2 class="heading-small">Related Content</h2>
                <nav role="navigation">
                     <h3 class="sub-heading">Explore the topic</h3>
                    <ul class="font-xsmall">
                           <li> <a href="https://www.gov.uk/browse/benefits/entitlement">How benefits work</a></li>
   <li> <a href="https://www.gov.uk/browse/justice/courts-sentencing-tribunals">Courts, sentencing and tribunals</a></li>
   <li> <a href="https://www.gov.uk/topic/dealing-with-hmrc/complaints-appeals">Complaints and appeals</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>

{% endblock %}
