{% extends "layout.html" %}
{% block page_title %}
Service not available (Temporary) - GOV.UK

{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
   {% include "includes/phase_banner_beta.html" %} 
   <div class="grid-row">
    <div class="column-full">
    <h1 class="heading-large">
      Sorry, we’re experiencing technical difficulties
    </h1>
    <p>Please try again in a few minutes.</p>
    
    <a class="button" href="#">Try again</a>

  </div>
  
</div>
</main>
{% endblock %}