{% extends "layout.html" %}
{% block page_title %}
Text reminders confirmation - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
        {% include "includes/back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            

            <h1 class="heading-large">You’re signed up for text message reminders</h1>

     <p>Text messages will be sent to the following number: <span style="font-weight: bold">0797 243 8178</span> </p>

    
     <p>You’ll get your first message after you’ve submitted your appeal.</p>



  <a class="button" href="008-representative">Continue</a>
  <br/>  <br/>
  <p><a href="006-sms-mobile-number">Change number</a></p>


            
        </div>

    </div>
    
          


</main>

{% endblock %}