{% extends "layout.html" %}
{% block page_title %}
Sending evidence - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
       {% include "includes/back.html" %}
  
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Sending evidence to support your appeal 
            </h1>
<p>Evidence is anything which shows how your condition affects your life at the time of the assessment by DWP. For example, a doctor’s letter or report. A written statement by yourself or someone who knows you and your condition can also be useful. </p>

<p>You can post evidence to us separately after you’ve submitted the appeal. You should send it as soon as possible so there’s time to read it before your hearing. </p>

<p>We’ll send you details of where to send evidence after you’ve submitted your appeal.
</p> 

<form>

  <a class="button" href="013-your-hearing">Continue</a>

</form>
            
        </div>

    </div>
    


</main>

{% endblock %}