{% extends "layout.html" %}
{% block page_title %}
Check your answers - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
  {% include "includes/phase_banner_beta.html" %}
       {% include "includes/back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Check your appeal</h1>
     <!-- <p>Read through all the information you’ve provided. When you’re happy, submit the appeal below.</p> -->
      </div>
      </div>
        <div class="grid-row">
      <div class="column-full">
        <table class="demo">
<thead>
            <tr style="border-bottom: 2px solid black;">
              <th>Benefit</th>
              <th></th>
              <th class=""></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name of benefit</td>
              <td>ESA</td>
              <td><a href="001-benefit-type">Change</a></td>
            </tr>
          <thead>
            <tr style="border-bottom: 2px solid black;">
              <th></br>Mandatory Reconsideration Notice (MRN)</th>
              <th></th>
              <th class=""></th>
            </tr>
          </thead>
          <tbody>
            <tr>
             <!--<tr>
              <td>Have an MRN</td>
              <td><[Only display if 'No']</td>
              <td><a href="">Change</a></td>
            </tr>-->
              <td>Date sent</td>
              <td>20 April 2017</td>
              <td><a href="">Change</a></td>
            </tr>
                        <tr>
            <!--  <td>Within date</td>
              <td>[Yes/No]</td>
              <td></td>
            </tr>
             <tr>
              <td>Late reason</td>
              <td>[Late reason]</td>
              <td><a href="">Change</a></td>
            </tr> -->
<thead>
            <tr style="border-bottom: 2px solid black;">
              <th><br/>Appointee</th>
              <th></th>
              <th class=""></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Are you an appointee?</td>
              <td>No</td>
              <td><a href="">Change</a></td>
            </tr>
          <thead>
            <tr style="border-bottom: 2px solid black;">
              <th><br/>Your details</th>
              <th></th>
              <th class=""><br/><a href="">Change</a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td>Manish Patel</td>
              <td>&nbsp;</td>
            </tr>

            <tr>
              <td>National Insurance number</td>
              <td>QQ 12 34 56 C</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Address<br/><br/><br/></td>
              <td>122 Breach Street<br/>Birmingham <br/>B1 2HB</td>

              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>manish.patel@gmail.com</td>
              <td>&nbsp;</td>
            </tr>       
            <tr>
              <td>Phone number</td>
              <td>0121 460 2033</td>
              <td>&nbsp;</td>
            </tr>

             <tr style="border-bottom: 2px solid black;"> 
              <th><br/>Text reminders</th>
              <th></th>
              <th></th>
            </tr>

            <tr>
              <td>Your mobile phone number</td>
              <td>07979 23 5234</td>
              <td><a href="">Change</a></td>
            </tr>
            <!--<tr>
              <td>[Supporters name] mobile phone number</td>
              <td>[Supporters mobile phone number]</td>
              <td><a href="">Change</a></td>-->
            </tr>


            <tr style="border-bottom: 2px solid black;">
              <th><br/>Your representative</th>
              <th></th>
              <th><br/><a href="">Change</a></th>
            </tr>
            <tr>
              <td>Name</td>
              <td>Leslie Smith</td>
              <td></td>
            </tr>
            <tr>
              <td>Organisation</td>
              <td>Citizens Advice Buerau</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Address<br/><br/><br/><br/><br/></td>
              <td>Ground Floor<br/>
              Gazette Buildings<br/>
168 Corporation Street<br/>
Birmingham<br/>
B4 6TF</td>
              <td>&nbsp;</td>
            </tr>

                        <tr>
              <td>Email</td>
              <td>None given</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Phone number</td>
              <td>03444 77 1010 </td>
              <td>&nbsp;</td>
            </tr>

            <tr style="border-bottom: 2px solid black;">
              <th><br/>Reasons for appealing</th>
              <th></th>
              <th><br/><a href="">Change</a></th>
            </tr>
            <tr>
              <td>What you disagree with</td>
              <td>DWP said I was fit to work</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Why you disagree<br/><br/><br/><br/></td>
              <td>I'm recovering from a stroke and my doctor </br>said I shouldn't go back to work for 6 months at least. </br>I need time to recover fully otherwise my </br>condition will be made worse.</td>
              <td>&nbsp;</td>
            </tr>
<tr style="border-bottom: 2px solid black;">
              <th><br/>Your hearing</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>Attending your hearing</td>
              <td>Yes</td>
              <td><a href="">Change</a></td>
            </tr>
            <tr>
            <td>Not availabile<br/><br/></td>
              <td>14 August 2017 to 15 August 2017</td>
              <td><a href="">Change</a></td>
            </tr>
<tr style="border-bottom: 2px solid black;">
             <th><br/>Hearing arrangements</th>
              <th></th>
              <th><a href=""><br/>Change</a></th>
            </tr>
            <tr>
              <td>Language interpreter<br/><br/></td>
              <td>Not required</td>
              <td></a></td>
            </tr>
                        <tr>
              <td>Sign interpreter</td>
              <td>Not required</td>
              <td></td>
            </tr>
              <tr>
              <td>Hearing loop</td>
              <td>Not required</td>
              <td></td>
            </tr>
           <tr>
              <td>Disabled access</td>
              <td>Not required</td>
              <td></td>
            </tr>
           <tr>
              <td>Anything else we need to know</td>
              <td>Nothing</td>
              <td></td>
</tr>


            <tbody>
            </table>
            <br/>
            <br/>
</div>
</div>
            <div class="grid-row">
    <div class="column-two-thirds">
              <p>I’m submitting this appeal on the basis that I disagree with the decision by DWP on my entitlement to the ESA benefit. </p>
              <a class="button" href="018-confirmation">Submit your appeal</a>

            </div>
          </div>

        </div>

      </div>

            


    </main>

    {% endblock %}