{% extends "layout_unbranded.html" %}

{% block page_title %}
SSCS Protoypes
{% endblock %}

{% block content %}

<main id="content" role="main">

	<h1 class="heading-xlarge">
		Social Security and Child Support (SSCS)
	</h1>

	<p class="lede">
		Usability testing 13.10.2016
	</p>


	<h2 class="heading-medium">Letter</h2>
	<p>Appellant shown the letter to trigger the journey to online and registering for notifications.</p>

	<ol class="list list-number">
		<li><a href="/prototype-5/notifications/letter-appeal-received">Appeal received</a></li>
	</ol>


	<h2 class="heading-medium">Online status</h2>

	<ol class="list list-number">
		<li><a href="/prototype-5/track-your-appeal">Track your appeal search</a></li>
		<li><a href="/prototype-5/status?casenumber=SC012%2F34%2F56789&status=appeal">Appeal received</a></li>
		<li><a href="/prototype-5/status-dwp-response">DWP response</a></li>
		<li><a href="/prototype-5/status-evidence-reminder">Evidence reminder</a></li>
		<li><a href="/prototype-5/status-evidence-received">Evidence received</a></li>
		<li><a href="/prototype-5/status-hearing-booked">Hearing booked</a></li>
		<li><a href="/prototype-5/status-decision">Decision made</a></li>
		<li><a href="/prototype-5/status-appeal-closed">Appeal closed</a></li>

	</ol>

	<h2 class="heading-medium">Hearing context and support content</h2>

	<ol class="list list-number">
		<li><a href="/prototype-5/tribunal-hearing">Check your hearing details</a></li>
		<li><a href="/prototype-5/about-hearing">What to expect at your hearing</a></li>		
		<li><a href="/prototype-5/evidence">Providing evidence to support your appeal</a></li>



	</ol>

	<h2 class="heading-medium">Register for notifications</h2>

	<ol class="list list-number">
		<li><a href="/prototype-5/notifications-register/index">Register for notifications</a></li>
	</ol>

<h2 class="heading-medium">Email</h2>

	<ol class="list list-number">
		<li><a href="/prototype-5/notifications/email-appeal-received">Appeal received</a></li>
		<li><a href="/prototype-5/notifications/email-dwp-response">DWP response</a></li>
		<li><a href="/prototype-5/notifications/email-evidence-reminder">Evidence reminder</a></li>
		<li><a href="/prototype-5/notifications/email-evidence-received">Evidence received</a></li>
		<li><a href="/prototype-5/notifications/email-hearing-booked">Hearing booked</a></li>
		<li><a href="/prototype-5/notifications/email-hearing-reminder-1wk">Hearing reminder - 1 week</a></li>
		<li><a href="/prototype-5/notifications/email-hearing-reminder-1day">Hearing reminder - 1 day</a></li>

	</ol>
		<h2 class="heading-medium">Text</h2>

	<ol class="list list-number">
		<li><a href="/prototype-5/notifications/sms-appeal-received">Appeal received</a></li>
		<li><a href="/prototype-5/notifications/sms-dwp-response">DWP response</a></li>
		<li><a href="/prototype-5/notifications/sms-evidence-reminder">Evidence reminder</a></li>
		<li><a href="/prototype-5/notifications/sms-evidence-received">Evidence received</a></li>
		<li><a href="/prototype-5/notifications/sms-hearing-booked">Hearing booked</a></li>
		<li><a href="/prototype-5/notifications/sms-hearing-reminder-1wk">Hearing reminder - 1 week</a></li>
		<li><a href="/prototype-5/notifications/sms-hearing-reminder-1day">Hearing reminder - 1 day</a></li>

	</ol>
	</ol>
	

</main>

{% endblock %}