{% extends "layout.html" %}

{% block page_title %}
Status - DWP response
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" class="prototype-5" role="main">

    {% include "includes/sscs-alpha.html" %}
    {% include "includes/sscs-breadcrumbs.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Your PIP benefit appeal
            </h1>

            <div class="details">
                <h2 class="heading-medium">John Smith</h2>
                <h2 class="form-hint">Case Reference: SC012/34/56789</h2>
            </div>
            <div class="divider"></div>
            <div class="progress-container">
               <div class="ring active">
                    <p class="appeal-received">Appeal</p>
                </div>
                <div class="leg foot active">
                    <p class="dwp-respond">DWP response</p>
                </div>
                <div class="leg foot ">
                    <p class="hearing-booked">Hearing booked</p>
                </div>
                <div class="leg "></div>
                <div class="ring ">
                    <p class="hearing">Hearing</p>

            </div>

        </div>

    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="description">
                <h4 class="heading-small">Latest update</h4>
               
                    <p>We have told the DWP you wanted to appeal against their decision on your claim for PIP benefit. They have now responded and told us they have not changed their decision. They should have sent you a copy of their response in the post. </p>

                    <p>We are now in the process of booking a hearing for your appeal. We will contact you within 6 weeks to tell you when and where your hearing is.</p>
               
            </div>
          
                <p class="updates-toggle">
                    <i class="fa fa-caret-right" aria-hidden="true"><span>View all updates</span></i>
                </p>
                <div class="updates-container">
                   


                    <div class="update">
                        <p>13 October 2016</p>
                        
                            <p>We have told the DWP that you want to appeal against their decision. They have to provide a written response before 23 November 2016. We will contact you and explain the next steps when they have replied.</p>
                        
                    </div>
                  
                </div>

           
            <div class="updates-border"></div>
        </div>
    </div>

 
<h4 class="heading-small">About your appeal</h4>

  <ul style="line-height: 35px">

            <li><a href="about-hearing">What to expect at your hearing</a></li>
            <li><a href="evidence">Providing evidence to support your appeal</a></li>
           
    </ul> 

                <div class="prototype-nav">
            <p><a href="index">Index</a> | <a href="status?casenumber=SC012%2F34%2F56789&status=appeal"> Previous</a> | <a href="status-evidence-reminder">Next</a></p>

            </div>

</main>

{% endblock %}