{% extends "layout.html" %}
{% block page_title %}
Hearing arrangements confirm (appointee) - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
{% include "includes/idam_signout_propositional_navigation_190117.html" %}
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="../prototype-beta-srmvp/submit-your-appeal/013-your-hearing" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
   <h1 class="heading-large">
    Do you need any support for your hearing?  
  </h1>
  <p>Support for your hearing can be arranged,such as an interpreter, hearing loop or disabled access. You <span class="pbold">can’t</span> bring your own interpreter to the hearing.</p>
  <form  action="/srmvp/arrangements-app" method="post">
    <div class="form-group">
     <div class="multiple-choice">
      <input id="radio-1" type="radio" name="radioGroup" value="arrangementsRequiredApp">
      <label for="radio-1">
        Yes
      </label>
    </div>
    <div class="multiple-choice">
      <input id="radio-2" type="radio" name="radioGroup" value="arrangementsNotRequiredApp">
      <label for="radio-2">
        No
      </label>
    </div>
  </fieldset>
</div>


<div class="grid-row">
  <div class="column-one-third">
    <input type="submit" class="button" value="Save and continue">
  </div>
  <div class="column-two-thirds save-for-later">
    <a href="../prototype-beta-srmvp/submit-your-appeal/saved-signed-out">Save and come back later</a></p>  
  </div>
</div>

</form>

<!--<p class="timeout-note">If you do not do anything for 20 minutes then this service will time out.</p> -->
       
         {% include "includes/help-contact.html" %}

</div>
</div>
</main>
{% endblock %}