{% extends "layout.html" %}
{% block page_title %}
Sign in or create and account - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <a href="004-your-details" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
     Saving your appeal
   </h1>
   <p>You need to create an account to save your appeal. Or sign in if you already have one.</p>
  
   <a class="button" href="idam-sign-in">Save and continue</a>
   <br/>  <br/>
 </div>
</div>
</main>
{% endblock %}


