{% extends "layout.html" %}
{% block page_title %}
Appeal deleted - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-two-thirds">

<h2 class="heading-large">Your appeal application has been deleted </h2>
  <p>We save your appeal application for 6 months before deleting it. 
</p>
  
  <a class="button" href="guidance/submit-appeal">Start new appeal</a>

  </div>
</div>
</main>
{% endblock %}