{% extends "layout_unbranded.html" %}
{% block page_title %}
End appointee journey
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 45px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a>
		
		<h1 class="heading-large">Submit your appeal - Appointee</h1>
		
		<p>Appointee specific journey ends here for demo purposes. It would continue to reasons for appealing and evidence, hearing and check your answers screens. The remaining screen flow would be the same as the appellant journey.</p>

		<p>The information on the <a href="018-confirmation-appointee">check your answers screen</a> would reflect the appointee related data entered.</p>
		
		<p><a href="018-confirmation-appointee">Continue as appellant</a></p>

	</div>
</main>
{% endblock %}
