{% extends "layout.html" %}
{% block page_title %}
After you submit your appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %}
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Appeal a benefit decision</h1>

            <aside class="nav-container" role="complementary">
                <div class="nav-section">
                    <h2>Contents</h2>
                     <ol class="navigation-list">
                        <li><a href="overview">Overview</a></li>
                        <li><a href="submit-appeal">Submit your appeal</a></li>
                        <li>After you submit your appeal</li>
                        <li><a href="at-the-hearing">What happens at the hearing</a></li>
                        <li><a href="unhappy-tribunals-decision">If you're unhappy with the tribunal's decision</a></li>
                    </ol>
                </div>
            </aside>
        </div>

        <div class="column-two-thirds">

            <h1 class="part-title">After you submit your appeal</h1>
<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
      <p>Your appeal will be sent to the department that made the decision about your entitlement to benefits. They’ll respond to your appeal explaining why they made the decision.</p>

<p>You’ll get a copy of the response.</p>

<h2 id="providing-evidence" class="heading-medium">Providing evidence</h2>

<p>You can provide evidence to help the tribunal understand your condition or circumstances so they can make a decision. Evidence can include a letter from a doctor or someone who knows you.</p>

<p>You’ll be told where to send your evidence after you submit your appeal. Send it as soon as you can so the tribunal have time to read it before the hearing.</p>

<h2 id="the-hearing" class="heading-medium">The hearing</h2>

<p>Your appeal is decided at a <a href="at-the-hearing">tribunal hearing</a>.</p>

<p>You’ll get the decision by post after the hearing. You may get a decision on the day if you go to the hearing.</p>

<h2 id="how-long-it-takes" class="heading-medium">How long it takes</h2>

<p>It usually takes up to 6 months for an appeal to be heard by the tribunal.</p>

<p>Your appeal might be delayed unless you:</p>

<ul class="list list-bullet">
  <li>send any evidence as soon as you can before the hearing</li>
  <li>arrive at the hearing on time (if you’re attending)</li>
  <li>register your representative as soon as you can (if you’re using one)</li>
</ul>

</div>
           

            <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="pagination-list">
                    <li class="pagination-item pagination-prev">
                        <a class="pagination-link" href="/prototype-beta-180522/submit-your-appeal/guidance/submit-appeal">
                        <span class="pagination-title">
                            <svg class="pagination-icon">
                                <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                            </svg>
                            Previous
                        </span>
                            <span class="visually-hidden">:</span>
                            <span class="pagination-label">Submit your appeal</span>
                        </a>
                    </li>
                    <li class="pagination-item pagination-next">
                        <a class="pagination-link" href="/prototype-beta-180522/submit-your-appeal/guidance/at-the-hearing">
                        <span class="pagination-title">
                            Next
                            <svg class="pagination-icon">
                                <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                            </svg>
                        </span>
                            <span class="visually-hidden">:</span>
                            <span class="pagination-label">What happens at the hearing</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="column-one-third">
            <aside class="govuk-related-items">
                <h2 class="heading-small">Related Content</h2>
                <nav role="navigation">
                     <h3 class="sub-heading">Explore the topic</h3>
                    <ul class="font-xsmall">
                           <li> <a href="https://www.gov.uk/browse/benefits/entitlement">How benefits work</a></li>
   <li> <a href="https://www.gov.uk/browse/justice/courts-sentencing-tribunals">Courts, sentencing and tribunals</a></li>
   <li> <a href="https://www.gov.uk/topic/dealing-with-hmrc/complaints-appeals">Complaints and appeals</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>

{% endblock %}
