{% extends "layout.html" %}
{% block page_title %}
Overview - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %}
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Appeal a benefit decision</h1>

            <aside class="nav-container" role="complementary">
                <div class="nav-section">
                    <h2>Contents</h2>
                     <ol class="navigation-list">
                        <li>Overview</li>
                        <li><a href="submit-appeal">Submit your appeal</a></li>
                        <li><a href="after-submit-appeal">After you submit your appeal</a></li>
                        <li><a href="at-the-hearing">What happens at the hearing</a></li>
                        <li><a href="unhappy-tribunals-decision">If you're unhappy with the tribunal's decision</a></li>
                    </ol>
                </div>
            </aside>
        </div>

        <div class="column-two-thirds">

            <h1 class="part-title">Overview</h1>

            
<!--Content -->

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
      <p>You can appeal a decision about your entitlement to benefits, for example Personal Independence Payment (PIP), Employment and Support Allowance (ESA) and Universal Credit.</p>

<div role="note" aria-label="Information" class="panel panel-border-wide">
<p>There’s a different process <a rel="external" href="https://www.nidirect.gov.uk/articles/appealing-against-a-benefits-decision">if you live in Northern Ireland</a>.</p>
</div>

<p>Appeals are decided by the Social Security and Child Support Tribunal. The tribunal is impartial and independent of government. The tribunal will listen to both sides before making a decision.</p>

<h2 id="how-to-appeal" class="heading-medium">How to appeal</h2>

<p>Before you can appeal to the tribunal you must <a href="https://www.gov.uk/mandatory-reconsideration">ask for the decision about your benefits to be looked at again</a> - this is called ‘mandatory reconsideration’.</p>

<p><a href="submit-appeal">Appeal to the tribunal</a> within one month of getting your mandatory reconsideration decision. If you start your appeal after a month you’ll have to explain why you did not do it earlier. Your appeal might not be accepted.</p>

<p>After you submit your appeal, you can <a href="after-submit-appeal">provide evidence to the tribunal</a>. Your appeal will be decided at a <a href="at-the-hearing">tribunal hearing</a>.</p>

<h2 id="benefit-decisions-you-can-appeal" class="heading-medium">Benefit decisions you can appeal</h2>

<p>You can appeal a decision about:</p>

<ul class="list list-bullet">
  <li>30 hours free childcare scheme</li>
  <li>Attendance Allowance</li>
  <li>Bereavement Support Payment Scheme</li>
  <li>Bereavement Benefit</li>
  <li>Carer’s Allowance</li>
  <li>Child Benefit Lone Parent</li>
  <li>Contracted Out Employment Group</li>
  <li>Compensation Recovery Unit</li>
  <li>Disability Working Allowance</li>
  <li>Disability Living Allowance</li>
  <li>Housing Benefit</li>
  <li>Employment Support Allowance</li>
  <li>Health in Pregnancy Grant</li>
  <li>Home Responsibilities Protection</li>
  <li>Incapacity Benefit</li>
  <li>Income Support</li>
  <li>Industrial Death Benefit</li>
  <li>Industrial Injuries Disablement Benefit</li>
  <li>Job Seekers Allowance</li>
  <li>Maternity Allowances</li>
  <li>Pension credits</li>
  <li>Personal Independence Payment</li>
  <li>Retirement Pension</li>
  <li>Severe Disablement Allowance</li>
  <li>Social Fund</li>
  <li>Tax-free childcare scheme</li>
  <li>Tax Credits</li>
  <li>Universal Credit</li>
</ul>

<div role="note" aria-label="Information" class="panel panel-border-wide">
<p>Check any letters you’ve received about your benefit if you do not know the exact name.</p>
</div>

</div>




            <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="pagination-list">
                    <li class="pagination-item pagination-next">
                        <a class="pagination-link" href="/prototype-beta-190117/submit-your-appeal/guidance/submit-appeal-appeal">
                        <span class="pagination-title">
                            Next
                            <svg class="pagination-icon">
                                <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                            </svg>
                        </span>
                            <span class="visually-hidden">:</span>
                            <span class="pagination-label">Submit your appeal</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="column-one-third">
            <aside class="govuk-related-items">
                <h2 class="heading-small">Related Content</h2>
                <nav role="navigation">
                     <h3 class="sub-heading">Explore the topic</h3>
                    <ul class="font-xsmall">
                           <li> <a href="https://www.gov.uk/browse/benefits/entitlement">How benefits work</a></li>
   <li> <a href="https://www.gov.uk/browse/justice/courts-sentencing-tribunals">Courts, sentencing and tribunals</a></li>
   <li> <a href="https://www.gov.uk/topic/dealing-with-hmrc/complaints-appeals">Complaints and appeals</a></li>
                    </ul>
                </nav>
               
            </aside>
        </div>
    </div>
</main>

{% endblock %}
