{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Hearing reminder - 1 day
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your PIP benefit appeal: check the details of your hearing</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

	<p>Dear John Smith</p>

	<p>This is a reminder that the hearing for your PIP benefit appeal is tomorrow. Check the details below.</p>


<p>Date: 6 February 2017</p>
<p>Time: 10:00am (arrive 15 minutes early)  </p>
<p>Address: The Old Bakery, 115 Queens Road, Norwich NR1 3PL</p>
<p>Map and directions: <a href="https://goo.gl/maps/sQQgf7NkkBG2">https://goo.gl/maps/sQQgf7NkkBG2</a></p>

<p>Disabled access: 	Not needed </p>
<p>Representative: 	Peter Ashbourne</p>
<p>Interpreter: 		Not needed (only interpreters booked through us can translate at your hearing)</p>
<br/>

	<div class="panel panel-border-wide">
		<p>If anything above is incorrect or you can’t attend, phone us on 0300 123 1142.</p>
	</div>


<br/>


<p>Find out what your hearing is going to be like: <a href="../about-hearing">https://www.gov.uk/trackyourappeal/what-hearing-like</a></p>

<br/>
<p>Claiming expenses </p>
<p>You might be able to claim back some of the money you spend on attending your hearing. Find out more about how to claim: <br/><a href="../expenses-alt">https://www.gov.uk/trackyourappeal/expenses-alt</a></p>


</div>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../index">Index</a></p>
            </div>	

</main>

{% endblock %}
