{% extends "layout.html" %}
{% block page_title %}
Which notifications? - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
    {% include "includes/phase_banner_beta.html" %}
    <a href="#" class="link-back">Back</a> 
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                How do you want to receive updates?
            </h1>
            <p>Emails contain more information than text messages. Text messages are useful for reminders for when you need to do something important like go to a hearing. It's better to receive both.</p>
            <form  action="/prototype-24/notificationstype" method="post">
                <div class="form-group">
                    <fieldset>

                    <div class="multiple-choice">
                        <input id="radio-1" type="radio" name="radioGroup" value="both">
                        <label for="radio-1">Email and text messages</label>
                    </div>


                    <div class="multiple-choice">
                        <input id="radio-2" type="radio" name="radioGroup" value="email">
                        <label for="radio-2">Emails</label>
                    </div>

                    <div class="multiple-choice">
                        <input id="radio-3" type="radio" name="radioGroup" value="text">
                        <label for="radio-3">Text message</label>
                    </div>



                    </fieldset>
                </div>
            <input type="submit" class="button" value="Continue">
        </form>
    </div>
</div>
</main>
{% endblock %}