{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS submit and track your appeal prototypes 
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 20px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a></div>
	<p class="heading-small">Social Security and Child Support (SSCS)</p>
	<h1 class="heading-large">Submit your appeal - Universal Credit<span class="heading-secondary">Prototype</span></h1>
	<p>Test date: 18 June 2019<br/>
	Location: Manchester</p>

	<h2 class="heading-small">Sprint focus</h2>
	<p>Iterations necessary to accomodate UC appeals in SYA</p>

	<h3 class="heading-small">Journeys</h3>
	<ul class="list  list-number">
		<li><a href="/prototype-beta-uc-001/submit-your-appeal/guidance/overview">Full journey from guidance pages</a> </li>
	</ul>

	<h3 class="heading-small">New or changed screens</h3>
	<ul class="list  list-number">
		<li><a href="/prototype-beta-uc-001/submit-your-appeal/001-2-independence">Tribunal independence</a> </li>
		<li><a href="/prototype-beta-uc-001/submit-your-appeal/002-have-mrn">Have you got a Mandatory Reconsideration Notice (MRN)?</a> </li>
<li><a href="/prototype-beta-uc-001/submit-your-appeal/002-contacted-dwp">Did you ask DWP to reconsider their decision about your entitlement to Universal Credit (UC)?</a> </li>
<li><a href="/prototype-beta-uc-001/submit-your-appeal/003-2-contact-dwp">You need to ask DWP to reconsider their decision</a> </li>
<li><a href="/prototype-beta-uc-001/submit-your-appeal/uc-elements">What is your appeal about?</a> </li>

	</ul>
</main>
{% endblock %}
