{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS submit and track your appeal prototypes 
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 20px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a></div>
	<p class="heading-small">Social Security and Child Support (SSCS)</p>
	<h1 class="heading-large">Submit your appeal <span class="heading-secondary">Prototypes</span></h1>
	<p>Testing: 14 March 2019</p>
	<h2 class="heading-medium">Sprint focus</h2>
<h3 class="heading-small">Manage your appeal - Hearing journeys</h3>

	<ul class="list list-bullet">
		<li>SSCS-4870 Request a postponement and reasons why they want one</li>
<li>SSCS-4871 Request / Amend hearing type</li>
<li>SSCS-4873 Request a change of venue with reasons</li>
<li>SSCS-4874 Update / change hearing requirements</li>
<li>SSCS-4875 Update hearing availability (Pre hearing date being booked)</li>
</ul>


	</main>
	{% endblock %}
