{% extends "layout.html" %}
{% block page_title %}
Date of your MRN - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 {% include "includes/back.html" %}
 <div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      It’s too late for you to appeal
    </h1>

    <p>You can’t appeal because you don’t have a good reason why your appeal is late.</p>

    <p><a  href="../submit-your-appeal/guidance/overview">Exit service </a></p>
    <br/>

  </div>
</div>
</main>
{% endblock %}