{% extends "layout.html" %}
{% block page_title %}
Hearing availability - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
         {% include "includes/back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Tell us when you can’t come to a hearing 
            </h1>



<p>It’s important that you make yourself available for a hearing. If you postpone or don’t show up, your appeal could go ahead in your absence or be delayed by several months. </p>

<p>Tell us any dates when you can’t come.</p>

<img src="/public/images/calendar-picker.png" width="60%">
            
<form>
  <div class="form-group">
    <fieldset>

      

    </fieldset>

  </div>
  <a class="button" href="../prototype-beta-15/submit-your-appeal/017-check-your-answers">Continue</a>

</form>
            
        </div>

    </div>
    



</main>

{% endblock %}