{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS Protoypes
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 45px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a>
		<p class="heading-small">Social Security and Child Support (SSCS)</p>
		<h1 class="heading-large">BS15: Submit your appeal</h1>
	
		<h2 id="online" class="heading-medium">Submit your appeal journey</h2>
	 
		<ol class="list list-number">
			<li><a href="guidance/start-an-appeal">Start an apeal</a></li>
		</ol>

		<h2 id="online" class="heading-medium">Individual screens</h2>
		<p class="form-hint"> Note: onward links may not work if viewing screens individually. <br/>Return to the this index and select another link.</p>
		<ol class="list list-number">
			<li><a href="guidance/start-an-appeal">Start an apeal</a></li>
			<li><a href="001-benefit-type">Which benefit is your appeal about?</a></li>
			<li><a href="002-appointee">Are you an appointee?</a></li>

			<li><a href="003-mrn-date">What’s the date of your Mandatory Reconsideration Notice (MRN)?</a></li>
			<li><a href="003-1-no-mrn">Why you don’t have a Mandatory Reconsideration Notice?</a></li>
			<li><a href="003-2-contact-dwp">Contact the DWP before you appeal</a></li>
			<li><a href="003-3-why-appeal-late-1month">Tell us why your appeal is late (MRN date <= 1 month)</a></li>
			<li><a href="003-4-why-appeal-late-13months">Tell us why your appeal is late (MRN date > 1 month and < 13)</a></li>
			<li><a href="003-5-appeal-late-no-reason-1month">Unfortunately you can’t appeal (no reason given)</a></li>

			<li><a href="004-your-details">Enter your details</a></li>

			<li><a href="005-sms-sign-up">Do you want to receive text message reminders?</a></li>

			<li><a href="006-sms-mobile-number-provided">Shall we send text messages to the number you provided earlier?</a></li>

			<li><a href="006-sms-mobile-number">Enter your mobile phone number</a></li>

			<li><a href="007-sms-confirmation">You’re signed up for text message reminders</a></li>

			<li><a href="008-representative">Do you have a representative?</a></li>
			<li><a href="009-reps-details">Enter their details</a></li>
			<li><a href="009-no-reps-details">You can register them later</a></li>
			<li><a href="http://szo3n0.axshare.com/grounds-for-appeal-001.html">Why are you appealing? (option 1)</a></li>
			<li><a href="http://hwcof4.axshare.com/default.html">Why are you appealing? (option 2)</a></li>
			<li><a href="012-evidence-reminder">Sending evidence to support your appeal</a></li>
			<li><a href="013-your-hearing">Your hearing</a></li>
			<li><a href="013-hearing-not-attending">You have chosen not to attend your hearing</a></li>
			<li><a href="014-hearing-arrangements-needed">Do you need us to make any arrangements for your hearing?</a></li>
			<li><a href="015-hearing-arrangements">Arrangements for your hearing</a></li>
			<li><a href="http://2cn9p3.axshare.com/hearing_availability.html">Tell us when you can’t go to a hearing</a></li>
			<li><a href="017-check-your-answers">Check your appeal</a></li>
			<li><a href="018-confirmation">Your appeal has been submitted</a></li>
		</ol>


		
</div>
</main>
{% endblock %}
