{% extends "layout.html" %}
{% block page_title %}
Email address change confirmation - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">
        <form>
  <div class="form-group">
            <h1 class="heading-large">
                Emails about your 
PIP benefit  appeal  will be sent to
            </h1>

                    <div class="tribunal-details">
            <h2 class="bold-large">manish.sharma@gmail.com</h2>
 </div>

    <fieldset class="inline">
            <h3 class="heading-medium">Is that the correct email address?</h3>
      <legend class="visually-hidden">Is that the correct email address?</legend>

      <label class="block-label selection-button-radio" for="radio-inline-1">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        Yes
      </label>
      <label class="block-label selection-button-radio" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        No
      </label>

    </fieldset>
  </div>
</form>


  <a class="button" href="manage-email-confirm-02">Save and continue</a>

            
        </div>

    </div>
    
            <div class="prototype-nav">
            <p><a href="https://track-your-appeal.herokuapp.com/index-demo">Index</a></p> 

            </div>


</main>

{% endblock %}