{% extends "layout.html" %}
{% block page_title %}
Stop recieving email updates - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      You’ll stop receiving email updates about your 
    PIP benefit  appeal</h1>
    <br/>
    <a class="button" href="../prototype-beta-190117/manage/feedback">Confirm</a>
    <br/>
    <br/>
    <div class="prototype-nav">
      <p><a href="https://track-your-appeal.herokuapp.com/index-demo">Index</a></p> 
    </div>
  </main>
  {% endblock %}