{% extends "layout.html" %}
{% block page_title %}
Submit your appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %}
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Appeal a benefit decision</h1>

            <aside class="nav-container" role="complementary">
                <div class="nav-section">
                    <h2>Contents</h2>
                     <ol class="navigation-list">
                        <li><a href="overview">Overview</a></li>
                        <li>Submit your appeal</li>
                        <li><a href="after-submit-appeal">After you submit your appeal</a></li>
                        <li><a href="at-the-hearing">What happens at the hearing</a></li>
                        <li><a href="unhappy-tribunals-decision">If you're unhappy with the tribunal's decision</a></li>
                    </ol>
                </div>
            </aside>
        </div>

        <div class="column-two-thirds">

            <h1 class="part-title">Submit your appeal</h1>

           <div>
      <p>You can appeal a decision about your entitlement to benefits, for example Personal Independence Payment (PIP), Employment and Support Allowance (ESA) and Universal Credit.</p>

<div role="note" aria-label="Information" class="panel panel-border-wide">
<p>You must <a href="https://www.gov.uk/mandatory-reconsideration">ask for the decision about your benefits to be looked at again</a> before you can appeal.</p>
</div>

<p>You’ll need:</p>

<ul class="list list-bullet">
  <li>your <a href="https://www.gov.uk/mandatory-reconsideration">Mandatory Reconsideration Notice</a> - you get this after you ask for the benefit decision to be looked at again</li>
  <li>your National Insurance number</li>
  <li>the details of the representative helping with your appeal (if you’re using one)</li>
</ul>

<p>You’ll need to choose whether you want to go to the <a href="at-the-hearing">tribunal hearing</a> to explain your appeal in person. If you do not attend, your appeal will be decided on your appeal form and any <a href="after-submit-appeal">supporting evidence</a> you provide.</p>

<a role="button" class="button button-start" href="../001-benefit-type">Start now</a>

<div style="padding-top: 15px;"></div>
<h2 class="heading-small">Return to an existing appeal application</h2>
<p><a href="../idam-sign-in-return">Sign in to continue your application</a></p>



<br/>
<div role="note" aria-label="Information" class="panel panel-border-wide">
<p>If you want to appeal a PIP decision by post, <a href="../../../paper-form/form-download-r2">download and fill in a Notice of appeal form (SSCS1)</a> instead.</p>
</div>

<h2 id="help-with-your-appeal" class="heading-medium">Help with your appeal</h2>

<p>You can appoint someone as a ‘representative’ to help you with your appeal. A representative can:</p>

<ul class="list list-bullet">
  <li>help you submit your appeal or prepare your evidence</li>
  <li>act on your behalf</li>
  <li>give you advice</li>
</ul>

<p>Anyone can be a representative, including friends and family.</p>

<p>You might also be able to find a representative through a <a href="https://www.gov.uk/local-library-services">library</a> or from an organisation in your area that gives advice on claiming benefits, such as <a rel="external" href="https://www.citizensadvice.org.uk/about-us/how-we-provide-advice/advice/">Citizens Advice</a>.</p>

<p>Your representative will have permission to act on your behalf, for example to respond to letters. They’ll be sent all the information about your appeal, including any medical evidence.</p>

<p>To register a representative, you can either:</p>

<ul class="list list-bullet">
  <li>name your representative when you submit your appeal</li>
  <li>register a representative at any point after you submit your appeal - contact the benefit appeals helpline</li>
</ul>

<p>Contact the benefit appeals helpline if you need more help submitting an appeal.</p>

<div class="contact">
<h3 class="heading-small">Benefit appeals helpline (England and Wales)</h3>
Telephone: 0300 123 1142<br>
Monday to Friday, 8:30am to 5pm<br>
<a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
</div>

<div class="contact">
<h3 class="heading-small">Benefit appeals helpline (Scotland)</h3>
Telephone: 0300 790 6234<br>
Monday to Friday, 8:30am to 5pm<br>
<a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
</div>


</div> 

            <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="pagination-list">
                    <li class="pagination-item pagination-prev">
                        <a class="pagination-link" href="/prototype-beta-uc-001/submit-your-appeal/guidance/before-you-appeal">
                        <span class="pagination-title">
                            <svg class="pagination-icon">
                                <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                            </svg>
                            Previous
                        </span>
                            <span class="visually-hidden">:</span>
                            <span class="pagination-label">Overview</span>
                        </a>
                    </li>
                    <li class="pagination-item pagination-next">
                        <a class="pagination-link" href="/prototype-beta-uc-001/submit-your-appeal/guidance/start-an-appeal">
                        <span class="pagination-title">
                            Next
                            <svg class="pagination-icon">
                                <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                            </svg>
                        </span>
                            <span class="visually-hidden">:</span>
                            <span class="pagination-label">Submit your appeal</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="column-one-third">
            <aside class="govuk-related-items">
                <h2 class="heading-small">Related Content</h2>
                <nav role="navigation">
                     <h3 class="sub-heading">Explore the topic</h3>
                    <ul class="font-xsmall">
                           <li> <a href="https://www.gov.uk/browse/benefits/entitlement">How benefits work</a></li>
   <li> <a href="https://www.gov.uk/browse/justice/courts-sentencing-tribunals">Courts, sentencing and tribunals</a></li>
   <li> <a href="https://www.gov.uk/topic/dealing-with-hmrc/complaints-appeals">Complaints and appeals</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>

{% endblock %}
