{% extends "layout.html" %}
{% block page_title %}
Appeal late - 1 month - no reason - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
<a href="003-3-why-appeal-late-1month-alt" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Unfortunately you can’t appeal
    </h1>

    <p>If your appeal is late then you need to give a reason and you’ve told us you don’t have one. </p>

    <p>If you still think you’re entitled to benefits you can contact DWP. You can find their contact details on any correspondence you’ve received from them.</p>

    <p><a  href="003-3-why-appeal-late-1month-alt">I do have a reason </a></p>

    <p><a  href="http://www.gov.uk">Go to GOV.UK </a></p>
    <br/>

  </div>
</div>
</main>
{% endblock %}