{% extends "layout.html" %}
{% block page_title %}
Reason for no MRN - Appeal a benefit decision - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
<a href="003-mrn-date" class="link-back">Back</a> 

 <div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Tell us why you don’t have a Mandatory Reconsideration Notice
    </h1>
    <p>You can still appeal if you have asked [DWP] for ‘mandatory consideration’ but haven’t got the MRN letter. </p>
    <form>
      <div class="form-group">
        <fieldset>

        <label class="form-label" for="textarea">
</label>
<textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="5"></textarea>
        </fieldset>
<br/>
</p>
      </div>  <a class="button" href="004-appointee">Continue</a>
    </form>
    <br/>
    <p><a href="003-2-contact-dwp">I haven’t contacted DWP about their decision</a></p>
  </div>
</div>
</main>
{% endblock %}