{% extends "layout.html" %}
{% block page_title %}
Contact DWP - GOV.UK
{% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
<a href="003-1-no-mrn" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-large">
      Contact DWP before you appeal
    </h1>

    <p>You can only appeal after you’ve asked DWP to reconsider their decision. This is known as requesting mandatory reconsideration. </p>
    
    <p>You can find their contact details on any letters or emails you’ve received from them. </p>

    <p><a  href="http://www.gov.uk">Go to GOV.UK </a></p>
    <br/>

  </div>
</div>
</main>
{% endblock %}