{% extends "layout.html" %}
{% block page_title %}
 Appointee details - Appeal a benefit decision - GOV.UK
 {% endblock %}

{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %}
       <a href="../prototype-beta-18/submit-your-appeal/004-appointee" class="link-back">Back</a> 

 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">
      PROTOTYPE UNDER DEVELOPMENT
    </h1>
    <p><a href="../prototype-beta-18/submit-your-appeal/004-appointee">Go back</a></p>
  </div>
</div>
<div class="prototype-nav">
  <p><a href="index">Index</a></p>
</div>
</main>
{% endblock %}