{% extends "layout.html" %}
{% block page_title %}
Text reminders - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
        <a href="004-your-details" class="link-back">Back</a> 

    <div class="grid-row">
        <div class="column-two-thirds">

            

            <h1 class="heading-large">
               Do you want to receive text message reminders?
            </h1>
    

<p>They help remind you to do important things connected with your appeal.</p> 
<p>We'll only send them to you when something important happens on your appeal. </p>
 

  <a class="button" href="006-sms-mobile-number-provided">Sign up</a>
  <br/>  <br/>
  <p><a href="008-representative">No thanks</a></p>


            
        </div>

    </div>



</main>

{% endblock %}