{% extends "layout.html" %}
{% block page_title %}
Sending evidence - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
       {% include "includes/back.html" %}
  
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Sending evidence to support your appeal 
            </h1>
<p>Evidence includes anything which shows how your condition affects your life. For example, a doctor’s letter or report. A written statement by yourself or someone who knows you can also help the tribunal understand your appeal. </p>

<p>Post any evidence to the address below. Make sure you include your name and National Insurance number: </p>

<p>Birmingham ASC<br>
HM Courts and Tribunals Service<br>
Administrative Support Centre (ASC)<br>
P O Box 14620<br>
Birmingham<br>
B16 6FR</p>

<p>We’ll send you this address again after you’ve submitted your appeal.
</p> 

<form>

  <a class="button" href="013-your-hearing">Continue</a>

</form>
            
        </div>

    </div>
    


</main>

{% endblock %}