{% extends "layout.html" %}
{% block page_title %}
Your hearing - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
       <a href="../prototype-beta-18/submit-your-appeal/013-your-hearing" class="link-back">Back</a> 
 
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                You have chosen not to attend your hearing
            </h1>


<p>You can still send in evidence to support your appeal. We’ll send you an address where you can post it. You’ll receive this by [email / post] after you’ve submitted your appeal. </p>

<p>If you change your mind about attending the hearing, you can write or phone to us to let us know. The contact details will be on the first email or letter you receive from us.

</p>         

 <p> <a class="button" href="../prototype-beta-18/submit-your-appeal/017-check-your-answers">Continue</a></p>
<p><a href="../prototype-beta-18/submit-your-appeal/013-your-hearing">Go back</a></p>

   
<br/> 
<br/>           

        </div>

    </div>
    



</main>

{% endblock %}