{% extends "layout.html" %}
{% block page_title %}
Are you an appointee? - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
    {% include "includes/phase_banner_beta.html" %}
    <a href="#" class="link-back">Back</a> 
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Your availability for a hearing</h1>
            <p>Do you have any dates that you can’t attend a hearing? For example, because you are going on holiday or have an appointment which can’t be moved.</p>
            <form  action="/prototype-18/availability" method="post">
                <div class="form-group">
                    <fieldset>
                      <legend class="visually-hidden">Where do you live?</legend>
                      <div class="multiple-choice">
                        <input id="radio-1" type="radio" name="radioGroup" value="datesYes">
                        <label for="radio-1">Yes I need to tell you about dates when I can’t attend a hearing</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="radio-2" type="radio" name="radioGroup" value="datesNo">
                        <label for="radio-2">No, I will come to a hearing whenever you schedule it</label>
                    </div>



                </fieldset>
            </div>
            <input type="submit" class="button" value="Continue">
        </form>
    </div>
</div>
</main>
{% endblock %}