{% extends "layout.html" %}
{% block page_title %}
Check your answers - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Check your appeal</h1>
      <!-- <p>Read through all the information you’ve provided. When you’re happy, submit the appeal below.</p> -->
    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">
    <br/>
      <table>
        <thead>
          <tr>
            <th>Benefit</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name of benefit</td>
            <td>Personal Independence Payment (PIP)</td>
            <td><a href="001-benefit-type">Change</a></td>
          </tr>
          <thead>
            <tr style="border-bottom: 1px solid black;">
              <th></br></br>Mandatory Reconsideration Notice (MRN)</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
             <!--<tr>
              <td>Have an MRN</td>
              <td><[Only display if 'No']</td>
              <td><a href="">Change</a></td>
            </tr>-->
            <td>Date sent</td>
            <td>20 August 2017</td>
            <td><a href="003-mrn-date">Change</a></td>
          </tr>
          <tr>
            <!--  <td>Within date</td>
              <td>[Yes/No]</td>
              <td></td>
            </tr>
             <tr>
              <td>Late reason</td>
              <td>[Late reason]</td>
              <td><a href="">Change</a></td>
            </tr> -->
            <thead>
              <tr style="border-bottom: 1px solid black;">
                <th></br><br/>Appointee</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Are you an appointee?</td>
                <td>No</td>
                <td><a href="004-appointee">Change</a></td>
              </tr>
              <thead>
                <tr style="border-bottom: 1px solid black;">
                  <th></br><br/>Your details</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr style="border-bottom: 2px solid white;">
                  <td>Name</td>
                  <td>Manish Patel</td>
                  <td><a href="004-your-details">Change</a></td>
                </tr>
                <tr style="border-bottom: 2px solid white;">
                  <td>National Insurance number</td>
                  <td>QQ 12 34 56 C</td>
                  <td>&nbsp;</td>
                </tr>
                <tr style="border-bottom: 2px solid white;">
                  <td>Address<br/><br/><br/></td>
                  <td>122 Breach Street<br/>Birmingham <br/>B1 2HB</td>
                  <td>&nbsp;</td>
                </tr>
                <tr style="border-bottom: 2px solid white;"> 
                  <td>Email</td>
                  <td>manish.patel@gmail.com</td>
                  <td>&nbsp;</td>
                </tr> 
                <tr>
                  <td>Phone number</td>
                  <td>0121 460 2033</td>
                  <td>&nbsp;</td>
                </tr>
                <tr style="border-bottom: 1px solid black;">
                  <th><br/></br>Text message reminders</th>
                  <th></th>
                  <th></th>
                </tr>
                <tr>
                  <td>Receive text message reminders</td>
                  <td>Yes</td>
                  <td><a href="005-sms-sign-up">Change</a></td>
                </tr>
                <tr>
                  <td>Your mobile phone number</td>
                  <td>07979 23 5234</td>
                  <td><a href="006-enter-mobile-number">Change</a></td>
                </tr>
            <!--<tr>
              <td>[Supporters name] mobile phone number</td>
              <td>[Supporters mobile phone number]</td>
              <td><a href="">Change</a></td>-->
            </tr>
            <tr style="border-bottom: 1px solid black;">
              <th><br/></br>Your representative</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>Register a representative</td>
              <td>Yes</td>
              <td><a href="008-representative">Change</a></td>
            </tr>
            <tr style="border-bottom: 2px solid white;">
              <td>Name</td>
              <td>Leslie Smith</td>
              <td><a href="009-reps-details">Change</a></td>
            </tr>
            <tr style="border-bottom: 2px solid white;">
              <td>Organisation</td>
              <td>Citizens Advice Buerau</td>
              <td>&nbsp;</td>
            </tr>
            <tr style="border-bottom: 2px solid white;">
              <td>Address<br/><br/><br/><br/><br/></td>
              <td>Ground Floor<br/>
                Gazette Buildings<br/>
                168 Corporation Street<br/>
                Birmingham<br/>
                B4 6TF</td>
                <td>&nbsp;</td>
              </tr>
              <tr style="border-bottom: 2px solid white;">
                <td>Email</td>
                <td>mansih.patel@gmail.com</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>Phone number</td>
                <td>03444 77 1010 </td>
                <td>&nbsp;</td>
              </tr>
              <tr style="border-bottom: 1px solid black;">
                <th></br><br/>Reasons for appealing</th>
                <th></th>
                <th></th>
              </tr>
              <tr  style="border-bottom: 2px solid white;">
                <td>What you disagree with</td>
                <td>DWP said I was fit to work</td>
                <td><a href="011-why-are-you-appealing">Change</a></td>
              </tr>
              <tr>
                <td>Why you disagree<br/><br/><br/><br/></td>
                <td>I'm recovering from a stroke and my doctor </br>said I shouldn't go back to work for 6 months at least. </br>I need time to recover fully otherwise my </br>condition will be made worse.</td>
                <td>&nbsp;</td>
              </tr>
              <tr style="border-bottom: 1px solid black;">
                <th><br/></br>Your hearing</th>
                <th></th>
                <th></th>
              </tr>
              <tr  style="border-bottom: 2px solid white;">
                <td>Attending your hearing</td>
                <td>Yes</td>
                <td><a href="013-your-hearing">Change</a></td>
              </tr>
              <tr>
                <td>Not availabile to attend<br/></td>
                <td>12 October 2017 to 13 October 2017</td>
                <td><a href="http://kpopq9.axshare.com/#c=2">Change</a></td>
              </tr>
              <tr style="border-bottom: 1px solid black;">
               <th><br/></br>Hearing arrangements</th>
               <th></th>
               <th></th>
             </tr>
             <tr  style="border-bottom: 2px solid white;">
              <td>Language interpreter</td>
              <td>Not required</td>
              <td><a href="015-hearing-arrangements">Change</a></td>
            </tr>
            <tr  style="border-bottom: 2px solid white;">
              <td>Sign interpreter</td>
              <td>Not required</td>
              <td></td>
            </tr>
            <tr  style="border-bottom: 2px solid white;">
              <td>Hearing loop</td>
              <td>Not required</td>
              <td></td>
            </tr>
            <tr  style="border-bottom: 2px solid white;">
              <td>Disabled access</td>
              <td>Not required</td>
              <td></td>
            </tr>
            <tr>
              <td>Anything else we need to know</td>
              <td>Nothing</td>
              <td></td>
            </tr>
            <tbody>
            </table>
            <br/>
            <h2 class="heading-medium">Sign and submit </h2>
            <p>The information I have provided in this appeal is accurate, to the best of my knowledge. </p>
            <p>[if chosen rep] I give permission for the tribunal to correspond with my named representative about my appeal.</p>
            <div class="form-group">
              <h3 class="heading-small">
                Enter your name
                <span class="form-hint">This should be the person who is named on the appeal</span></h3>
                <input class="form-control form-control-2-4" id="form-control-3-4" type="text"> 
              </div>
              <a class="button" href="018-confirmation">Submit your appeal</a>
          </div>
        </div>
       
        </div>
      </div>
    </main>
    {% endblock %}