{% extends "layout_unbranded.html" %}

{% block page_title %}
SSCS Protoypes
{% endblock %}

{% block content %}

<main id="content" role="main">
           <div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png"></div>
          <!-- <p class="heading-small">Appeal a benefit decision</p> -->
           </div>

 

           <div class="grid-row">

           	<div class="column-one-half">

              <img src="/public/images/sya-demo/dwp-decision.png" width="90%"  >
           	</div>

           	<div class="column-one-half">
           		<h1 class="heading-large">The decision</h1>
           <p>Manish feels helpless and frustrated. He wanted to return to work but he was advised against it by the consultant at the hospital. </p>
<p>From reading the decision letter, Manish sees that he can appeal.  
First though, it says he has to request ‘Mandatory Reconsideration’ from the DWP.
This means asking the DWP to look at the decision again.</p> 
<p>With his wife’s help, he writes a letter to the DWP, explaining why he is unable to work and asking them to reconsider their decision.</p>

<a href="sya-manish-003">Manadatory reconsideration</a>


           	</div>
           </div>

</main>

{% endblock %}