{% extends "layout_unbranded.html" %}

{% block page_title %}
SSCS Protoypes
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">
           <div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png"></div>
          <!-- <p class="heading-small">Appeal a benefit decision</p> -->
           </div>

 

           <div class="grid-row">

           	<div class="column-one-half">

           		<img src="/public/images/persona-manish.png" width="90%"  >
           	</div>

           	<div class="column-one-half">
           		<h1 class="heading-large">Manish appeals a benefit decision</h1>
           <!--	<h2 class="heading-small">User needs</h2>

           		<ul class="list list-bullet">
           			<li>I need to know where I am in the process and what's going to happen next so that I don’t get stressed </li>
           			<li>I need to be reminded to submit evidence so that my hearing doesn't get adjourned</li>
           			<li>I need accurate information on timeframes so that I know how long each step in the process takes</li>
           		</ul>-->

           		<p>Manish is working as a travel agent when he suffers a mini stroke. He’s unable to return to work due to problems with focussing and memory loss. He claims Disability Living Allowance for six months. </p>
              <p>DWP then contact him to tell him that Disability Living Allowance is changing and he needs to be assessed for its replacement, Personal Independence Payment (PIP). He goes to the assessment which is carried out by a healthcare professional.</p>
</p>

<p>He goes to the assessment which is carried out by a healthcare professional. Four weeks later he receives a letter telling him he has not scored enough points in the assessment and he has been declared ‘fit for work’. His benefit payments are stopped.
</p>

<a href="sya-manish-002">The DWP decision</a>

           	</div>
           </div>

</main>

{% endblock %}