{% extends "layout_unbranded.html" %}

{% block page_title %}
SSCS1 - Grounds for appeal
{% endblock %}

{% block content %}

<main id="content" role="main">
           <div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png"></div>
           </div>

 

          
           	
              <h1 class="heading-large">SSCS1 form - 'Grounds for appeal'</h1>
<br/>
              <img src="/public/images/sya-demo/sscs1-grounds-for-appeal.png" width="90%"  >
           	
<br/><br/>
       <p> <a href="011-why-are-you-appealing">Back to 'Reasons for appealing'</a>  </p> 	
          


           	
           

</main>

{% endblock %}