{% extends "layout_unbranded.html" %}

{% block page_title %}
SSCS1 - Grounds for appeal
{% endblock %}

{% block content %}

<main id="content" role="main">
           <div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png"></div>
           </div>

 

           <div class="grid-row">

           	
              <h1 class="heading-large">SSCS1 form - 'Grounds for appeal'</h1>

              <img src="/public/images/sya-demo/sscs1-grounds-for-appeal.png" width="90%"  >
           	

           	
          


           	
           </div>

</main>

{% endblock %}