{% extends "layout_unbranded.html" %}

{% block page_title %}
SSCS Protoypes
{% endblock %}

{% block content %}

<main id="content" role="main">
           <div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png"></div>
          <!-- <p class="heading-small">Appeal a benefit decision</p> -->
           </div>

 

           <div class="grid-row">

           	<div class="column-one-half">

              <img src="/public/images/sya-demo/mrn-old.png" width="90%"  >
           	</div>

           	<div class="column-one-half">
           		<h1 class="heading-large">Mandatory Reconsideration</h1>
           <p>Six weeks later they receive a Mandatory Reconsideration Notice (MRN) from the DWP. It says they have looked at the decision again but they are sticking by the original decision. He is still not entitled to the PIP benefit. </p>
<p>It’s quite a long letter and Manish doesn’t understand all of it. 
But he sees that he is able to appeal to an independent tribunal online. 
Frustrated about not being listened to and anxious about the appeal process, he and his wife go online and search for ‘Appeal benefit decision’.</p>

<a href="guidance/overview">Appeal a benefit decision</a>
<!-- <p>They arrive at the <a href="guidance/overview">GOV.UK Appeal a benefit decision guidance pages</a>. -->
</p>


           	</div>
           </div>

</main>

{% endblock %}