{% extends "layout_unbranded.html" %}
{% block page_title %}
sya-demo-003
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 <div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png"></div>
 <!-- <p class="heading-small">Appeal a benefit decision</p> -->
</div>


<div class="grid-row">
  <div class="column-one-half">
    <a href="/public/images/sya-demo/mrn-new-01.png"><img src="/public/images/sya-demo/mrn-new-01.png" width="90%"  ></a>

    <div class="prototype-nav">
      <p><a href="sya-manish-003-signposting">Sign posting</a></p>
    </div>
  </div>


  <div class="column-one-half">
   <h1 class="heading-large">Mandatory Reconsideration</h1>
   
   <p>Six weeks later Manish receives a Mandatory Reconsideration Notice (MRN) from the DWP. 
It says they have looked at the decision again but they are sticking by it.</p>

<p>He sees that he’s now able to appeal to an independent tribunal online. 
He’s frustrated by having to go through another step, but at least the decision will be looked at by someone independent. </p> 

<p>Him and his wife go online and type in the website address from the back of the MRN. 
They arrive at the GOV.UK ‘Appeal a benefit decision’ guidance pages.
</p>


    <a href="guidance/overview">Appeal a benefit decision</a>
    <!-- <p>They arrive at the <a href="guidance/overview">GOV.UK Appeal a benefit decision guidance pages</a>. -->
  </p>
</div>
</div>
</main>
{% endblock %}