{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Hearing reminder - 1 day
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> your 
PIP benefit  appeal : check the details of your hearing</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

<p>Dear Mr M Sharma</p>
		<p>This is a reminder that the hearing for your 
PIP benefit  appeal is tomorrow.</p>
 
<h2 class="heading-medium">Hearing details</h2>
		<p>Date: 14 September 2017</p>
		<p>Time: 2:00pm (arrive 15 minutes early)   </p>
		<p>Address: Fox Court, 14 Grey’s Inn Road, London, WC1X 8HN</p>
		<p>Map and directions: <a href="https://www.google.com/maps/dir/Current+Location/Fox+Court,115+14+Greys+Inn+Road,+London+WC1X+8HN,+UK">https://www.google.com/maps/dir/Current+Location/Fox+Court,<br/>115+14+Greys+Inn+Road,+London+WC1X+8HN,+UK</a></p>
	

		<br/>
		<div class="panel panel-border-wide">
			<p>Phone us on 0300 123 1142 if you can’t attend.</p>
		</div>
		<h2 class="heading-medium">Please note</h2>
		<p>You can bring people to support you at your hearing. For example family, friends or a support worker. There will be a limit to the number of people you can take into the hearing room because of space.</p>
		<p>Children are allowed in the waiting area but not in the hearing room. You’ll need to bring someone to supervise them while you’re in the hearing. </p>
		<p>Bring all documents relating to your appeal to the hearing. For example letters or evidence we or DWP  have sent you.</p>
		<p>Find out what your hearing is going to be like: <a href="../about-hearing">www.sscs.reform.hmcts.net/progress/fzpqcy/trackyourappeal/about-hearing</a></p>

		<h2 class="heading-medium">Claiming expenses</h2>
		<p>You might be able to claim back some of the money you spend on attending your hearing. Find out more about how to claim:<br/><a href="../claiming-hearing-expenses">www.sscs.reform.hmcts.net/progress/fzpqcy/trackyourappeal/claiming-hearing-expenses</a></p>
		<br/>


		<p>Social Security and Child Support Tribunal<br/>
			HMCTS<br/>
			Telephone: 0300 123 1142<br/>
		</p>
		<p>Change your email address or stop receiving these emails:  <a href="../manage/manage-email-notifications">https://www.sscs.reform.hmcts.net/progress/fzpqcy/trackyourappeal/<br/>manage-email-notifications</a></p>


	</div>
	<div style="margin-top: 40px; font-size: 14px;">
		<p><a href="../../index-s11-test">Index</a> | <a href="email-adjourned-generic">Hearing adjourned</a></p>
	</div>
</main>
{% endblock %}