{% extends "layout.html" %}
{% block page_title %}
Check your hearing details - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Check your hearing details
            </h1>
            <div class="details">
               <h2 class="heading-medium"><span style="color: green;">Mr </span><span style="color: red;">[Title]<span style="color: green;"> M Sharma</span><span style="color: red;"> [Name]</span></h2>
                 <h2 class="form-hint">Appeal reference number: <span style="color: green;"> SC242/16/03435</span><span style="color: red;">[Appeal ref. # from GAPS2]</span> </h2>
                <h2 class="form-hint">Appeal reference number: SC242/16/03435</h2>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="tribunal-details">
            <dl class="date-time">
                <dt>Date</dt>
                <dd>20 February 2017</dd>
            </dl>
            <dl class="date-time">
                <dt>Time</dt>
                <dd>10:00am <span style="font-weight: normal; ">(arrive 15 minutes before)</span></dd>
            </dl>
            <dl class="address">
                <dt>Location</dt>
                <dd>
                    <span>The Old Bakery</span>
                    <span>115 Queens Road</span>
                    <span>Norwich</span>
                    <span>NR1 3PL</span>

                </dd>
            </dl>
            

            <a class="maps-and-directions" href="https://www.google.com/maps/dir/Current+Location/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,+UK">Maps and directions</a>
<br/><br/>
            <dl class="parking">
                <dt>Parking</dt>
                <dd style="font-weight: normal;"><a href="https://www.google.com/maps/dir/Queens+Road+Car+Park,Norwich+NR1+3PN/The+Old+Bakery,115+Queens+Road,+Norwich+NR1+3PL,+UK">Nearest car park</a></dd>
            </dl>

            <p> </p>
            
          <!--  <div class="divider-grey-light"></div> -->

            <dl class="disabled-access">
                <dt>Disabled access</dt>
                <dd>Not required</dd>
            </dl>

            <dl class="representative">
                <dt>Representative</dt>
                <dd>Mr P. Ashbourne</dd>
            </dl>

            <dl class="interpreter">
               <dt>Interpreter</dt>
                <dd >
                    <span>Not required</span>
                    <span style="font-weight: normal; ">Only interpreters booked by us can translate for you at the hearing.</span>
                </dd>
            </dl>

        </div>


        <br/>
             <br/>

        <div class="panel panel-border-wide">
          <p><strong class="bold-small">If anything above is incorrect or you cannot attend, call us on 0300 123 1142</strong></p>
      </div>
      <br/>




    <h3 class="heading-small">Please note</h3>
    <p>You can bring people to support you at your hearing. For example family, friends or a support worker. There will be a limit to the number of people you can take into the hearing room because of space.</p>
    <p>Children are allowed in the waiting area but not in the hearing room. You’ll need to bring someone to supervise them while you’re in the hearing.</p>
    <p>Bring any documents relating to your appeal to the hearing. For example letters or evidence we or the <span style="color: green;">DWP</span> <span style="color: red; font-weight: normal; font-size: 19px;">[1st tier agency acronym]</span> have sent you.</p>


      <br/>
      <a href="what-to-expect-at-your-hearing">Find out what your hearing is going to be like</a>
      
      <div class="updates-border"></div>
      <h4 class="heading-small">About your hearing</h4>
      <ul class="list">
  <li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
                  <li><a href="benefit-appeal-evidence">Providing evidence to support your appeal</a></li>

        <li><a href="status-hearing-booked">Track your appeal</a></li>
        
    </ul> 
</div>
</div>

            <div class="prototype-nav">
            <p><a href="index">Index</a></p>

            </div>

</main>
{% endblock %}