{% extends "layout.html" %}

{% block page_title %}
Status - DWP response + evidence received - GOV.UK (PHRR2-S)
{% endblock %}

{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Your <span style="color: green;">ESA benefit</span> <span style="color: red; font-weight: normal; font-size: 19px;"> [Benefit name acronym. If benefit + ' benefit']</span> appeal
            </h1>

            <div class="details">
                <span style="color: green;"> <h2 class="heading-medium">Mr M Sharma<span style="color: red; font-weight: normal; font-size: 19px;"> [Title and name as in GAPS2]</span></h2>
                  <h2 class="form-hint">Appeal reference number: <span style="color: green;"> SC242/16/03435</span><span style="color: red;">[Appeal ref. # from GAPS2]</span> </h2>
            </div>
            <div class="divider"></div>
            <div class="progress-container">
               <div class="ring active">
                    <p class="appeal-received">Appeal</p>
                </div>
                <div class="leg foot active">
                    <p class="dwp-respond">DWP response</p>
                </div>
                <div class="leg foot ">
                    <p class="hearing-booked">Hearing booked</p>
                </div>
                <div class="leg "></div>
                <div class="ring ">
                    <p class="hearing">Hearing</p>

            </div>

        </div>

    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="description">
                <h4 class="heading-small">Latest update</h4>
            


<p>We’re now in the process of booking a hearing for your appeal. We’ll contact you by 23 February 2017 <span style="color:red;" >[date + 6 weeks from DWP response date]</span> with the details.</p> 

<p><span style="color: red;">[Display evidence received update after current status]</span><br/>

The <span style="color: green;">medical</span> <span style="color: red; font-weight: normal; font-size: 19px;">[Display if medical evidence]</span>

evidence you sent was received by us on <span style="color: green;"> 01 November 2016 </span><span style="color: red;">[date evidence received]</span>. </p>  


                <!-- Previous updates -->
                <p class="updates-toggle">
                    <i class="fa fa-caret-right" aria-hidden="true"><span>View previous updates</span></i>
                </p>
                <div class="updates-container">

                    




                    <div class="update">
                        <h4 class="bold-small">Appeal received<span class="date-updates">15 December 2016</span>
                            <p>We’ve told the <span style="color: green;">DWP</span> <span style="color: red; font-weight: normal; font-size: 19px;">[1st tier agency acronym]</span> that you’ve appealed against their decision. They have to respond before 12 January 2017. We’ll contact you and explain the next steps when they’ve replied.</p>
                        </div>
                    </div>
                    <!-- End previous updates -->
                
                  
                </div>

<div style="padding-top: 30px;"></div>              
    <div class="panel panel-border-wide">
<span style="color: red; font-weight: normal; font-size: 19px;">
[Display evidence reminder only if DWP have responded and until 29 days from DWP response date*]</span>

        <p>All evidence should be received by <span style="color: green;"> 9 February 2017</span><span style="color:red;"> [date + 28 days from DWP response]</span>. This is so there’s time to read it before your hearing.   <span style="color: red;">[Display paragraph if no evidence received]</span></p>

        <span style="color: red; font-weight: normal; font-size: 19px;">[OR]</span>

 <p>If you have any more evidence, it must be received by <span style="color: green;"> 9 February 2017</span><span style="color:red;"> [date + 28 days from DWP response]</span>. This is so there’s time to read it before your hearing. <span style="color: red;">[Display paragraph if evidence received]</span>  

        <br/><a href="benefit-appeal-evidence">Find out about submitting evidence to support your appeal</a></p>
    </div>

   <div class="updates-border"></div>
        </div>
    </div>

 
<h4 class="heading-small">About your appeal</h4>

  <ul class="list">

           <li><a href="what-to-expect-at-your-hearing">What to expect at your hearing</a></li>
            
                             <li><a href="claiming-hearing-expenses">Claiming hearing expenses</a></li>
                             <li><a href="benefit-appeal-evidence">Providing evidence to support your appeal</a></li>

           
    </ul> 

                <div class="prototype-nav">
            <p><a href="index">Index</a></p>


            </div>

</main>

{% endblock %}