{% extends "layout.html" %}
{% block page_title %}
Your hearing - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
 
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                You have chosen not to attend your hearing
            </h1>


<p>Your appeal will be decided using only the information provided by you and the DWP. </p>

<p>You can also send evidence to support your appeal, such as medical reports or a letter from your doctor. We’ll send you details on how to do this after you’ve submitted your appeal. </p>

<p>You can call us and let us know if you change your mind.</p>         

 <p> <a class="button" href="../prototype-beta-09/submit-your-appeal/017-check-your-answers">Continue</a></p>
<p><a href="013-your-hearing">Go back</a></p>

   
<br/> 
<br/>           

        </div>

    </div>
    
            <div class="prototype-nav">
            <p><a href="../index">Index</a></p>

            </div>


</main>

{% endblock %}