{% extends "layout.html" %}
{% block page_title %}
Hearing availability - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Tell us when you can’t go to a hearing 
            </h1>

<p>Your hearing will be at least X weeks [data driven] from when you submit your appeal. </p>

<p>Tell us any dates when you’re not available to attend. </p>

<p>If your availability changes, you can call us later and change your hearing date.</p>

<img src="/public/images/calendar-picker.png" width="60%">
            
<form>
  <div class="form-group">
    <fieldset>

      

    </fieldset>

  </div>
  <a class="button" href="016-check-your-answers">Continue</a>

</form>
            
        </div>

    </div>
    
            <div class="prototype-nav">
            <p><a href="../index">Index</a></p>

            </div>


</main>

{% endblock %}