{% extends "layout_unbranded.html" %}

{% block page_title %}
SSCS submit and track your appeal protoypes
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div style="margin: 30px 0 20px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a></div>

	<p class="heading-small">Social Security and Child Support (SSCS)</p>
	<h1 class="heading-large">Submit and track your appeal</h1>

	<h2 class="heading-medium">Public Beta iterations</h2>

<h3 class="heading-small">Universal Credit</h3>
	<ul class="list ">
		<li> <a href="/prototype-beta-uc-001">1st round testing (18.06.2019)</a></li>
		
		</ul>

<h3 class="heading-small">Save and return</h3>
	<ul class="list ">
		<li> <a href="/prototype-beta-srmvp">Save and return (Round 4 - MVP version with create account option screen)</a> (27.03.2019)</li>
		<li> <a href="/prototype-beta-190211">Save and return (Round 3 - Users with access needs in own homes)</a> (11.02.2019)</li>
		<li> <a href="/prototype-beta-190130">Save and return (Round 2)</a> (30.01.2019)</li>
		<li> <a href="/prototype-beta-190117">Save and return (Round 1)</a> (17.01.2019)</li>
		</ul>

	<h3 class="heading-small">Paper form redesign and download journey</h3>
	<ul class="list ">
		<li> <a href="/prototype-beta-190211/submit-your-appeal/guidance-r2/overview">Benefit appeal paper form redesign - Round 2</a> (28.02.2019)</li>
		<li> <a href="/prototype-beta-190211/submit-your-appeal/guidance/overview">Benefit appeal paper form - Round 1</a> (20.02.2019)</li>
		</ul>

		

		<h2 class="heading-medium">Service demo</h2>

		<p><a href="index-demo">Submit and track your appeal demo journeys</a></p>

		<br/>
		<details class="form-group" role="group">
			<summary role="button" aria-controls="details-content-0" aria-expanded="false">
				<h3 class="heading-small" style="margin-top: 0; margin-bottom: 0; display: inline-block;">Archived prototypes </h3>
			</summary>

			<h3 class="heading-small">Private Beta iterartions</h3>

			<ol class="list">

				<li><a href="/prototype-beta-180522/">Testing with welfare rights advisors and reps</a> (22.05.2018)</li>
				<li><a href="/prototype-beta-180517/">Save and return and evidence upload post submission</a> (17.05.2018)</li>

				<li><a href="/prototype-beta-180425/">Evidence upload and IdAM</a> (25.04.2018)</li>
				<li>Sprint 23: <a href="/prototype-beta-23/">Submit your appeal - Independence</a></li>
				<li>Sprint 20: <a href="/prototype-beta-20/">Submit your appeal - Appointee and Appellant</a></li>
				<li>Sprint 18: <a href="/prototype-beta-18/">Submit your appeal - iterations from sprint 17</a></li>
				<li>Sprint 17: <a href="/prototype-beta-17/">Submit your appeal - Grounds for appeal, non-js availability date and iterations</a></li>
				<li>Sprint 16: <a href="/prototype-beta-16/">Submit your appeal - Grounds for appeal and iterations</a></li>
				<li>Sprint 15: <a href="/prototype-beta-15/">Submit your appeal - Unhappy paths</a></li>
				<li>Sprint 14: <a href="/prototype-beta-14/">Submit your appeal including continuous resolution (in progress not for demo)</a></li>
				<li>Sprint 10: <a href="/prototype-beta-10/">Submit your appeal - Iterations from sprint 9(latest version to demo)</a></li>
				<li>Sprint 09: <a href="/prototype-beta-09/">Submit your appeal - Version 1 digital prototype</a></li>

				<li>Sprint 08: <a href="/prototype-beta-08/">Gov.uk guidance pages & progress bar accessibility options</a></li>

				<li>Sprint 06: <a href="/prototype-beta-06/">Private beta MVP alignment	</a></li>
				<li>Sprint 05: <a href="/prototype-beta-05/">Contact us & supporter notifications</a></li>
				<li>Sprint 02: <a href="/prototype-beta-02/">Dynamic content rules</a></li>
				<li>Sprint 01: <a href="/prototype-beta-01/">Register for and manage notifications (MVP)</a></li>

			</ol>
			<h3 class="heading-small">Alpha</h3>
			<ol class="list">
				<li><a href="/prototype-manish/index">Demo user journeys</a></li>
				<li><a href="/prototype-8/index">Exceptions</a> (Usability testing 09.11.16)</li>
				<li><a href="/prototype-7/index">Happy Path and Form Validation</a> (Usability testing 27.10.16)</li>
				<li><a href="/prototype-6/track-your-appeal">Steel Thread</a></li>
				<li><a href="/prototype-5/index">Happy path and hearing support</a> (Usability testing 13.10.2016)</li>
				<li><a href="/prototype-4/track-my-case">Horizontal progress bar. Status bottom</a></li>
				<li><a href="/prototype-3/track-my-case">Status at top. Vertical progress bar. Iteration</a></li>
				<li><a href="/prototype-2/track-my-case">Status at top. Vertical progress bar</a></li>
				<li><a href="/prototype-1/track-my-case">Ticked confirmation progress indicator</a></li>
			</ol>
		</details>

	</main>

	{% endblock %}