{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS submit and track your appeal protoypes - GDS Assessment
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 20px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a></div>
	<p class="heading-small">Social Security and Child Support (SSCS)</p>
	<h1 class="heading-large">Submit and track your appeal <span class="heading-secondary">Prototypes</span></h1>



	<h2 class="heading-medium">Private Beta Assessment</h2>
	

	
	<h3 class="heading-small">Demo journeys</h3>

<ul class="list  list-number">
	<li><a href="prototype-beta-180522/journey-manish">Submit and track end-to-end journey</a></li>
	<li><a href="prototype-beta-180522/journey-derick">Track your appeal SMS notifications</a></li>
</ul>
	<h3 class="heading-small">Key iterations</h3>

<ul class="list  list-number">
	<li><a href="prototype-beta-180522/submit-your-appeal/004-appointee">Appointee journey</a></li>
	<li><a href="#">Reasons for appealing</a> (**Link to be added**)</li>
	<li><a href="prototype-beta-180522/submit-your-appeal/012-evidence-provide">Evidence upload</a></li>
	<li><a href="prototype-beta-180522/submit-your-appeal/012-evidence-provide">Save and return with current IdAM solution</a> (lastest iteration - on-going)</li>
	<li><a href="https://h9qkhd.axshare.com/hearing_availability.html">Calendar date picker</a></li>
	<li><a href="prototype-beta-180522/submit-your-appeal/other-pages/timeout-countdown">Service time out warning</a></li>
	<li> <a href="prototype-beta-180522/index-tya">Track your appeal notifications (new and iterated)</a></li>
</ul>



</main>
{% endblock %}
