{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS Protoypes - Sprint 11 testing
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 45px 0;"> <a href="../index"><img src="/public/images/hmcts-logo.png"></a>
		<p class="heading-small">Social Security and Child Support (SSCS)</p>
	
	<h1 class="heading-large">Exceptions usability testing - Sprint 11</h1>

		<h2 id="online" class="heading-medium">Journey for test scenario</h2>
		<ol class="list list-number">
			<li><a href="/public/images/bs11/appeal-received-letter.pdf">Appeal received letter</a></li>
			<li><a href="/prototype-beta-10/status?casenumber=SC012%2F34%2F56789&status=appeal">Appeal received - Status (PHAR1-S)</a></li>
			<li><a href="/prototype-beta-10/notifications/email-dwp-response-late">DWP response late - Email (EXRE-E) </a></li>
			<li><a href="/prototype-beta-10/status-dwp-response-overdue">DWP response late - Status (EXRE3-S) </a></li>
			<li><a href="/prototype-beta-10/notifications/email-dwp-response">DWP response - Email (PHRR1-E)</a></li>
			<li><a href="/prototype-beta-10/notifications/email-hearing-booked-mvp">Hearing booked - Email (PHHB1-E)</a></li> 
			<li><a href="/prototype-beta-10/what-to-expect-at-your-hearing">What to expect at your hearing</a></li>
			<li><a href="/prototype-beta-10/status-hearing-booked">Hearing booked - Status (PHHB1-S)</a></li>
			<li><a href="/prototype-beta-10/notifications/email-postponed-generic">Postponed - Generic - Email (EXHP9-E) </a></li>
			<li><a href="/prototype-beta-10/status-postponed-generic">Postponed - Generic - Status (EXHP9-S)</a></li>
			<li><a href="/prototype-beta-10/notifications/email-hearing-booked-new">New hearing booked - Email (EXNH1-E)</a></li>
			<!--<li><a href="/prototype-beta-10/notifications/email-hearing-reminder-1wk-mvp">Hearing reminder - 1 week (PHHR1-E)</a></li> -->
			<!--<li><a href="/prototype-beta-10/notifications/email-hearing-reminder-1day-mvp">Hearing reminder - 1 day (PHHR2-E)</a></li>-->
			<li><a href="/prototype-beta-10/notifications/email-adjourned-generic">Adjourned - Generic - Email (EXHA10-E) </a></li>
			<li><a href="/prototype-beta-10/notifications/status-adjourned-generic">Adjourned - Generic - Status (EXHA10-S)</a></li>

			
		</ol>


		



</div>
</main>
{% endblock %}
