{% extends "layout_unbranded.html" %}

{% block page_title %}
SSCS Protoypes
{% endblock %}

{% block content %}

<main id="content" role="main">
           <div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png">

          
          <p class="font-medium">Social Security and Child Support (SSCS)</p>

	<h1 class="heading-large">Alpha</h1>
	<p class="lede">'Track your appeal' prototype development</p>
	<h2 class="heading-medium">Prototype iterations</h2>
	<ol class="list list-number">
		<li><a href="/prototype-manish/index">Demo user journeys</a></li>
		<li><a href="/prototype-8/index">Exceptions</a> (Usability testing 09.11.16)</li>
		<li><a href="/prototype-7/index">Happy Path and Form Validation</a> (Usability testing 27.10.16)</li>
        <li><a href="/prototype-6/track-your-appeal">Steel Thread</a></li>
        <li><a href="/prototype-5/index">Happy path and hearing support</a> (Usability testing 13.10.2016)</li>
        <li><a href="/prototype-4/track-my-case">Horizontal progress bar. Status bottom</a></li>
        <li><a href="/prototype-3/track-my-case">Status at top. Vertical progress bar. Iteration</a></li>
		<li><a href="/prototype-2/track-my-case">Status at top. Vertical progress bar</a></li>
		<li><a href="/prototype-1/track-my-case">Ticked confirmation progress indicator</a></li>
	</ol>

</main>

{% endblock %}