{% extends "layout_unbranded.html" %}

{% block page_title %}
SSCS Protoypes
{% endblock %}

{% block content %}

<main id="content" role="main">

           <div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png">
          
          <p class="font-medium">Social Security and Child Support (SSCS)</p>
          	<h1 class="heading-large">Beta</h1>

	<p class="lede">Prototype development</p>
	<ol class="list">
		<li>Sprint 07: <a href="/prototype-beta-07/">Progress bar accessibility options	</a></li>

		<li>Sprint 06: <a href="/prototype-beta-06/">Private beta MVP alignment	</a></li>
		<li>Sprint 05: <a href="/prototype-beta-05/">Contact us & supporter notifications</a></li>
		<li>Sprint 02: <a href="/prototype-beta-02/">Dynamic content rules</a></li>
		<li>Sprint 01: <a href="/prototype-beta-01/">Register for and manage notifications (MVP)</a></li>

	</ol>

</main>

{% endblock %}