{% extends "layout_unbranded.html" %}
{% block page_title %}
SSCS Protoypes - BS02
{% endblock %}
{% block content %}
<main id="content" role="main">
	<div style="margin: 30px 0 45px 0;"> <img src="/public/images/hmcts-logo.png">
		<p class="heading-small">Social Security and Child Support (SSCS)</p>
		<h1 class="heading-large">BS05: Contact us & supporter notifications </h1>
		<h2 class="heading-small">On this page</h2>
		<ul class="list">
			<!--<li><a href="#letter">Letter</a></li>-->
			<li><a href="#online-status">Online status</a></li>
			<li><a href="#online-status-exceptions">Online status - Exceptions</a></li>
			<li><a href="#email">Email</a></li>
			<li><a href="#email-exceptions">Email - Exceptions</a></li>
			<li><a href="#text">Text</a></li>
			<li><a href="#hearing">Hearing context and support content</a></li>
			<li><a href="#register">Manage notifications online</a></li>
		</ul>
		<hr>
		<h3 class="heading-small">Note</h3>
		<p>Rules for dynamic content are included after the related content in the pages listed below <br/>e.g. <span style="color: green;"> 19 January 2017 </span><span style="color: red;">[date 35 days from DWP notified of appeal]</span></p>
		<hr>
		<h2 id="online-status" class="heading-small">Online status</h2>
		<ol class="list list-number">
			<li><a href="status?casenumber=SC012%2F34%2F56789&status=appeal">Appeal received (PHAR1-S)</a></li>
			<li><a href="status-evidence-received-appeal">Appeal received with evidence received (PHAR2-S)</a></li>
			<li><a href="status-dwp-response">DWP response (PHRR1-S) </a></li>
			<li><a href="status-evidence-received-dwp-response">DWP response with evidence received (PHRR2-S)</a></li>
			<li><a href="status-hearing-booked">Hearing booked (PHHB1-S)</a></li>
			<li><a href="status-evidence-received-hearing-booked">Hearing booked with evidence received (PHHB2-S)</a><br/> Includes 'Previous updates' dynamic data examples)</li>
			<li><a href="status-decision">Decision made - to be issued (PHDM1-S)</a></li>
			<li><a href="status-decision-sent">Decision made - Issued (PHDM2-S)</a></li>
			<li><a href="status-appeal-closed">Appeal closed - After 3 months from decision (PHDM2-S)</a></li>
		</ol>
		<hr>
		<h2 id="online-status-exceptions"class="heading-small">Online status - Exceptions</h2>
		<ol class="list list-number">
			<li><a href="status-non-compliant">Appeal received - Non compliant (EXAR1-S)</a><span style="color: red; font-weight: normal; font-size: 19px;"> [**NEEDED?**]</span></li>
<li><a href="status-dwp-response-overdue">DWP response overdue (EXRE3-S)</a></li>

		<li><a href="status-past-hearing-date">Past hearing booked date (EXRE1-S)</a></li>

			<li><a href="status-adjourned-medical-evidence-not-attended">Adjourned - medical evidence - Not attended (EXHA1-S)</a></li>
			<li><a href="status-adjourned-medical-evidence">Adjourned - medical evidence- attended (EXHA2-S)</a></li>
			
			<li><a href="status-adjourned-medical-evidence-dwp">Adjourned - medical evidence DWP - Not attended (EXHA3-S)</a></li>
			<li><a href="status-adjourned-medical-evidence-dwp">Adjourned - medical evidence DWP - attended (EXHA4-S)</a></li>
			

			<li><a href="status-adjourned-evidence-not-attended">Adjourned - further evidence - Not attended (EXHA5-S)</a></li>
			<li><a href="status-adjourned-evidence">Adjourned - further evidence - Attended (EXHA6-S)</a></li>

			<li><a href="status-adjourned-other">Adjourned other - Not attended (EXHA7-S)</a></li>

			<li><a href="status-adjourned-other">Adjourned other - Attended (EXHA8-S)</a></li>

			

			<li><a href="status-death-paused">Death of a party - appeal paused (EXDP1-S)</a></li>
			<li><a href="status-death-appointee-assigned">Death - appointee assigned (EXDP3-S)</a></li>
			<li><a href="status-postponed-appellant-request">Postponement - Appellant request (EXHP1-S)</a></li>
			<li><a href="status-postponed-dwp-attendance">Postponement - Requested by DWP (EXHP2-S)</a></li>
			<li><a href="status-postponed-appellant-request-confirmed">Postponement - Confirmed (EXHP3-S)</a></li>
			<li><a href="status-postponed-refused">Postponement - Refused (EXHP4-S)</a></li>
			<li><a href="status-postponed-incomplete">Postponement - Incomplete tribunal or exclusion (EXHP6-S)</a></li>
			<li><a href="status-postponed-listing-error">Postponement - Listing error (EXHP7-S)</a></li>
			<li><a href="status-hearing-booked-new">New hearing booked (EXNH1-S)</a></li>
			<li><a href="status-revised">Lapsed / Revised (EXAL1-S)</a></li>
			<li><a href="status-withdrawn">Withdrawn (EXAW1-S)</a></li>
		</ol>
		<hr>
		<h2 id="email" class="heading-small">Email</h2>
		<ol class="list list-number">
			<li><a href="notifications/email-confirmation-supporter">Supporter subscription confirmation (**Add code**)</a></li>
			<li><a href="notifications/email-appeal-received">Appeal received (PHAR1-E)</a></li>
			<li><a href="notifications/email-dwp-response">DWP response (PHRR1-E)</a></li>
			<li><a href="notifications/email-evidence-reminder-not-sent">Evidence reminder - Haven't submitted evidence (PHER1-E)</a></li>
			<li><a href="notifications/email-evidence-reminder-sent">Evidence reminder - Already submitted evidence (PHER2-E)</a></li>
			<li><a href="notifications/email-evidence-received">Evidence received (PHER1-E)</a></li>
			<li><a href="notifications/email-hearing-booked">Hearing booked (PHHB1-E)</a></li>
			<li><a href="notifications/email-hearing-reminder-1wk">Hearing reminder - 1 week (PHHR1-E)</a></li>
			<li><a href="notifications/email-hearing-reminder-1day">Hearing reminder - 1 day (PHHR2-E)</a></li>
		</ol>
		<hr>
		<h2 id="email-exceptions" class="heading-small">Email - Exceptions</h2>
		<ol class="list list-number">
		
	
			<li><a href="notifications/email-adjourned-medical-evidence">Adjourned medical evidence - Attended (EXHA1-E)</a></li>
			<li><a href="notifications/email-adjourned-medical-evidence-not-attended">Adjourned medical evidence - No Attended (EXHA2-E)</a></li>

			<li><a href="notifications/email-adjourned-medical-evidence-dwp">Adjourned medical evidence - DWP - Attended (EXHA3-E)</a></li>
			<li><a href="notifications/email-adjourned-medical-evidence-dwp-not-attended">Adjourned medical evidence - DWP - Not attended (EXHA4-E)</a></li>

			<li><a href="notifications/email-adjourned-evidence">Adjourned further evidence - Attended (EXHA5-E)</a></li>
			<li><a href="notifications/email-adjourned-evidence-not-attended">Adjourned further evidence - Not attended (EXHA6-E)</a></li>

			<li><a href="notifications/email-adjourned-other">Adjourned other reason - Attended (EXHA7-E)</a></li>
			<li><a href="notifications/email-adjourned-other-not-attended">Adjourned other reason - Not attended (EXHA8-E)</a></li>

			<li><a href="notifications/email-hearing-booked-new">New hearing booked (EXNH1-E)</a></li>

			<li><a href="notifications/email-postponed-appellant-request">Postponement - Appellant request (EXHP1-E)</a></li>

			<li><a href="notifications/email-postponed-appellant-request-confirmed">Postponement - Confirmed (EXHP3-E)</a></li>

			<li><a href="notifications/email-postponed-refused">Postponement - Refused (EXHP4-E)</a></li>

			<li><a href="notifications/email-postponed-refused-3days">Postponement - Refused (3 days to hearing) (EXHP5-E)</a></li>

			<li><a href="notifications/email-postponed-dwp-attendance">Postponement - Requested by DWP (EXHP2-E)</a></li>

			<li><a href="notifications/email-postponed-incomplete">Postponement - Incomplete tribunal or exclusion (EXHP6-E)</a></li>

			<li><a href="notifications/email-postponed-listing-error">Postponement - Listing error (EXHP7-E)</a></li>

			<li><a href="notifications/email-revised">Revised/Lapsed (EXAL1-E</a></li>

			<li><a href="notifications/email-withdrawn">Withdrawn (EXAW1-E)</a></li>
			<li><a href="notifications/email-dwp-response-late">DWP response late (EXRE-E) </a></li>

		</ol>
		<hr>
		<h2 id="text" class="heading-small">Text</h2>
		<ol class="list list-number">
	<li><a href="notifications/sms-confirmation">Subscription confirmation (**Add code**)</a></li>
	<li><a href="notifications/sms-confirmation-supporter">Subscription confirmation for a supporter (**Add code**)</a></li>
	<li><a href="notifications/sms-evidence-reminder-not-sent">Evidence reminder - Haven't submitted evidence(PHER1-T)</a></li>
	<li><a href="notifications/sms-evidence-reminder-sent">Evidence reminder - Already submitted evidence (PHER2-T)</a></li>
	<li><a href="notifications/sms-evidence-received">Evidence received - (PHED1-T)</a></li>
	<!--	<li><a href="notifications/sms-hearing-booked">Hearing booked</a></li> -->
	<li><a href="notifications/sms-hearing-reminder-1wk">Hearing reminder - 1 week (PHHR1-T)</a></li>
	<li><a href="notifications/sms-hearing-reminder-1day">Hearing reminder - 1 day (PHHR2-T)</a></li>
</ol>
<hr>
<!--	<h2 id="text-exceptions" class="heading-small">Text - Exceptions</h2>
<ol class="list list-number">
<li><a href="notifications/sms-adjourned-generic">Adjourned</a></li>
<li><a href="notifications/sms-adjourned-evidence">Adjourned evidence</a></li>
<li><a href="notifications/sms-adjourned-medical-evidence">Adjourned medical evidence</a></li>
<li><a href="notifications/sms-new-hearing-booked">New hearing booked</a></li>
<li><a href="notifications/sms-postponed-other">Postponed</a></li>
<li><a href="notifications/sms-revised">Revised</a></li>
<li><a href="notifications/sms-withdrawn">Withdrawn</a></li>
</ol>
<hr> -->
<h2 id="hearing" class="heading-small">Hearing context and support content</h2>
<ol class="list list-number">
	<li><a href="check-your-hearing-details">Check your hearing details</a></li>
	<li><a href="what-to-expect-at-your-hearing">What to expect at your hearing</a></li>
	<!--<li><a href="expenses">Claiming expenses to attend your hearing </a></li>-->
	<li><a href="claiming-hearing-expenses">Claiming expenses to attend your hearing</a></li>
	<li><a href="benefit-appeal-evidence">Providing evidence to support your appeal</a></li>
	<li><a href="contact-us">Contact us</a></li>

</ol>
<hr>
<h2 id="register" class="heading-small">Manage notifications online</h2>
<ol class="list list-number">
	<!--<li><a href="notifications-register/index">Register for notifications</a></li>-->
	<li><a href="manage/manage-email-notifications">Update email address</a></li>
	<li><a href="notifications/manage/email-confirm-change-new">Update email address - Confirmation email to new email address</a></li>
	
	<li><a href="notifications/manage/email-confirm-change-previous">Update email address - Confirmation email to previous email address</a></li>
	<li><a href="notifications/manage/sms-confirm-change">Update mobile number - Confirmation SMS</a></li>
	<li><a href="manage/manage-email-notifications-unsubscribe">Unsubscribe from emails</a></li>
</ol>

<h2 id="register" class="heading-small">Error pages</h2>
<ol class="list list-number">
	<li><a href="error-pages/error-404">Page not found - 404</a></li>
	<li><a href="error-pages/error-500-upto15mins">Service temorarily down (upto 15 minutes) - 500</a></li>
	<li><a href="error-pages/error-500-more15mins">Service temorarily down (more than 15 minutes) - 500</a></li>
</ol>
</div>
</main>
{% endblock %}