{% extends "layout.html" %}
{% block page_title %}
Contact us about your benefit appeal - GOV.UK
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
  <a href="#" class="link-back">Back</a> 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Contact us 
    </h1>

    <p class="lede">Information and support if you need help with the Appeal a benefit decision service. </p>

<h2 class="heading-medium">Benefit appeals helpline</h2>
     <p>Telephone: 0300 123 1142<br/>
      Monday to Friday, 8:30am to 5pm<br/> 
      <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
 
  <p>Please note: the helpline cannot give you legal advice.</p>
   </div>
 </div>
</main>
{% endblock %}