{% extends "layout.html" %}
{% block page_title %}
Before you appeal - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
 {% include "includes/phase_banner_beta.html" %} 
 {% include "includes/breadcrumbs.html" %}
 
 <div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Appeal a benefit decision</h1>
    <div id="nav-links">
      <ol class="nav-list">
        <li><a href="overview">Overview</a></li>
        <li>Before you appeal</li>
        <li><a href="help-with-appeal">Help with your appeal</li>
          <li>Start an appeal</li>
          <li><a href="after-you-appeal">What happens after you’ve appealed</a></li>
        </ol>
      </div>
      <hr>

      <h1 class="heading-large">2. Before you appeal</h1>
      <p>For most benefits you have to ask the Department for Work and Pensions (DWP) to reconsider their decision before you appeal. This is known as requesting ‘mandatory reconsideration’. DWP will then send you a Mandatory Reconsideration Notice (MRN) which tells you whether they have changed their decision. </p>
      <p>If you’re appealing a decision about Housing Benefit then you should <a href="https://www.gov.uk/find-local-council"> contact your local authority</a> before appealing. </p>
      <p>For Child Benefit appeals, <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/child-benefit">contact HMRC</a> first.</p> 
      <p>If you can’t find the right contact details, check the last letter you received about the benefit.</p>  
      <div class="panel panel-border-wide">
        <p>You can appeal up to a month after going through ‘mandatory reconsideration’. You might still be able to appeal after a month, but you’ll need to explain why it’s late. </p>
      </div>
    </div>

    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related links</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="overview">Appeal a benefit decision</a></li>
            <li><a href="#">Link two</a></li>
            <li><a href="#">Link three</a></li>       
          </ul>
        </nav>
      </aside>
    </div>

  </div>
</main>
{% endblock %}