{% extends "layout.html" %}
{% block page_title %}
Benefit appeals process - Appeal a benefit decision - GOV.UK
{% endblock %}
{% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %}
{% block content %}
<main id="content" class="prototype-8" role="main">
     {% include "includes/phase_banner_beta.html" %} 
  {% include "includes/breadcrumbs.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

<h1 class="heading-xlarge">Appeal a benefit decision</h1>

<!-- Add navigation -->

<div id="nav-links">
<ol class="nav-list">
  <li><a href="overview.html">Overview</a></li>
  <li>Benefit appeals process</li>
  <li><a href="start-an-appeal">Start an appeal</a></li>

  <li><a href="evidence">Evidence to support your appeal</a></li>
  <li><a href="hearing">What to expect at the hearing</a></li>
    <li><a href="help-and-support">Help and support</a></li>
</ol>
</div>

<hr>

<h1 class="heading-large">Benefit appeals process</h1>


<br>

<img src="/public/images/progress-bar-guidance.png" width="100%" alt="Benefit appeal progress bar with 4 steps. Step 1 Appeal. Step 2 Response. Step 3 Hearing Booked. Step 4 Hearing">

<h2 class="heading-medium">Appeal received</h2>
<p>We lodge your appeal and send a copy to the department which made the decision about your entitlement to benefits. This will either be DWP, HMRC or your local authority. </p> 

<h2 class="heading-medium">Appeal response </h2>
<p>The department which made the decision about your entitlement to benefits writes a response. This should explain how they’ve made their decision and include any evidence</p>

<h2 class="heading-medium">Hearing booked</h2>
<p>We book a hearing for your appeal. It’s an informal opportunity for you to explain your reasons for appealing. We can make arrangements so the hearing can cater for your needs.</p>     

<h2 class="heading-medium">Hearing </h2>
<p>An <a href="hearing">informal hearing</a> takes place in front of a panel of people called a tribunal. They are independent and will make an impartial decision. </p>

<h2 class="heading-medium">How long does an appeal take?</h2>

<p>It depends on a lot of factors, such as the number of appeals we receive and how busy your local hearing venue is. You can avoid delays to your appeal by: </p>

<ul class="list list-bullet"> 
<li>sending any <a href="">evidence</a> well before the hearing (if you have any)</li>
<li>turning up to the hearing on time </li>
<li>getting a <a href="representatives">representative</a> early (if you need one)</li>
</ul>

           
        </div>

            <div class="column-third">

              <aside class="govuk-related-items" role="complementary">
                <h2 class="heading-medium" id="subsection-title">Related links</h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                  <ul class="font-xsmall">

                    <li><a href="#">Link one</a></li>
                    <li><a href="#">Link two</a></li>
                    <li><a href="#">Link three</a></li>       
              
                </ul>
            </nav>
        </aside>
    </div>
</div>


</footer>
</main>

{% endblock %}