{% extends "layout_unbranded.html" %}
{% block page_title %}
Email - DWP response
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject:</strong> Your ESA benefit appeal</p>

<div class="email-border">

	<div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>

	<br/>

	<p>Dear Mr M Sharma</p>

	<p>The DWP have responded to your ESA benefit appeal. They should have sent you a copy of their response in the post. </p>


<p>We’re now booking a hearing for your appeal. We’ll contact you by 23 Febuary 2017 with the details. </p>


<p>If you have any more evidence, it should be received before 9 Febuary 2017. This is so there’s time to review it before your hearing. Read about submitting evidence: <a href="../evidence">https://www.gov.uk/trackyourappeal/evidence </a> </p>

	<p>Track the progress of your appeal any time: <a href="../status-dwp-response">https://www.gov.uk/trackyourappeal/p19ya35s</a></p>
	<br/>
	<p>Social Security and Child Support Tribunal<br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

</div>

<div style="margin-top: 40px; font-size: 14px;">
	<p><a href="../index">Index</a> | <a href="../evidence">Providing evidence</p>
</div>

</main>

{% endblock %}
