{% extends "layout_unbranded.html" %}

{% block page_title %}
SMS - Register
{% endblock %}

{% block content %}

<main id="content" role="main" style="margin: 0 auto; width: 450px; text-align: left;">

<a href="../status-dwp-response"><img src="/public/images/journey/sms-confirmation.png"></a>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../journey-derick">Index</a> | <a href="sms-evidence-reminder">SMS - Evidence reminder</p>
            </div>

</main>


{% endblock %}