{% extends "layout_unbranded.html" %}

{% block page_title %}
Email - Registered - Confirmation
{% endblock %}

{% block content %}

<main id="content" class="prototype-8" role="main">

<p style="padding-top: 30px;"><strong class="bold-small">Subject: </strong>You’ve registered for email notifications</p>

<div class="email-border">

           <div style="margin-bottom: 45px;"> <img src="/public/images/hmcts-logo.png"></div>
	
	<div class="panel panel-border-wide">
		<p>Appeal reference number: SC242/16/03435</p>
	</div>
<br/>

	<p>Dear Mr M Sharma</p>
	<p>You’ve registered for email notifications about your ESA benefit appeal.</p>


<!--<p>The first update on your appeal has been sent separately.</p>-->


<p>You can also track the progress of your appeal any time at:<br/><a href="../../status?casenumber=SC012%2F34%2F56789&status=appeal">https://www.gov.uk/track-your-appeal/p19ya35s</a></p>

<br/>

	<p><strong class="bold-small">Social Security and Child Support Tribunal</strong><br/>
		HMCTS<br/>
		Telephone: 0300 123 1142<br/>
	</p>

<p>Change your email address or stop these emails:  <a href="../../manage/manage-email-unsubscribe">https://www.gov.uk/trackyourappeal/manage-notifications/p19ya35s</a></p>


</div>

           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../../index">Index</a></p>
            </div>	

</main>

{% endblock %}
