{% extends "layout_unbranded.html" %}

{% block page_title %}
SMS - Confirm change
{% endblock %}

{% block content %}

<main id="content" role="main" style="margin: 0 auto; width: 450px; text-align: left;">
           <div style="margin-top: 40px; font-size: 14px;">

<a href="../../status?casenumber=SC012%2F34%2F56789&status=appeal"><img src="/public/images/notifications/sms-confirm-change.png"></a>
</div>
           <div style="margin-top: 40px; font-size: 14px;">
            <p><a href="../../index">Index</a></p>
            </div>

</main>


{% endblock %}